lightning-helptext{
    vertical-align: bottom;
}

.slds-page-header__title{
    font-size: large !important;
    font-weight: bold !important;
}

thead{
    font-size: medium !important;
}

td{
    font-size: small !important;
}

label{
    font-size: small !important;
    font-weight: normal !important;
}

.help-hover{
    cursor: pointer !important;
}