<template>
    
    <template if:true={isLoading}>

        <div>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

    </template>

    <template if:false={isLoading}>

        <lightning-card>

            <h3 slot="title">
                <div class="slds-page-header__row">
                    <img src={notificationsImageURL}/>
                    <span class="slds-p-left_small slds-page-header__title">{pageTitle}</span>
                </div>
            </h3>                        

            <template if:true={isPortalUser}>

                <template if:true={showMessage}>

                    <div class="portal-messages">
                        <c-toast-message message-type={messageType} message={message}></c-toast-message>
                    </div>

                </template>

            </template>

            <table class="slds-table slds-table_cell-buffer slds-table_bordered">

                <thead>

                    <tr class="slds-line-height_reset">
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Subscription Status">
                                Subscription Status              
                                <span title="Indicates whether you have subscribed to the notification event." class="help-hover slds-p-left_small">
                                    <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                </span>
                            </div>
                        </th>                                
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Notification Event">
                                Notification Event
                                <span title="The load event that will trigger a notification." class="help-hover slds-p-left_small">
                                    <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                </span>                                
                            </div>
                        </th>

                        <template if:true={showSubscriptionScope}>

                            <th class="" scope="col">

                                <div class="slds-truncate" title="Subscription Scope">
                                    Subscription Scope
                                    <span title="Define the scope of orders to subscribe to." class="help-hover slds-p-left_small">
                                        <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                    </span>                                         
                                </div>
                                
                            </th>

                        </template>
                        
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Delivery Options">
                                Delivery Options
                                <span title="Select the ways you would like to be notified.  You can select daily/weekly email digests and other options for each event occurrence." class="help-hover slds-p-left_small">
                                    <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                </span>                                 
                            </div>
                        </th>

                    </tr>

                </thead>

                <tbody>

                    <template for:each={subscriptionOptions} for:item="subscriptionOption" for:index="index">

                        <tr key={subscriptionOption.Id} class="slds-hint-parent">

                            <td data-label="Subscription Status">

                                <template if:true={subscriptionOption.subscribed}>

                                    <div class="slds-p-bottom_xx-small">

                                        <lightning-input 
                                            data-index={index}
                                            type="toggle" 
                                            value={subscriptionOption.subscribed} 
                                            message-toggle-active="Subscribed"
                                            message-toggle-inactive="Not Subscribed"                                    
                                            onchange={onSubscriptionChange}
                                            checked>
                                        </lightning-input>     

                                    </div>

                                </template>

                                <template if:false={subscriptionOption.subscribed}>

                                    <div class="slds-p-bottom_xx-small">

                                        <lightning-input 
                                            data-index={index}
                                            type="toggle" 
                                            value={subscriptionOption.subscribed} 
                                            message-toggle-active="Subscribed"
                                            message-toggle-inactive="Not Subscribed"
                                            onchange={onSubscriptionChange}>
                                        </lightning-input>                                

                                    </div>
                                    
                                </template>                            

                            </td>
                            <td data-label="Notification Event">
                                <div class="slds-truncate" title={subscriptionOption.notificationType.Description__c}>{subscriptionOption.notificationType.Description__c}</div>
                            </td>

                            <template if:true={showSubscriptionScope}>

                                <td data-label="Subscription Scope">

                                    <template if:true={subscriptionOption.subscribed}>

                                        <template if:true={subscriptionScopeTypeOptions}>

                                            <div class="slds-p-bottom_xx-small">
                                    
                                                <lightning-combobox
                                                    data-index={index}
                                                    placeholder="Select Subscription Scope"
                                                    value={subscriptionOption.selectedSubscriptionScopeType}
                                                    options={subscriptionScopeTypeOptions}
                                                    onchange={handleSubscriptionScopeTypeChange}
                                                    dropdown-alignment={dropdownAlignment}>
                                                </lightning-combobox>

                                            </div>

                                            <template if:true={subscriptionOption.showUserSelection}>

                                                <div class="slds-p-bottom_xx-small">

                                                    <lightning-combobox
                                                        data-index={index}
                                                        placeholder="Select User"
                                                        value={subscriptionOption.selectedSubscriptionScopeValue}
                                                        options={userOptions}
                                                        onchange={handleUserChange}
                                                        dropdown-alignment={dropdownAlignment}>
                                                    </lightning-combobox> 

                                                </div>

                                            </template>                                                                                     
                                            
                                            <template if:true={subscriptionOption.showComZone}>

                                                <div class="slds-p-bottom_xx-small">

                                                    <c-multi-select-combo-box 
                                                        index={index}
                                                        options={comZoneOptions}                                                 
                                                        placeholder="Select COM Zone(s)"
                                                        initial-value={subscriptionOption.selectedSubscriptionScopeValue}
                                                        onvaluechange={handleComZoneChange}>
                                                    </c-multi-select-combo-box>                                            

                                                </div>

                                            </template>

                                            <template if:true={subscriptionOption.showZone}>

                                                <div class="slds-p-bottom_xx-small">

                                                    <c-multi-select-combo-box 
                                                        index={index}
                                                        options={zoneOptions}                                                 
                                                        placeholder="Select Zone(s)"
                                                        initial-value={subscriptionOption.selectedSubscriptionScopeValue}
                                                        onvaluechange={handleZoneChange}>                                                    
                                                    </c-multi-select-combo-box>                                            

                                                </div>

                                            </template>                                            

                                            <template if:true={subscriptionOption.showProfitCenter}>
                                                
                                                <div class="slds-p-bottom_xx-small">

                                                    <c-multi-select-combo-box 
                                                        index={index}
                                                        options={profitCenterOptions}                                                 
                                                        placeholder="Select Profit Center(s)"
                                                        initial-value={subscriptionOption.selectedSubscriptionScopeValue}
                                                        onvaluechange={handleProfitCenterChange}>
                                                    </c-multi-select-combo-box>

                                                </div>
                                                
                                            </template>
                                                                
                                        </template>

                                    </template>

                                </td>

                            </template>

                            <td data-label="Delivery Options">

                                <template if:true={subscriptionOption.subscribed}>
                                
                                    <div class="slds-grid slds-gutters">

                                        <div class="slds-col slds-form-element">

                                            <label class="slds-form-element__label">Daily Email Digest</label>

                                            <div class="slds-form-element__control">
                                                
                                                <template if:true={subscriptionOption.dailyEmailDigest}>
                
                                                    <lightning-input 
                                                        data-index={index}
                                                        type="toggle" 
                                                        value={subscriptionOption.dailyEmailDigest} 
                                                        message-toggle-active="Opted In"
                                                        message-toggle-inactive="Opted Out"                                    
                                                        onchange={handleDailyDigestChange}
                                                        checked>
                                                    </lightning-input>     
                                
                                                </template>     
                                                
                                                <template if:false={subscriptionOption.dailyEmailDigest}>
                
                                                    <lightning-input 
                                                        data-index={index}
                                                        type="toggle" 
                                                        value={subscriptionOption.dailyEmailDigest} 
                                                        message-toggle-active="Opted In"
                                                        message-toggle-inactive="Opted Out"                                    
                                                        onchange={handleDailyDigestChange}>
                                                    </lightning-input>     
                                
                                                </template>   
                                                
                                            </div>

                                        </div>

                                        <div class="slds-col slds-form-element">

                                            <label class="slds-form-element__label">Weekly Email Digest</label>

                                            <div class="slds-form-element__control">

                                                <template if:true={subscriptionOption.weeklyEmailDigest}>

                                                    <div class="slds-p-bottom_xx-small">
                
                                                        <lightning-input 
                                                            data-index={index}
                                                            type="toggle" 
                                                            value={subscriptionOption.weeklyEmailDigest} 
                                                            message-toggle-active="Opted In"
                                                            message-toggle-inactive="Opted Out"                                    
                                                            onchange={handleWeeklyDigestChange}
                                                            checked>
                                                        </lightning-input>     
                
                                                    </div>
                
                                                </template>     
                                                
                                                <template if:false={subscriptionOption.weeklyEmailDigest}>

                                                    <div class="slds-p-bottom_xx-small">
                
                                                        <lightning-input 
                                                            data-index={index}
                                                            type="toggle" 
                                                            value={subscriptionOption.weeklyEmailDigest} 
                                                            message-toggle-active="Opted In"
                                                            message-toggle-inactive="Opted Out"                                    
                                                            onchange={handleWeeklyDigestChange}>
                                                        </lightning-input>     
                
                                                    </div>
                
                                                </template>    
                                                
                                            </div>

                                        </div>

                                        <div class="slds-col slds-form-element">

                                            <label class="slds-form-element__label">Per Occurrence</label>

                                            <div class="slds-form-element__control">                                    

                                                <c-multi-select-combo-box 
                                                    index={index}
                                                    options={subscriptionOption.availableDeliveryMethodOptions}                                                 
                                                    placeholder="Select Delivery Method(s)"
                                                    initial-value={subscriptionOption.selectedDeliveryMethods}
                                                    onvaluechange={handleDeliveryMethodChange}>
                                                </c-multi-select-combo-box>   
                                                    
                                            </div>

                                        </div>

                                    </div>                                                                    

                                </template>
                                    
                            </td>                
                            
                        </tr>

                    </template>

                </tbody>

            </table>

            <h3 slot="footer">

                <lightning-button slot="actions" label="Save" variant="brand" title="Save" onclick={onUpdateSubscriptions}></lightning-button>

                <template if:true={showClose}>
                    <lightning-button slot="actions" class="slds-p-left_small" label="Close" variant="neutral" title="Close" onclick={onCancel}></lightning-button>
                </template>
                
            </h3>

        </lightning-card>

    </template>

</template>