.slds-text-heading_large{
    font-weight: bold;
    font-size: 16px !important;  
}

.slds-dl_horizontal__label{
    font-weight: bold;
    width: auto !important;
    font-size: 12px !important;
}

.title-detail {
    font-weight: normal;
}

.slds-dl_horizontal__detail{
    font-size: 10px !important;
}

dd, dt {
    line-height: normal !important;
}

.blank-space{
    min-height: 30px !important;
}

.load-arrival-status-in-transit{
    color: green;
}

.load-arrival-status-in-shipped{
    color: green;
}

.load-arrival-status-delayed{
    color: red;
}

.load-arrival-status-delivered{
    color: blue;
}

.load-arrival-status-complete{
    color: black;
}