<template>

    <template if:true={isLoading}>

        <div>
            <lightning-spinner size="medium"></lightning-spinner>
        </div>

    </template>

    <template if:false={isLoading}>

        <lightning-layout>

            <template if:true={showTitle}>

                <lightning-layout-item flexibility="auto" padding="around-small">

                    <h3 slot="title">Load Tracking Details</h3>

                </lightning-layout-item>

            </template>        

            <template if:true={loadsFound}>            
            
                <lightning-layout-item flexibility="auto" padding="around-small" size="12">

                    <div class="slds-p-around_medium lgc-bg">

                        <div class="slds-box slds-theme_success">
                            
                            <div class="slds-text-heading_large slds-p-bottom_xx-small slds-align_absolute-center">Load Tracking Details</div>

                            <div class="slds-align_absolute-center">

                                <dl style="display:flex;">

                                    <lightning-layout-item flexibility="auto" size="12">

                                        <dt class="slds-dl_horizontal__label">Order # <span class="title-detail">{loadInfo.OrderNumber}</span></dt>                                            

                                    </lightning-layout-item>

                                </dl>                             

                            </div> 
                            
                            <div class="slds-align_absolute-center">

                                <dl style="display:flex;">

                                    <lightning-layout-item flexibility="auto" size="12">

                                        <dt class="slds-dl_horizontal__label">PO # <span class="title-detail">{loadInfo.PONumber}</span></dt>                                            

                                    </lightning-layout-item>

                                </dl>   

                            </div>

                        </div>

                        <div class="slds-align_absolute-center slds-p-around_small">

                            <a href={fileDownloadHRef} download={fileDownloadName}>
                                
                                <lightning-button 
                                    icon-name="utility:download" 
                                    variant="brand" 
                                    title="Download Load Details"
                                    label="Download">                                    
                                </lightning-button>

                            </a>
                            
                        </div>

                        <template if:true={errorMessage}>

                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
            
                                <div class="slds-box slds-theme_error slds-align_absolute-center">
                                    <h3>Error: {errorMessage}</h3>
                                </div>
            
                            </lightning-layout-item>
            
                        </template>                            

                        <ul class="slds-has-dividers_bottom-space">

                            <template for:each={loadInfo.loads} for:item="load" for:index="index">

                                <li class="slds-item slds-border_top slds-border_left slds-border_right slds-m-bottom_medium slds-m-top_medium slds-theme_shade" key={load.LoadID}>

                                    <dl style="display:flex;">

                                        <lightning-layout-item flexibility="auto" padding="around-small" size={loadInfo.columnSize}>

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Ship To">Ship To</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.CmpName}>{load.CmpName}</div>
                                            </dd>    
                                            
                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Status">Status</div>
                                            </dt>
                                
                                            <dd class={load.stopArrivalStatusClasses}>
                                                <div class="slds-truncate" title={load.StpStatus}>{load.StpStatus}</div>
                                            </dd> 

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Load Code">Load Code</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.LoadCode}>{load.LoadCode}</div>
                                            </dd>                                             

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Carrier">Carrier</div>
                                            </dt>
                                
                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.Carrier}>{load.Carrier}</div>
                                            </dd>                                             
                                                    
                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Quantity">Quantity</div>                         
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.Quantity}>{load.Quantity}</div>
                                            </dd>                                                

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Back Order Details">Back Order Details</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="" title={load.BackOrderDetails}>
                                                    <lightning-formatted-rich-text value={load.BackOrderDetails}></lightning-formatted-rich-text>
                                                </div>
                                            </dd>                                         

                                        </lightning-layout-item>

                                        <lightning-layout-item flexibility="auto" padding="around-small" size={loadInfo.columnSize}>

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Car Type">Car Type</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.CarName}>{load.CarName}</div>
                                            </dd>
                                            
                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Serial Numbers">Serial Numbers</div>
                                            </dt>                                        

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" style="white-space: break-spaces;" title={load.SerialNumbers}>{load.SerialNumbers}</div>
                                            </dd>                                             

                                        </lightning-layout-item>
                                        
                                        <lightning-layout-item flexibility="auto" padding="around-small" size={loadInfo.columnSize}>                                

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Scheduled Ship Date">Scheduled Ship Date</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.ScheduledPickupDateTime}>{load.ScheduledPickupDateTime}</div>
                                            </dd>     

                                            <template if:true={load.kochLoadDataMatch}>

                                                <!-- Blank Space -->
                                                <dt class="blank-space"></dt>

                                            </template>

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Actual Ship Date">Actual Ship Date</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.ActualPickupDateTime}>{load.ActualPickupDateTime}</div>
                                            </dd>   
                                            
                                            <template if:true={load.kochLoadDataMatch}>
                                            
                                                <dt class="slds-dl_horizontal__label">
                                                    <div class="slds-truncate" title="Nearest City">Nearest City</div>
                                                </dt>

                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <div class="slds-truncate" title={load.NearestGPSLocation}>{load.NearestGPSLocation}</div>
                                                </dd>                                          
                                                
                                            </template>

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Shipping Instructions">Shipping Instructions</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={loadInfo.ShippingInstructions}>{loadInfo.ShippingInstructions}</div>
                                            </dd>                                                                                                                                                                                                                                       

                                        </lightning-layout-item>

                                        <lightning-layout-item flexibility="auto" padding="around-small" size={loadInfo.columnSize}>                                
                                             
                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Scheduled Delivery Date">Scheduled Delivery Date</div>
                                            </dt>                                        

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.ScheduledDeliveryDateTime}>{load.ScheduledDeliveryDateTime}</div>
                                            </dd>                                         

                                            <template if:true={load.kochLoadDataMatch}>

                                                <dt class="slds-dl_horizontal__label">
                                                    <div class="slds-truncate" title="Estimated Delivery Date">Estimated Delivery Date</div>
                                                </dt>      
                                                            
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <div class="slds-truncate" title={load.LatestCalculatedDeliveryDate}>{load.LatestCalculatedDeliveryDate}</div>
                                                </dd>    

                                            </template>
                                                
                                            <template if:true={load.kochLoadDataMatch}>

                                                <dt class="slds-dl_horizontal__label">
                                                    <div class="slds-truncate" title="Actual Delivery Date">Actual Delivery Date</div>
                                                </dt>

                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <div class="slds-truncate" title={load.ActualDeliveryDateTime}>{load.ActualDeliveryDateTime}</div>
                                                </dd>         
                                                
                                            </template>

                                            <template if:true={load.kochLoadDataMatch}>

                                                <dt class="slds-dl_horizontal__label">
                                                    <div class="slds-truncate" title="Miles Remaining">Miles Remaining</div>                                    
                                                </dt>                                        
                                                
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <div class="slds-truncate" title={load.Distance}>{load.Distance}</div>
                                                </dd>  

                                            </template>

                                            <dt class="slds-dl_horizontal__label">
                                                <div class="slds-truncate" title="Last Updated">Last Updated</div>
                                            </dt>

                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <div class="slds-truncate" title={load.LastUpdate}>{load.LastUpdate}</div>
                                            </dd>                                               
                                            
                                        </lightning-layout-item>     
                                        
                                        <template if:true={load.kochLoadDataMatch}>

                                            <lightning-layout-item flexibility="auto" padding="around-small" size="3">   

                                                <template if:true={isPortalUser}>

                                                    <dt class="slds-dl_horizontal__label">
                                                        <lightning-formatted-text value="Use Ctrl + Scroll to zoom the map."></lightning-formatted-text>
                                                    </dt>
                                                    <br/>

                                                </template>

                                                <dd style="display:flex;" class="slds-dl_horizontal__detail slds-tile__meta">

                                                    <lightning-map 
                                                        map-markers={load.mapMarkers}
                                                        zoom-level="9">
                                                    </lightning-map>

                                                </dd>

                                            </lightning-layout-item>

                                        </template>                                            
                                            
                                    </dl>  

                                </li>
                            
                            </template>

                        </ul>

                    </div>     
                    
                </lightning-layout-item>

            </template>

            <template if:false={loadsFound}>

                <lightning-layout-item flexibility="auto" padding="around-small" size="12">

                    <div class="slds-p-around_medium lgc-bg">                

                        <div class="slds-box slds-theme_warning slds-align_absolute-center">
                            No Load Information Found for Order # {loadInfo.OrderNumber}
                        </div>

                    </div>

                </lightning-layout-item>

            </template>
        
        </lightning-layout>

    </template>

</template>