<template>
    <!-- Ethan Hardin 8/7/2023 Providity
    Commenting out the PO Number section for now as no clients should be using POs.
    <div class="slds-box">
        <input
            type="radio"
            id="po-number"
            value={paymentTypes.poNumber}
            name="payment-type-option"
            onclick={handlePaymentTypeSelected}
            checked={isPoNumberSelected2}
        />
        <label
            class="slds-radio__label slds-p-horizontal_x-small"
            for="po-number"
        >
            <span class="slds-form-element__label slds-text-title_bold"
                >PO Number</span
            >
        </label>
        
        <lightning-input
            data-po-number
            type="text"
            name="PONumberInput"
            label="Enter PO Number"
            value={purchaseOrderNumber}
            onblur={handleUpdate}
            max-length="80"
        >
        </lightning-input>
        
        <c-billing-address-selector
            addresses={addresses}
            onsetbillingaddress={handleChangeSelectedAddress}
            billing-address-required={billingAddressRequired}
            billing-address-error-message={billingAddressErrorMessage}
        >
        </c-billing-address-selector>
    </div> -->
    <div class="slds-box slds-m-top_large">
        <input
        type="radio"
        id="card-payment"
        value={paymentTypes.cardPayment}
        name="payment-type-option"
        onclick={handlePaymentTypeSelected}
        checked={isCardPaymentSelected2}
    />
    <label
        class="slds-radio__label slds-p-horizontal_x-small"
        for="card-payment"
    >
        <span class="slds-form-element__label slds-text-title_bold"
            >Credit Card</span
        >
    </label>
    <c-card-payment-method
                data-credit-payment-method
                card-holder-name-required={cardHolderNameRequired}
                card-type-required={cardTypeRequired}
                expiry-month-required={expiryMonthRequired}
                expiry-year-required={expiryYearRequired}
                cvv-required={cvvRequired}
                po-required={poRequired}
                hide-card-holder-name={hideCardHolderName}
                hide-card-type={hideCardType}
                hide-cvv={hideCvv}
                hide-expiry-month={hideExpiryMonth}
                hide-expiry-year={hideExpiryYear}
                hide-po-number={hidePoNumber}
                card-auth-error-message={_cardAuthErrorMessage}
            >
            </c-card-payment-method>
    <c-billing-address-selector
        addresses={addresses}
        onsetbillingaddress={handleChangeSelectedAddress}
        billing-address-required={billingAddressRequired}
        billing-address-error-message={billingAddressErrorMessage}
    >
    </c-billing-address-selector>
    <p><a href={welchAddressTabLink} rel="noopener noreferrer" target="_self" style="font-size: 16px;"><strong>Click here</strong></a> <span style="font-size: 16px;"> to update your billing address.</span><strong style="font-size: 16px;"><span class="ql-cursor"></span></strong></p>
        </div>
            <div class="slds-card__footer slds-p-vertical_x-small">
                
                    
                    <lightning-button variant="destructive" label="Submit Payment" title="Submit Payment" onclick={handlePaymentButton} class="slds-m-left_x-small"></lightning-button>
                
            </div>
            
    

    
</template>