<template>
	<template if:false={loaded}>
		<lightning-spinner alternative-text="Loading"></lightning-spinner>
	</template>
	<lightning-layout multiple-rows="true" class="slds-grid_vertical" style="height: 100%">
		<lightning-layout-item size="12">
			<div class="slds-tabs_default slds-tabs_card card-shadow">
				<lightning-button-icon
						icon-name="utility:info"
						class="help-text"
						title="Settings"
						size="large"
						variant="bare"
						tooltip={crossSellItem.description}
						alternative-text={crossSellItem.description}
				></lightning-button-icon>
				<!--lightning-helptext content={crossSellItem.description} class="help-text" icon-variant = "error" ></lightning-helptext-->

				<figure class="slds-image figs">
					<a href={crossSellItem.fullUrl} target="_blank">
						<img src={crossSellItem.defaultImageUrl} class="img-style" alt={crossSellItem.defaultImageTitle} />
					</a>
				</figure>
			</div>
		</lightning-layout-item>
		<lightning-layout-item size="12">
			<p class="sku">{label.SKU}{crossSellItem.stockKeepingUnit}</p>
		</lightning-layout-item>
		<lightning-layout-item size="12" alignment-bump="bottom">
			<a href={crossSellItem.fullUrl} class="slds-image__crop--4-by-3" target="_blank">
				<p class="product-name slds-var-m-top_small slds-var-m-bottom_small">{crossSellItem.name}</p>
			</a>
		</lightning-layout-item>
		<lightning-layout-item size="12">
			<div class="slds-grid slds-wrap slds-box slds-box_x-small slds-var-m-around_x-small">
				<div class="slds-col slds-size_1-of-4">
					<a onclick={handleRemoveClick}>
						<span class="slds-float_left">
							<lightning-icon icon-name="utility:ban" alternative-text="remove" size="small" class="remove-icon"></lightning-icon>
						</span>
					</a>
				</div>
				<div class="slds-col slds-size_2-of-4">
					<span class="slds-align_absolute-center quantity">{quantity} </span>
				</div>
				<div class="slds-col slds-size_1-of-4">
					<a onclick={handleAddClick}>
						<span class="slds-float_right">
							<div class="add-icon">
								<lightning-icon icon-name="utility:clear" alternative-text="add" size="small"></lightning-icon>
							</div>
						</span>
					</a>
				</div>
			</div>
			<!--input type="Integer" value={quantity} onchange={handleQuantityChange} data-value={crossSellItem.recId} /-->
		</lightning-layout-item>
		<lightning-layout-item size="12">
			<a onclick={handleAddToCart}
			><div class="slds-box slds-box_x-small slds-var-m-around_x-small add-to-cart">
					<span>
						<lightning-icon
								class="add-to-cart-icon"
								icon-name="utility:cart"
								alternative-text={label.ADD_TO_CART}
								variant="brand"
								title={label.ADD_TO_CART}
								size="small"
						></lightning-icon> </span
					><span class="slds-var-m-around_x-small quantity">{label.ADD_TO_CART}</span>
			</div></a
			>
		</lightning-layout-item>
		<lightning-layout-item size="12">
			<div class="unit-price">
				<lightning-formatted-number
						currency-code={crossSellItem.currencyIsoCode}
						format-style="currency"
						value={crossSellItem.unitPrice}
				></lightning-formatted-number>
			</div>
		</lightning-layout-item>
	</lightning-layout>
</template>

<!--
 Picture size ratio must be 1:1

Sku font-size from x-small to small

General_ font-family should be same as used on the page

cart icon is to big, reduze to 24px

Title need also margin-bottom with 0.75 rem
-->