.THIS file {
    height:10px !important; 
    width:10px !important;
    background:#000000 !important;
    width: 150px;
    border: 1px solid black; 
    max-width: 100% !important;
    position: absolute  !important; 
    top: 0%  !important; ;
    left: 0%  !important; 
    -webkit-transform: translate3d(-50%, -50%, 0)  !important; 
    -ms-transform: translate3d(-50%, -50%, 0)  !important; 
    transform: translate3d(-50%, -50%, 0)  !important; 
    max-width: 100%  !important;   
}