.chatter-feed {
    padding: 10px;
    background-color: #f9f9f9; 
 }
 .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
 }
 .header lightning-button {
   margin: 0 5px;
}
 .expand-post-button{
    margin-right: 1rem;
 }
 .post{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white; /* Set the background to white */
 }
 .emails{
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid #ddd;
   border-radius: 8px;
}
 .post-body{
   padding: 5px;
   margin-bottom: 5px;
 }
 .post-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.post-info {
   font-size: 12px; /* Smaller font size for info */
   color: #555; /* Gray color for the posted by info */
   margin-top: 5px; /* Space between header and info */
}
.post-comments {
   margin-top: 10px;
   padding-left: 20px;
}
.comment {
   border: 1px solid #cfd2d6;
   padding: 0.5rem;
   margin-top: 0.5rem; /* Space between comments */
   border-radius: 4px;
   background-color: #ffffff;
}
.add-comment {
   margin-top: 10px;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #ddd;
   border-radius: 2px;
}
 .email-body {
   max-width: 100%;
   width: 600px;
   margin: 0 auto;
   padding: 1rem;
   background-color: #f4f4f4;
   border-radius: 5px;
   font-family: 'Arial', sans-serif;
   line-height: 1.5;
   word-wrap: break-word;
   overflow-wrap: break-word;
   white-space: normal;
   text-align: left;
   /* Consider the following for scrollable long content */
   /* max-height: 300px; /* Set a max height for large email content */
   overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}
 .email-actions {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
}
.expand-all-button {
   margin: 0 5px;
}
.email-actions lightning-button {
   margin: 0 5px;
   border: auto;

}
.slds-modal__container {
   width: 85%;
}
.slds-modal__content {
   display: flex;
   flex-direction: column;
}
.slds-modal__footer {
   justify-content: flex-end;
}
.suggestion-list {
   border: 1px solid #d8dde6;
   border-radius: 4px;
   max-height: 150px;
   overflow-y: auto;
   margin-top: 5px;
   padding: 0;
   list-style-type: none;
}
.suggestion-list li {
   padding: 8px;
   cursor: pointer;
}
.suggestion-list li:hover {
   background-color: #f4f6f9;
}

@keyframes spin {
   0% {
       transform: rotate(0deg);
   }
   100% {
       transform: rotate(360deg);
   }
}
/* Apply the spinning animation */
.spin {
   animation: spin 1s linear infinite;
}
.error-message {
   color: red;
   font-size: 0.8px;
   margin-top: 5px;
   text-align: left;
}
.attachment-icon {
   justify-content: flex-end;
   margin-bottom: 2px;
}