.THIS .titleColor{
    color: black;
}
.THIS a.menuButton.slds-button_icon-border-inverse.slds-button.slds-button_icon-inverse.slds-button_icon-border-filled.slds-button_icon-x-small.slds-p-right_xxx-small{    
    display: none;
}