<template>
    
    <div>
                        
        <div class="slds-notify_container slds-is-relative">
        
            <div class={themeClasses} role="status">
        
                <span class="slds-assistive-text">{messageType}</span>
        
                <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top" title="">
                
                    <lightning-icon 
                        icon-name={messageIcon} 
                        alternative-text={messageType} 
                        title={messageType}
                        size="small"
                        variant="inverse">
                    </lightning-icon>
                
                </span>
        
                <div class="slds-notify__content">
        
                    <h2 class="slds-text-heading_small">
                        <lightning-formatted-rich-text value={message}></lightning-formatted-rich-text>
                    </h2>
        
                </div>
        
                <!-- <div class="slds-notify__close">
    
                    <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close">
    
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
    
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
    
                        </svg>
    
                        <span class="slds-assistive-text">Close</span>
    
                    </button>
    
                </div> -->
        
            </div>
        
        </div>
        
    </div>     

</template>