<template>

    <template if:true={isLoading}>

        <div>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

    </template>

    <template if:false={isLoading}>    

        <div class="slds-p-around_medium">

            <fieldset style="border: 1px solid rgb(221, 219, 218)">

                <legend>       
                    <span class="slds-p-left_x-small slds-p-bottom_x-small">
                        <!-- <img class="icon-large" src={titleIconURL}/> -->
                        <c-font-awesome-icon icon-name="Notification_Delivery_Preferences" icon-size-override="2x"></c-font-awesome-icon>
                    </span>
                    &nbsp;                                                
                    <span class="slds-text-heading_medium"><b>Notification Delivery Preferences</b></span>
                    &nbsp;
                </legend>          

                <lightning-layout multiple-rows="true">

                    <lightning-layout-item flexibility="auto" padding="around-small" size="12">

                        <!-- <img class="icon-small" src={lightBulbIconURL}/> -->
                        <span class="slds-p-around_x-small">
                            <c-font-awesome-icon icon-name="Info" icon-size-override="2x"></c-font-awesome-icon>
                        </span>
                        
                        If you would like to restrict the time of day you receive real-time notifications, please specify the window below.                      

                    </lightning-layout-item>

                    <lightning-layout-item flexibility="auto" padding="around-small" size="6">        
                    
                        <p class="form_label">Email Address</p>
                        <div class="slds-p-top_large">
                            <lightning-formatted-text value={email}></lightning-formatted-text>
                        </div>

                    </lightning-layout-item>
                    
                    <lightning-layout-item flexibility="auto" padding="around-small" size="6">        
                    
                        <p class="form_label">Mobile Phone</p>
                        <lightning-input type="tel" value={mobilePhone} onchange={onMobilePhoneChange}></lightning-input>

                    </lightning-layout-item>                    

                    <lightning-layout-item flexibility="auto" padding="around-small" size="12">

                        <p class="form_label">Time Zone</p>
                        <lightning-combobox value={timeZone} options={timeZoneOptions} onchange={onTimeZoneChange}></lightning-combobox>

                    </lightning-layout-item>

                    <lightning-layout-item flexibility="auto" padding="around-small" size="6">        
                    
                        <p class="form_label">Delivery Window Start</p>
                        <lightning-input type="time" value={deliveryWindowStart} onchange={onDeliveryWindowStartChange}></lightning-input>

                    </lightning-layout-item>

                    <lightning-layout-item flexibility="auto" padding="around-small" size="6">                    

                        <p class="form_label">Delivery Window End</p>
                        <lightning-input type="time" value={deliveryWindowEnd} onchange={onDeliveryWindowEndChange}></lightning-input>

                    </lightning-layout-item>

                    <lightning-layout-item flexibility="auto" padding="around-small" size="12">

                        <lightning-button label="Update Preferences" variant="brand" title="Update Preferences" onclick={onUpdatePreferences}></lightning-button>

                    </lightning-layout-item>

                </lightning-layout>

            </fieldset>

        </div>

    </template>

</template>