<template>
    
    <div onkeyup={handleKeyUp}>

        <span style="vertical-align: middle;">

            <span title="Enter a minimum of 2 characters" class="help-icon-container slds-p-right_xx-small">
                <c-font-awesome-icon icon-name="Hover_Help" icon-size-override={helpIconSize}></c-font-awesome-icon>
            </span>

            <lightning-input
                name="search"            
                type="search"
                value={searchTerm}
                placeholder="Search"
                onchange={onSearchChange}
                class="search-input">
            </lightning-input>

        </span>

    </div>

</template>