<template>
    
    <template if:true={isLoading}>

        <div>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

    </template>

    <template if:false={isLoading}>

        <template if:true={showHelixMessage}>

            <template if:true={isAsset}>
                <c-c-t-s_-i-o-t_-asset_-helix_-message record-id={recordId}></c-c-t-s_-i-o-t_-asset_-helix_-message>
            </template>

            <template if:true={isAccount}>
                <c-c-t-s_-i-o-t_-site_-helix_-message record-id={recordId}></c-c-t-s_-i-o-t_-site_-helix_-message>
            </template>            

        </template>

        <template if:false={showHelixMessage}>

            <div class="slds-p-top_small slds-p-bottom_small">

                <lightning-card>

                    <lightning-layout horizontal-align="spread" class="slds-p-bottom_small">

                        <lightning-layout-item class="title-section">

                            <!-- <img class="icon-large" src={titleIconURL}/> -->
                            <c-font-awesome-icon icon-name="Notif_Sub_Settings" icon-size-override="2x"></c-font-awesome-icon>

                            <span class="slds-text-heading_medium slds-p-left_xx-small">
                                {pageTitle}
                            </span>

                        </lightning-layout-item>

                        <lightning-layout-item class="title-actions-section">

                            <template if:false={isEmbeddedOnDetailsPage}>
                                <lightning-button label="Cancel" class="slds-p-around_x-small" variant="destructive-text" title="Cancel" onclick={onCancel}></lightning-button>
                            </template>
        
                            <lightning-button label="Update Subscriptions" variant="brand" title="Update Subscriptions" onclick={onUpdateSubscriptions}></lightning-button>
        
                        </lightning-layout-item>

                    </lightning-layout>                  
    
                    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
    
                        <thead>
    
                            <tr class="slds-line-height_reset">
    
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Subscription Status">
                                        Subscription Status              
                                        <span title="Indicates whether you have subscribed, not subscribed, or opted out for the event type." class="help-hover slds-p-left_small">
                                            <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                        </span>
                                    </div>
                                </th>    
                                
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Subscription Level">
                                        Subscription Level
                                        <span title="The level in the site/asset hierarchy that the subscription applies to." class="help-hover slds-p-left_small">
                                            <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                        </span>                                
                                    </div>
                                </th>                               
    
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Event Type">
                                        Event Type
                                        <span title="The event type that will trigger a notification." class="help-hover slds-p-left_small">
                                            <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                        </span>                                
                                    </div>
                                </th>                             
                              
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Delivery Options">
                                        Delivery Options
                                        <span title="Select the ways you would like to be notified.  You can select daily/weekly email digests and other options for each event occurrence." class="help-hover slds-p-left_small">
                                            <lightning-icon icon-name="utility:info" size="x-small"></lightning-icon>
                                        </span>                                 
                                    </div>
                                </th>
    
                            </tr>
    
                        </thead>
    
                        <tbody>
    
                            <template for:each={subscriptionOptions} for:item="subscriptionOption" for:index="index">
    
                                <tr key={subscriptionOption.Id} class="slds-hint-parent">
    
                                    <td data-label="Subscription Status">
    
                                        <div class="slds-p-top_small slds-p-bottom_xx-small">   
    
                                            <template if:false={subscriptionOption.optedOut}>
    
                                                <template if:true={subscriptionOption.subscribed}>
    
                                                    <lightning-input 
                                                        data-index={index}
                                                        value={subscriptionOption.subscribed}
                                                        type="toggle" 
                                                        message-toggle-active="Subscribed"
                                                        message-toggle-inactive="Unsubscribed"                                   
                                                        checked
                                                        onclick={onUnsubscribe}>
                                                    </lightning-input>                                                                                               
    
                                                </template>  
                                                                                    
                                                <template if:false={subscriptionOption.subscribed}>
    
                                                    <lightning-input 
                                                        data-index={index}
                                                        type="toggle" 
                                                        value={subscriptionOption.subscribed}
                                                        message-toggle-active="Subscribed"
                                                        message-toggle-inactive="Unsubscribed"                                     
                                                        onclick={onSubscribe}>
                                                    </lightning-input>                                              
    
                                                </template>    
                                                
                                            </template>
    
                                            <template if:true={subscriptionOption.optedOut}>
    
                                                <lightning-input 
                                                    data-index={index}
                                                    type="toggle" 
                                                    value={subscriptionOption.subscribed}
                                                    message-toggle-active="Subscribed"
                                                    message-toggle-inactive="Unsubscribed"                                     
                                                    onclick={onSubscribe}>
                                                </lightning-input>                                              
    
                                            </template>                                             
                                                
                                        </div>
                                            
                                    </td>
    
                                    <td data-label="Subscription Level">
                                        
                                        <div class="slds-grid">
    
                                            <div class="slds-col slds-form-element slds-m-left_large" title={subscriptionOption.subscriptionLevel}>  
    
                                                <c-font-awesome-icon icon-name={subscriptionOption.subscriptionLevelIcon} icon-size-override="2x"></c-font-awesome-icon>
     
                                                <!--<lightning-icon 
                                                    icon-name={subscriptionOption.subscriptionLevelIcon} 
                                                    alternative-text={subscriptionOption.subscriptionLevel}	
                                                    size="medium" 
                                                    variant="error">
                                                </lightning-icon>   -->
    
                                            </div>
    
                                        </div>
    
                                    </td>
    
                                    <td data-label="Event Type">
    
                                        <div class="slds-truncate" title={subscriptionOption.notificationType.Name}>{subscriptionOption.notificationType.Name}</div>
                                        
                                    </td>                                
    
                                    <td data-label="Delivery Options">
                                        
                                        <div class="slds-grid">
    
                                            <div class="slds-col slds-form-element">
    
                                                <label class="slds-form-element__label">Daily Email Digest</label>
    
                                                <div class="slds-form-element__control">
                                                        
                                                    <template if:true={subscriptionOption.dailyEmailDigest}>
                    
                                                        <lightning-input 
                                                            data-index={index}
                                                            type="toggle" 
                                                            value={subscriptionOption.dailyEmailDigest} 
                                                            message-toggle-active="Opted In"
                                                            message-toggle-inactive="Opted Out"                                    
                                                            onchange={handleDailyDigestChange}
                                                            checked>
                                                        </lightning-input>     
                                    
                                                    </template>     
                                                    
                                                    <template if:false={subscriptionOption.dailyEmailDigest}>
                    
                                                        <lightning-input 
                                                            data-index={index}
                                                            type="toggle" 
                                                            value={subscriptionOption.dailyEmailDigest} 
                                                            message-toggle-active="Opted In"
                                                            message-toggle-inactive="Opted Out"                                    
                                                            onchange={handleDailyDigestChange}>
                                                        </lightning-input>     
                                    
                                                    </template>   
                                                    
                                                </div>
    
                                            </div>
    
                                            <div class="slds-col slds-form-element">
    
                                                <label class="slds-form-element__label">Weekly Email Digest</label>
    
                                                <div class="slds-form-element__control">
    
                                                    <template if:true={subscriptionOption.subscribed}>
                                                        
                                                        <template if:true={subscriptionOption.weeklyEmailDigest}>
                        
                                                            <lightning-input 
                                                                data-index={index}
                                                                type="toggle" 
                                                                value={subscriptionOption.weeklyEmailDigest} 
                                                                message-toggle-active="Opted In"
                                                                message-toggle-inactive="Opted Out"                                    
                                                                onchange={handleWeeklyDigestChange}
                                                                checked>
                                                            </lightning-input>     
                                        
                                                        </template>     
                                                        
                                                        <template if:false={subscriptionOption.weeklyEmailDigest}>
                        
                                                            <lightning-input 
                                                                data-index={index}
                                                                type="toggle" 
                                                                value={subscriptionOption.weeklyEmailDigest} 
                                                                message-toggle-active="Opted In"
                                                                message-toggle-inactive="Opted Out"                                    
                                                                onchange={handleWeeklyDigestChange}>
                                                            </lightning-input>     
                                        
                                                        </template>   
    
                                                    </template>
    
                                                    <template if:false={subscriptionOption.subscribed}>
                                                                                                           
                                                        <lightning-input 
                                                            data-index={index}
                                                            type="toggle" 
                                                            value={subscriptionOption.weeklyEmailDigest} 
                                                            message-toggle-active="Opted In"
                                                            message-toggle-inactive="Opted Out"                                    
                                                            onchange={handleWeeklyDigestChange}>
                                                        </lightning-input>     
                                    
                                                    </template>                                                         
                                                
                                                </div>
    
                                            </div>
    
                                            <div class="slds-col slds-form-element">
    
                                                <label class="slds-form-element__label">Real-Time</label>
    
                                                <div class="slds-form-element__control">  
                                                    
                                                    <c-multi-select-combo-box 
                                                        index={index}
                                                        options={availableDeliveryMethodOptions}                                                 
                                                        placeholder="Select Delivery Method(s)"
                                                        initial-value={subscriptionOption.initialSelectedDeliveryMethods}
                                                        onvaluechange={handleDeliveryMethodChange}>
                                                    </c-multi-select-combo-box>   
                                                        
                                                </div>
    
                                            </div>
    
                                        </div>                                                                    
                                            
                                    </td>                
                                    
                                </tr>
    
                            </template>
    
                        </tbody>
    
                    </table>
    
                    <h3 slot="footer">
                        
                    </h3>
    
                </lightning-card>
    
            </div>

        </template>

    </template>

</template>