.THIS .title {
    font-size:18px;
    font-weight:bold;
}

.THIS .gen {
    font-size:9px;
}

.THIS .bold {
    font-weight:bold;
}

.THIS .type {
    font-size:14px;
    font-weight:bold;
    color:red;
}