.THIS img.circular-photo {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    max-width: initial;
}

.THIS .account-manager-attributes{
    float: none;
    color: initial;
    font-weight: initial;
}

.THIS .slds-icon_container{
    padding-right: 5px;
}

.THIS .slds-form-element__control{
    max-width: none;
    padding-left: 25%;
}