<template>
    <!-- <div style="height: 300px;">
        
    </div> -->
    <template lwc:if={displayTable}>
    <lightning-card title="Files Downloader" >
        <lightning-button 
            variant="brand" 
            label="Download Files" 
            title="Download files" 
            icon-name="utility:download" 
            class="slds-m-left_x-small"
            slot="actions"
            onclick={downloadFiles}
        ></lightning-button>
        <lightning-datatable
                key-field="Id"
                data={files}
                columns={columns} column-widths-mode = "auto">
        </lightning-datatable>
    </lightning-card>
    </template>
</template>