.THIS .table-header{
    color: rgb(212, 42, 29);
    font-weight: bold;
}

.THIS .status-column{
    min-width: 100px;
}

.THIS .icon-column{
    min-width: 50px;
}

.THIS .slds-form-element__label{
    display: none;
}