<template>
    <lightning-card>

        <div class="slds-p-bottom_x-large">
            <lightning-button variant="brand" label="Search" onclick={handleSearch}></lightning-button>
        </div> 

    </lightning-card>
    <lightning-flow flow-api-name={flowName} flow-input-variables={inputVariables} 
            onstatuschange={handleStatusChange}></lightning-flow> 
</template>