<template>
	<!--h1>{label.RECOMMENDED_PARTS}</h1-->
	<lightning-layout class="slds-var-p-around_x-small slds-var-b-top-medium">
		<template iterator:it={crossSellProductsList}>
			<template lwc:if={it.last}>
				<lightning-layout-item flexibility="auto" size="2" class="slds-var-p-horizontal_x-small slds-var-b-around-small" key={it.value.recId}>
					<c-recommended-product-detail cross-sell-item={it.value} onaddtocart={handleAddToCart}></c-recommended-product-detail>
				</lightning-layout-item>
			</template>
			<template lwc:else>
				<lightning-layout-item
					flexibility="auto"
					size="2"
					class="slds-var-p-horizontal_x-small slds-var-b-around-small slds-border_right"
					key={it.value.recId}
				>
					<c-recommended-product-detail cross-sell-item={it.value} onaddtocart={handleAddToCart}></c-recommended-product-detail>
				</lightning-layout-item>
			</template>
		</template>
	</lightning-layout>
</template>