@font-face{
    font-family: 'Foundry Forms Sans Book';
    src: url('/CTSCustomerPortal/resource/9999999999999/CTS_IOT_Community_Resources/Fonts/FOFRSABK.otf');
}

@font-face{
    font-family: 'Foundry Forms Sans Medium';
    src: url('/CTSCustomerPortal/resource/9999999999999/CTS_IOT_Community_Resources/Fonts/FOFRSAMD.otf');
}

@font-face{
    font-family: 'Foundry Forms Sans Bold';
    src: url('/CTSCustomerPortal/resource/9999999999999/CTS_IOT_Community_Resources/Fonts/FOFRSABD.otf');
}

@font-face{
    font-family: 'Foundry Forms Sans ExtraBold';
    src: url('/CTSCustomerPortal/resource/9999999999999/CTS_IOT_Community_Resources/Fonts/FOFRSAEB.otf');
}

.THIS{
    font-size: 16px;
}

.THIS.site-container{
    position: relative;
    height: 100%;
}

.THIS .content-container{
    min-height: 100%;
    padding-bottom: 60px;
}

.THIS h1{
    font-family: 'Foundry Forms Sans Bold' !important;
    font-size: 36px !important;
    font-weight: initial !important;
}

.THIS h2{
    font-family: 'Foundry Forms Sans Medium' !important;
    font-size: 22px !important;
    font-weight: initial !important;
}

.THIS .main-nav{
    height: 55px;
}

 .THIS .profileMenuRegion{
    padding: 15px;    
 }

 .THIS .profileMenuRegion .logoContainer {
    background-image: t('url(' + brandLogoImage  + ')');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 60px;
    display: block;
    outline: 0;
}

.THIS .profileMenuRegion .profile-menu{
    height: 60px;
    padding-top: 15px;
}

.THIS .profileMenuRegion .profile-menu .profileName{
    display: none;
}

.THIS .profileMenuRegion .profile-menu li.profile{
    display: none;
}

.THIS .profileMenuRegion .profile-menu li.myAccount{
    display: none;
}

.THIS .selfServiceUserProfileMenu .menuList{
    right: unset;
    left: 0;
    min-width: none;
}

/* Hide various parts of the community that should not display */

/* Chatter feed on profile page */
.THIS .forceCommunityUserRecordHome .userFeed{
    display: none;
}

/* User detail section on profile page */
.THIS .forceCommunityUserRecordHome .userHeaderDetail{
    border-top-style: solid !important;
    border-top-color: rgb(212, 42, 29) !important;
    border-top-width: 5px !important;
}

/* Account settings header on my settings page */
.THIS .forceCommunityUserSettingsCustomizable .uiTabBar{
    display: none !important;
}

/* Labels on my settings page */
.THIS .forceCommunityUserSettingsInternal .settingsLabel{
    font-weight: bold !important;
    color: #222222;
}

/* Top save/cancel row on my settings page */
.THIS .forceCommunityUserSettingsInternal .row.slds-m-top--medium{
    display: none !important;
}

/* Section headers on my settings page */
.THIS .forceCommunityUserSettingsInternal h2{
	font-weight: bold;
}

/* Chatter email settings on my settings page */
.THIS .forceCommunityUserSettingsInternal .emailsection{
	display: none !important;
}

/* Chatter email notifications on my settings page */
.THIS .forceCommunityUserSettingsInternal .emailNotificationsSection{
	display: none;
}

/* Profile visibility on my settings page */
.THIS .forceCommunityUserSettingsInternal .profileVisibilitySection{
	display: none !important;
}

/* END */

/* Standard component css overrides */
.THIS .slds-col--padded{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.THIS .slds-card__header{
    padding-left: 10px;
    padding-top: 5px;	
    margin-bottom: 2px;
}

.THIS .slds-card__header span{
    display: inline-block;
    margin-bottom: 5px;
    white-space: normal;
    font-family: 'Foundry Forms Sans Medium' !important;
    font-size: 22px;    
}

.THIS .slds-card__body{
    padding: 10px;
    padding-top: 0px;
    margin: 0px;
}

.THIS .slds-card__footer{
    text-align: center;
    padding-top: .2%;
    padding-bottom: .5%;
    margin-top: .2%;    
}

.THIS .slds-form{
	padding-top: 5px;
	padding-bottom: 5px;
}

.THIS .slds-form-element{
	padding: initial !important;
}

.THIS .slds-form-element__label {
	display: inline-flex;
    max-width: 50% !important;
    color: #222222;
    font-weight: bold;
    font-size: 16px;
	padding-top: initial;
}

.THIS .slds-form-element__control{
    overflow-wrap: break-word;
    max-width: 85%;
}

.THIS .uiOutputCheckbox:hover{
	cursor: no-drop;
}

.THIS .uiInputCheckbox:hover {
    cursor: pointer;
}

.THIS button{
    font-family: 'Foundry Forms Sans ExtraBold' !important;
    font-size: 16px !important;
}

.THIS .slds-checkbox_faux:hover{
    cursor: pointer !important;
}

.THIS .slds-modal th{
    z-index: 999;
}

.THIS .slds-modal__header [class*="slds-text-heading"] {
    font-family: 'Foundry Forms Sans Bold' !important;
    font-size: 36px !important;
    font-weight: initial !important;    
}

.THIS .slds-modal__content {
    padding-left: 10px;
    padding-right: 10px;
}

.THIS .slds-modal__content .slds-card__footer{
    padding-top: 2% !important;
    padding-bottom: 3% !important;
}

.THIS .slds-button .slds-icon_container:hover{
	background-color: #ae150a;
    color: rgb(255, 255, 255);
    border-color: #ae150a;
}

.THIS .slds-icon-utility-info{
    margin: 5px;
}

.THIS .slds-icon-utility-info:hover {
    cursor: help;
}

.THIS .slds-dueling-list__column .slds-button:first-of-type {
    margin-top: 20%;
}

.THIS .slds-dueling-list__column button lightning-primitive-icon{
    color: rgb(212, 42, 29);
}

.THIS .slds-icon-utility-down svg{
    fill: rgb(212, 42, 29);
}

.THIS .slds-combobox input{
    cursor: pointer !important;
    width: 100%;
    line-height: 12px;
}

.THIS input{
    border-color: rgb(208, 208, 208) !important;
}

.THIS .slds-checkbox_faux{
    border-color: rgb(208, 208, 208) !important;
}

.THIS .slds-dueling-list__options{
    border-color: rgb(208, 208, 208) !important;
}

/* END */

/* Community wide css theme styles */
.THIS .losant-container {
    overflow: hidden;
    padding-top: 60%;
    position: relative;
}

.THIS .losant-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
 }

.THIS .section-container{
    margin-top: 10px;
    margin-bottom: 10px;       
    border-top-style: solid;
    border-top-color: rgb(212, 42, 29);
    border-top-width: 5px; 
    border-left-style: solid !important;
    border-right-style: solid !important;
    border-bottom-style: solid !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;   
    border-left-color: rgb(153, 153, 153) !important;
    border-right-color: rgb(153, 153, 153) !important;
    border-bottom-color: rgb(153, 153, 153) !important; 
}

.THIS .section-container .section-container-icon{
    width: 20px;
    vertical-align: baseline;
}

.THIS .section-container .section-container-icon-large{
    width: 25px !important;
}

.THIS .section-container .section-container-title{
    padding-left: 4px;
}

.THIS .page-subheader{
    font-weight: bold;
}

.THIS .data-table{
    max-height: 250px;
    overflow-y: auto;
}

.THIS .data-table-large{
    max-height: 500px;
    overflow-y: auto;
}

.THIS .data-table td{
    height: 100%;
}

.THIS .table-action-icon{
    width: 40px;
}

.THIS .table-action-icon-medium{
    width: 25px;
}

.THIS .table-action-icon-small{
    width: 20px;
}

.THIS .nav-icon{
    width: 150px;
    margin-bottom: 10%;
}

.THIS .button-icon{
    width: 62px;
    margin-bottom: 10%;
    margin-top: 10%;
}

.THIS .iot-table thead th{
    position: sticky;
    top: 0;
}

.THIS thead th{
    color: #3a3333;
    background: #CCCCCC;
}

.THIS abbr[class="slds-required"]{
    cursor: default;
}

/* END */