.THIS .slds-modal__container{
	width: 60% !important;
	max-width: none !important;
}

.THIS .bPageBlock{
	border: none !important;
}

.THIS .slds-card__body{
	height: 200px !important;
}

.THIS .rgaCell{
	white-space: pre-wrap;
}