.THIS {
}

.THIS .mr-10{
	margin-top: 1rem;
}

.THIS .wid{
	width: 50rem;
}

.THIS .wid-lg{
	width: 80rem;
}

.THIS .warning {
	padding: 4px;
}

.THIS .hideWarning {
	display: none;
}

.THIS .slds-icon {
	transform: rotate(90deg);
}

.THIS .greenicn > lightning-icon > lightning-primitive-icon > svg {
	fill: green;
}

.THIS .redicn > lightning-icon > lightning-primitive-icon > svg {
	fill: red;
}