<template>

    <!--Must load library component (c-font-awesome-library) AFTER all icons are declared! -->

    <span 
        class="icon-container"
        onmouseover={onMouseOver}
        onmouseout={onMouseOut}
        onclick={onClick}>

        <i class={iconClass}></i>

    </span>

</template>