<template>
    <lightning-card if:true={isGlobalSearch}>
        <lightning-input label={inputLabelName} required onchange={SearchKeyHandler} min-length = "3" message-when-too-short = "Please Enter atleast 3 characters" field-level-help = "You must Enter atleast 3 Characters to enable Search Button"> </lightning-input>
       
        <div class="slds-align_absolute-center slds-p-top_medium">
            <lightning-button variant="brand" label="Search" onclick={handleSearch} disabled={searchDisable}></lightning-button>
        </div>
        
        <div if:true={isLoading} class="slds-is-relative">
            <lightning-spinner alternative-text="Loading..."  size="medium">
            </lightning-spinner>
        </div>
       
    </lightning-card>
   
</template>