.THIS .slds-card__header-title {
    font-size: 20px;
    font-weight: bold;
}

.THIS .slds-table{
    border-left: 1px solid rgb(221, 219, 218) !important;
    border-right: 1px solid rgb(221, 219, 218) !important;
}

@media only screen and (max-width: 768px) {
    .THIS .slds-table td{
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    
    .THIS .slds-table th{
        padding-left: 2px !important;
        padding-right: 2px !important;
    }   
}

.THIS .slds-form-element__label{
    display: none !important;
}