<apex:page controller="C_Action_Item_Extension" name="New Action Item" tabStyle="Case" id="thePage" lightningstylesheets="true">
    
    <style type="text/css">
        .overlay {
        background: #e9e9e9;  
        display: none;        
        position: fixed;   
        top: 0;                  
        right: 0;                
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
        }
        #loading-img {
        background: url({!$Resource.LoadingGif}) center center no-repeat;
        height: 100%;
        z-index: 20;
        }
        .myLabel {
         border: 2px solid #AAA;
         border-radius: 4px;
         padding: 2px 5px;
         font-size: 12px;
         margin: 2px;
         background: #f2f2f2;
         display: inline-block;
        }
        .myLabel:hover {
            background: #dbd9d9;
        }
        .myLabel:active {
            background: #CCF;
        }
    </style>
    
    <apex:includeScript value="{!URLFOR($Resource.TinyMCE, 'jquery-2.1.4.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.TinyMCE, 'tinymce/tinymce.min.js')}" />
    <script src="/support/console/34.0/integration.js" type="text/javascript"></script>
    <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
    
    
    <script>
    var AIeditorID = "AIBody";
    var FUeditorID = "FUBody";
    
    function showPopUp(){
        console.log('Showing');
        $(".overlay").show();          
    }
    
    function hidePopUp(){
        console.log('Hiding');
        $(".overlay").hide();
    }
    
    function closeTab(){
        sforce.console.getEnclosingTabId(function(result){
            sforce.console.closeTab(result.id);
        });
    }
    
    var editorID = AIeditorID;
    var isMiltonRoyRT = '{!isMRRecordType}';
    
    function setupTINYMCE() {
        console.log('setupTINYMCE');
        tinymce.init({
            height: 300,
            menubar: false,
            selector: "#" + editorID,
            plugins: "image textcolor",
            content_style: ".mce-content-body {font-size:11pt;}",
            toolbar: ["forecolor | backcolor | undo redo | styleselect | bold italic | outdent indent | bullist numlist | link image | alignleft aligncenter alignright "],
            force_p_newlines: false,
            force_br_newlines: true,
            convert_newlines_to_brs: false,
            remove_linebreaks: true,
            forced_root_block: false,
            browser_spellcheck: true,
            setup: function(editor) {
                editor.on("dragover", function(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    event.dataTransfer.dropEffect = 'copy';
                });
                editor.on("drop", function(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    var files = event.dataTransfer.files; // FileList object.
                    uploadFileE(files);
                });
                editor.on("paste", function(event) {
                
                    //event.stopPropagation();
                    //event.preventDefault();
                    
                    var $this, element;
                    element = this;
                    $this = $(this);
                    
                    defaults = {
                        callback: $.noop,
                        matchType: /image.*/
                    };
                    
                    var options = $.extend({}, defaults, options);
                    
                    var clipboardData, found;
                    found = false;
                    clipboardData = event.clipboardData;
                    
                    return Array.prototype.forEach.call(clipboardData.types, function(type, i) {
                        var file, reader;
                        if (found) {
                            return;
                        }
                        
                        if (type.match(options.matchType) || clipboardData.items[i].type.match(options.matchType)) {
                        event.stopPropagation();
                    event.preventDefault();
                            file = clipboardData.items[i].getAsFile();
                            reader = new FileReader();
                            reader.onload = function(evt) {
                                return options.callback.call(element, {
                                    dataURL: evt.target.result,
                                    event: evt,
                                    file: file,
                                    name: file.name
                                });
                            };
                            
                            reader.onloadend = function() {
                                saveImageAI(this);
                            }
                            
                            reader.readAsDataURL(file);
                            return found = true;
                        }
                    });
                });
            }
        });
    }
    
    $(document).ready(function() {
        setupTINYMCE();
    });
    
    function uploadFileE(filesToUpload) {
        for (var i = 0, f; f = filesToUpload[i]; i++) {
            var reader = new FileReader();
            
            // Keep a reference to the File in the FileReader so it can be accessed in callbacks
            reader.file = f;
            
            reader.onload = function(e) {
                var cv = new sforce.SObject("ContentVersion");
                cv.ContentLocation = 'S';
                cv.PathOnClient = this.file.name;
                cv.Origin = 'H';
                cv.Title = this.file.name;
                
                var binary = "";
                var bytes = new Uint8Array(e.target.result);
                var length = bytes.byteLength;
                
                for (var i = 0; i < length; i++) {
                    binary += String.fromCharCode(bytes[i]);
                }

                cv.VersionData = (new sforce.Base64Binary(binary)).toString();
                
                sforce.connection.create([cv], {
                    onSuccess: function(result, source) {
                        if (result[0].getBoolean("success")) {
                            var newId = result[0].id;
                            console.log("New ContentVersion record created with id " + result[0].id);
                            createNewFile(newId);
                        } else {
                            console.log("Failed to create File " + result[0]);
                        }
                    },
                    onFailure: function(error, source) {
                        console.log("an error has occurred " + error);
                    }
                });
            };
            reader.readAsArrayBuffer(f);
        }
    }
    
    function uploadFile() {
        //var ismrRecordType = '{!isMRRecordType}';
        var input;
        if(isMiltonRoyRT == 'true'){
          showPopUp();
          input = document.getElementById("mr-file-input");
            console.log("inside MR");
          }
        else{
         input = document.getElementById("file-input");
            console.log("other than MR");
            }
        var filesToUpload = input.files;
        
        for (var i = 0, f; f = filesToUpload[i]; i++) {
            var reader = new FileReader();
            
            // Keep a reference to the File in the FileReader so it can be accessed in callbacks
            reader.file = f;
            
            reader.onload = function(e) {
                var cv = new sforce.SObject("ContentVersion");
                cv.ContentLocation = 'S';
                cv.PathOnClient = this.file.name;
                cv.Origin = 'H';
                cv.Title = this.file.name;
                
                var binary = "";
                var bytes = new Uint8Array(e.target.result);
                var length = bytes.byteLength;
                
                for (var i = 0; i < length; i++) {
                    binary += String.fromCharCode(bytes[i]);
                }

                cv.VersionData = (new sforce.Base64Binary(binary)).toString();
                
                sforce.connection.create([cv], {
                    onSuccess: function(result, source) {
                        if (result[0].getBoolean("success")) {
                            var newId = result[0].id;
                            console.log("New ContentVersion record created with id " + result[0].id);
                            input.value = null;
                            createNewFile(newId);
                            if(isMiltonRoyRT == 'true'){
                                console.log("after creation inside MR block");
                                hidePopUp();
                            }
                        } else {
                            console.log("Failed to create File " + result[0]);
                        }
                    },
                    onFailure: function(error, source) {
                        console.log("an error has occurred " + error);
                    }
                });
            };
            reader.readAsArrayBuffer(f);
        }
    }
    
    

    function saveImageAI (reader) {
        var imageDataURL = reader.result.split(',')[1];
        
        // Prompts the user for a name for the image. If you remove this, compute a sensible name for the image in the controller@!
        // Currently, the controller takes whatever is entered by the user and appends a timestamp onto it.
        //var filename = prompt("Enter a name for this image: ", "Pasted_Image");
        
        C_Action_Item_Extension.saveImage('Action_Item_Image', imageDataURL, handleResultAI);
    }
    
    function saveImageFU (reader) {
        var imageDataURL = reader.result.split(',')[1];
        
        // Prompts the user for a name for the image. If you remove this, compute a sensible name for the image in the controller@!
        // Currently, the controller takes whatever is entered by the user and appends a timestamp onto it.
        var filename = prompt("Enter a name for this image: ", "Pasted_Image");
        
        C_Action_Item_Extension.saveImage(filename, imageDataURL, handleResultFU);
    }

    function handleResultAI(result, event) {
        if(event.type == 'exception') {
            // There was an error, print the message in the console.
            console.debug(event.errorMessage);
        } 
        else {
            // Returning the computed URL to the image via the error message in success cases.
            var imageURL = result.successMessage.replace("amp;", "");
            
            // Get the editor instance and insert an image with the above URL.
            var ed = tinyMCE.get(AIeditorID);           
            var range = ed.selection.getRng();               
            var newNode = ed.getDoc().createElement ("img"); 
            newNode.src=imageURL;                               
            range.insertNode(newNode); 
            
            ed.selection.collapse(false);
            //var  msg = result;
            //refreshSubTab();
        }
    }
    
    function handleResultFU(result, event) {
        if(event.type == 'exception') {
            // There was an error, print the message in the console.
            console.debug(event.errorMessage);
        } 
        else {
            // Returning the computed URL to the image via the error message in success cases.
            var imageURL = result.successMessage.replace("amp;", "");
            
            // Get the editor instance and insert an image with the above URL.
            var ed = tinyMCE.get(FUeditorID);           
            var range = ed.selection.getRng();               
            var newNode = ed.getDoc().createElement ("img"); 
            newNode.src=imageURL;                               
            range.insertNode(newNode); 
            
            ed.selection.collapse(false);
            //var  msg = result;
            //refreshSubTab();
        }
    }

    function refreshSubTab() {
        sforce.console.getEnclosingTabId(refreshActiveSubtab);
        return true;
    }

    var refreshActiveSubtab = function refreshActiveSubtab(result) {
        // get tab Id
        var tabId = result.id;
        // refreshSubtabById(id:String, active:Boolean, (optional)callback:function)
        sforce.console.refreshSubtabById(tabId, true);
    };       

    function sendContentToController () {
        var AIcontent = tinyMCE.get(AIeditorID).getContent({format : 'raw'});
        var AIvalue = document.getElementById('thePage:theForm:thePageBlock:theAISection:AIbodyH');
        AIvalue.value = AIcontent;
        
        sendContent();
    }
    
    function SubmitOnClick () {
        $('.btn').each(function(elem) {
            this.className = 'btnDisabled';
            this.disabled = true;
            this.value ='Processing...';
        })
        doSubmit();
    }
  
    </script>

    <div class="overlay">
        <div id="loading-img"></div>
    </div>
    <apex:form id="theForm">
        
        <apex:sectionHeader title="Action Item Creation" subtitle="New Action Item"/>
        <apex:actionFunction action="{!sendContent}" name="sendContent" rerender=""/>
        <apex:actionFunction action="{!createNewFiles_Stage}" name="createNewFile" reRender="files">
            <apex:param name="firstParam" assignTo="{!fileID}" value="" />
        </apex:actionFunction>
       
        <apex:pageMessages />
        <apex:pageBlock Title="Case Edit" mode="edit" id="thePageBlock">
            <apex:actionFunction action="{!Save}" name="doSubmit"/>
            <apex:pageBlockButtons id="buttons">
                <apex:commandButton id="saveButton" value="Save" onclick="showPopUp();tinymce.activeEditor.getBody().setAttribute('contenteditable', false);sendContentToController();SubmitOnClick();" status="theStatus"/> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <apex:commandButton id="cancelButton" onclick="closeTab()" value="Cancel" />
                <apex:actionStatus startText="Processing" id="theStatus"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection title="Action Item Information" collapsible="false" id="HeaderSection">
                <apex:outputField value="{!theCase.OwnerId}" rendered="false"/>
                
                <apex:outputField value="{!theCase.RecordTypeId}" rendered="false" />
                <apex:outputField value="{!theCase.ParentId}"/>
                <apex:inputField value="{!theCase.Status}" required="true"/>
                <apex:inputField value="{!theCase.Priority}"/>
            </apex:pageBlockSection>
            
            <apex:actionRegion >
                <apex:pageBlockSection title="External Action Item Information" collapsible="false" id="ExternalSection">
                    <apex:inputField value="{!theCase.ContactId}"/>
                    <apex:inputField value="{!theCase.Escalation_Contact__c}" rendered="{!!isMRRecordType}"/><!-- rendered -Milton Roy change as part of SMR 1024, SMR 1027 -->
                    <apex:outputText rendered="{!isMRRecordType}" /> <!--Milton Roy change as part of SMR 1024, SMR 1027 -->
                    <!--<apex:inputField value="{!theCase.Send_To_Queue__c}"/> -->
                    <apex:pageBlockSectionItem >
                        <apex:outputText value="CC Addresses" />
                        <apex:pageBlockSectionItem >
                            <apex:inputTextArea value="{!freeFormCC}" cols="40" rows="2" />
                            <apex:dataTable value="{!ccWrappers}" var="aW">
                                <apex:column >
                                    <apex:facet name="footer">
                                        <apex:commandButton action="{!addCC}" value=" + CC Row" reRender="ExternalSection" style="" />
                                    </apex:facet>
                                    <apex:inputField value="{!aW.theWrap.ContactId}" label="" />
                                </apex:column>
                                <!--<apex:column >
                                <apex:outputField value="{!aW.theWrap.Contact.Email}" label=""/>
                                </apex:column>-->
                            </apex:dataTable>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSectionItem>
                    <!--<apex:inputField value="{!theCase.Send_to_User__c}" style="width:200px"/>-->
                </apex:pageBlockSection>

                <apex:pageBlockSection title="Internal Action Item Information" collapsible="false" id="InternalSection" rendered="{!!isMRRecordType}"><!-- rendered -Milton Roy change as part of SMR 1024, SMR 1027-->
                    <apex:inputField value="{!theCase.OwnerId}" label="Send To User or Queue" required="false"/>
                    <!--
                    <apex:inputField value="{!theCase.Send_To_Queue__c}"/>
                    <apex:inputField value="{!theCase.Send_to_User__c}" style="width:200px"/>
                    -->
                </apex:pageBlockSection>

            </apex:actionRegion>
            <apex:pageBlockSection title="Action Item Email" columns="1" collapsible="false" id="theAISection">
                <apex:inputField value="{!theCase.AI_Email_Subject__c}" style="width:455px" required="true"/>
                <apex:inputField value="{!theCase.AI_Add_Body_of_Original_Email__c}" style=""/>
                <div align="center" >
                    <textarea id="AIBody">{!AIeditorContent}</textarea>
                </div>
                <div style="display: none">
                    <apex:inputHidden value="{!AIeditorContent}" id="AIbodyH" />
                    <apex:inputHidden value="{!theCase.Contact.Name}" id="ConName" />
                    
                </div>
                <apex:outputField value="{!theCase.AI_Original_Email_Body__c}" style="width:500px;height:450px"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Add New Files" collapsible="false" columns="1" rendered="{!!isMRRecordType}">
                <apex:outputPanel id="newFiles">
                    <input type="file" id="file-input" />
                    <input id="upload-button" type="button" value="Upload" onclick="uploadFile();"/>
                </apex:outputPanel>
                
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Add New Files" collapsible="false" columns="1" rendered="{!isMRRecordType}">
                <input type="file"  id="mr-file-input" name="mrUploadFile" style="display:none;" onchange="uploadFile();" />
                <label for="mr-file-input" class="myLabel">Upload File</label>
                <apex:outputPanel id="thePanel" layout="inline">
                <span style="font-weight:bold;">Note: </span><span> Once the file upload finishes successfully it will be shown in below "Select Files" table and will be auto selected to attach on the email</span>
                </apex:outputPanel>
                
            </apex:pageBlockSection>
            <apex:inputHidden value="{!hasParentFiles}" id="HPA"/>
            <apex:pageBlockSection id="files" title="Select Files" collapsible="false" columns="1">
                <apex:pageBlockTable value="{!filesWrapper}" var="file" rendered="{!hasParentFiles}">
                    <apex:column headerValue="Include?">
                        <apex:inputCheckbox value="{!file.include}"/>
                    </apex:column>
                    <apex:column value="{!file.theFile.Title}"/>
                    <apex:column value="{!file.theFile.FileExtension}"/>
                    <apex:column value="{!file.theFile.Description}"/>
                    <apex:column value="{!file.theFile.CreatedDate}"/>
                </apex:pageBlockTable>
                <apex:outputText rendered="{!NOT(hasParentFiles)}"><b>The Parent Case has no Files</b></apex:outputText>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>