<apex:page controller="C_Email_Object_Controller">
    <style>
        .headerFacet{
            font-size:1.3em;
            font-weight: bold;
        }
    </style>
    <apex:form >
    <apex:sectionHeader title="{!IF(EmailMessage.Incoming,'Inbound','Outbound')} Email Message"/>
    <apex:pageBlock mode="maindetail" title="Email Message Detail">
        <apex:pageBlockButtons >
            <apex:commandButton action="{!reply}" title="Reply" value="Reply"/>
            <apex:commandButton action="{!replyAll}" title="Reply To All" value="Reply To All"/>
            <apex:commandButton action="{!forward}" title="Forward" value="Forward"/>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <apex:commandButton action="{!newActionItem}" title="New Action Item" value="New Action Item"/>
        </apex:pageBlockButtons>
        <apex:pageBlockSection collapsible="false">
            <apex:outputField value="{!EmailMessage.ParentId}"/>
            <apex:outputField value="{!EmailMessage.Status}"/>
            <apex:outputField value="{!EmailMessage.MessageDate}"/>
            &nbsp;
            <apex:pageBlockSectionItem >
                <apex:outputText value="Created By"/>
                <apex:outputText value="{!EmailMessage.CreatedBy.Name}, {!EmailMessage.CreatedDate}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Last Modified By"/>
                <apex:outputText value="{!EmailMessage.LastModifiedBy.Name}, {!EmailMessage.LastModifiedDate}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Address Information" collapsible="false" columns="1">
            <apex:outputField value="{!EmailMessage.FromAddress}"/>
            <apex:outputField value="{!EmailMessage.FromName}"/>
            <apex:outputField value="{!EmailMessage.ToAddress}"/>
            <apex:outputField value="{!EmailMessage.CcAddress}"/>
            <apex:outputField value="{!EmailMessage.BccAddress}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Email Information" collapsible="false" columns="1">
        <script> function showHtmlEmail() { w=window.open('', 'preview', 'width=480,height=380,scrollbars=yes,resizable=yes');d=w.document;d.open('text/html');d.write(unescapeHTML(document.getElementById('htmlCode').innerHTML));d.close();return false;}</script>
         <div style="display:none;" id="htmlCode">{!EmailMessage.HTMLBody}</div>
            <apex:outputField value="{!EmailMessage.Subject}"/>
            <apex:pageblockSectionItem >
            <apex:outputText >HTML Body</apex:outputText>
            <a href="#" onclick="showHtmlEmail();" title="Click here to view HTML version (New Window)">Click here to view HTML version</a>
            </apex:pageblockSectionItem>
            <apex:outputField value="{!EmailMessage.TextBody}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Attachments" collapsible="false" columns="1">
            <apex:pageBlockTable value="{!EmailMessage.Attachments}" var="attachment" title="Attachments">
            <apex:column width="50%">
                <apex:facet name="header">Name</apex:facet>
                <apex:outputLink value="/{!attachment.Id}">{!attachment.Name}</apex:outputLink>
            </apex:column>
            <apex:column >
                <apex:image rendered="{!CONTAINS(attachment.ContentType,'image')}" value="https://c.na16.content.force.com/servlet/servlet.FileDownload?file={!attachment.Id}" style="max-width:200px;max-height:200px"/>
            </apex:column>
            </apex:pageBlockTable>
            <apex:outputText rendered="{!NOT(hasParentAttachments)}"><b>The Email has no Attachments</b></apex:outputText>
    </apex:pageBlockSection>
    </apex:pageBlock>   
    </apex:form>
</apex:page>