<apex:page showHeader="true" sidebar="true" standardController="cafsl__Field_Mapping__c" extensions="cafsl.FieldMappingCtrl" title="{!BLANKVALUE(cafsl__Field_Mapping__c.Name, 'New Field Mapping')}">
    <apex:form >
        <apex:sectionHeader title="{!$ObjectType.cafsl__Field_Mapping__c.label}" subtitle="{!BLANKVALUE(cafsl__Field_Mapping__c.Name, 'New Field Mapping')}"/>
        <apex:pageBlock id="theBlock">
            <apex:pageMessages />
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!save}" value="Save"/>
                <apex:commandButton action="{!savenew}" value="Save & New"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:inputField value="{!cafsl__Field_Mapping__c.Name}" id="mapname"/>
                <apex:inputField value="{!cafsl__Field_Mapping__c.cafsl__Data_Set__c}" id="dataset"/>
                <apex:inputField value="{!cafsl__Field_Mapping__c.cafsl__Type__c}" id="maptype">
                    <apex:actionSupport event="onchange" reRender="theBlock"/>
                </apex:inputField>
                <apex:selectList value="{!cafsl__Field_Mapping__c.cafsl__Source__c}" size="1" style="width:300px;" id="mapsrc">
                    <apex:selectOptions value="{!srcOpts}"/>
                </apex:selectList>
                <apex:selectList value="{!cafsl__Field_Mapping__c.cafsl__Target__c}" size="1" style="width:300px;" id="maptrg">
                    <apex:selectOptions value="{!trgOpts}"/>
                </apex:selectList>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>