<apex:page standardController="WorkOrder" lightningStylesheets="true">
  <apex:outputLink value="/{!id}" id="theLink">{!WorkOrder.WorkOrderNumber}</apex:outputLink>
        <flow:interview name="CC_FSL_validate_Work_Order_and_change_statuses_to_sync_to_MAPICS" finishLocation="/{!id}">
            <apex:param name="varWorkOrderId" value="{!id}"/>
            <apex:param name="varLeaseNumber" value="{!WorkOrder.Lease_No__c}"/>
            <apex:param name="varNatureCode" value="{!WorkOrder.Nature__c}"/>
            <apex:param name="varPartsnotconsumed" value="{!WorkOrder.All_Parts_Not_Consumed__c}"/>
            <apex:param name="varRecordTypeId" value="{!WorkOrder.RecordTypeId}"/>
            <apex:param name="varWorkOrderStatus" value="{!WorkOrder.Status}"/>
            <apex:param name="varLocation" value="{!WorkOrder.LocationId}"/>
            <apex:param name="varBillingAcct" value="{!WorkOrder.Billing_Account__c}"/>
        </flow:interview>
</apex:page>