<apex:page tabstyle="CC_GPSI_Wizards__tab">

    <style type="text/css">
        h1 {font-size:20pt; font-weight: bold; }
        p {font-weight: bold; }
        .FlowContainer {font-size:16pt; font-weight: bold; }
        .FlowNextBtn { }
        .FlowDropdown { }
        .FlowTextArea { }
    </style>
    
    <h1>Find Repair Ticket for VDU/SN</h1>
    
    <flow:interview name="CC_GPSI_VDU_and_Repair_Ticket_Exists"/>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" />
    
    <script type="text/javascript">
    
    $(document).keypress(function(e) {
      if(e.which == 13) {
        // enter pressed
    
        (function ($) {
            $(document).ready(function () {
                    $("input.FlowNextBtn").click();
                    $("input.FlowFinishBtn").click();
            });
        })(jQuery.noConflict(true))
      }
    });
    
    </script>
            
</apex:page>