<apex:page showHeader="false" id="page" sidebar="false" controller="CC_PavilionTemplateController"
    action="{!redirectAccountInformation}" extensions="CC_Links_StatementController"
    standardStylesheets="false" readOnly="true">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <style type="text/css">
      @media print {footer {page-break-after: always;}}
      .pbBody {page-break-after:always;margin:0;}
      .pbBody:last-child{page-break-after:auto;margin:0;}
      .visible-print {display: block !important;}
      button.dt-button, div.dt-button, a.dt-button {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 0.333em;
        padding: 0.5em 1em;
        border: 1px solid #999;
        border-radius: 2px;
        cursor: pointer;
        font-size: 0.88em;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        background-color: #337ab7;
        background-image: none;
      }
       th {text-align: center;}
       table tr th {font-size: 13px;!important;}
      { className: "dt-right", "targets": [3,5] },
        </style>
    </head>
    <div id="hideWhilePrintStmntId">
        <apex:composition template="CC_PavilionTemplate">
            <apex:define name="body">
                <!-- @TODO WE SHOULD MOVE THIS DIV SOMEWHERE ELSE LIKE ITS OWN  PANEL OR ??? -->
                <div id="printDialog" style="display:none;">
                    <div id="errorinfo" class="alert alert-info"></div>
                </div>
                <!--PANELS DISPLAYING OPEN ORDERS AND OPEN A/R CREDIT LINE-->
                <apex:outputPanel rendered="{!isSuspended}">
                    <!-- output panel will be shown if  account status is supended-->
                    <div align="center">
                        <div class="alert alert-danger">
                            <strong>{!$Label.CC_Credit_Hold} </strong>
                        </div>
                    </div>
                </apex:outputPanel>
                <apex:outputPanel >
                    <div class="row">
                        <div class="col-md-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">Useful Links</div>
                                <div class="panel-body">
                                    <a href="{!$Site.Prefix}/CC_Links_Statement" target="_blank">Statement</a><br/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <table width="100%" border="0">
                                <tr>
                                    <td align="left">
                                        <apex:image url="{!$Resource.CC_ClubCarImg}" width="auto" />
                                    </td>
                                    <td width="5%" align="center">
                                        <b id="pageLabel" style="font-size:20px;">Remittance</b>
                                    </td>
                                    <td align="right">
                                        <apex:image url="{!$Resource.CC_IRImage}" width="200" height="55" />
                                    </td>
                                </tr>
                                <tr><td></td>
                                    <td align="right" colspan="2">
                                        <b><font style="font-size: 13px;">Customer : {!CustomerName}</font></b>
                                    </td>
                                </tr>
                                <tr><td></td>
                                    <td align="right" colspan="2">
                                        <b><font style="font-size: 13px;">Customer # : {!CustomerNumber}</font></b>
                                    </td>
                                </tr>
                                <tr><td></td>
                                    <td align="right" colspan="2">
                                        <b><font style="font-size: 13px;">Statement Date as of : 
                                            <apex:outputText value=" {0,date,MM/dd/yyyy}">
                                                <apex:param value="{!TODAY()}" />
                                            </apex:outputText>
                                        </font></b>
                                    </td>
                                </tr>
                                <tr><td></td>
                                    <td align="right" colspan="2">
                                        <b><font style="font-size: 13px;">Customer Finance Representative : {!CustomerFinRep}</font></b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="4">
                                        <apex:outputpanel id="Remittaddress" style="font-style: italic;font-size: 12px;">
                                            <b>Important Remit To : &nbsp;&nbsp; 
                                            <apex:outputtext value="{!remitAddress}" /></b>
                                            <br/><br/>
                                        </apex:outputpanel>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                        </div>
                        <div id="sidebarchange" class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">Open A/R</div>
                                <div class="panel-body" style="font-size:13px">
                                    <b>Current Due: </b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!CurrentDue }" /></apex:outputText>
                                    <br/><br/>
                                    <b>Future Due: </b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!FutureDue }" /></apex:outputText>
                                </div>
                            </div>
                        </div>
                        <div id="sidebarchange" class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">Credit Line</div>
                                <div class="panel-body" style="font-size:13px">
                                    <b>Credit Line: </b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!CreditLine }" /></apex:outputText>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>Credit Used: </b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!CreditUsed }" /></apex:outputText>
                                    <br/><br/>
                                    <b>Pending Charges: </b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!PendingCharges }" /></apex:outputText>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>Available Credit: </b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!AvailableCredit }" /></apex:outputText>

                                </div>
                            </div>
                        </div>
                        <div id="sidebarchange" class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{!$site.prefix}/CC_PavilionCarsPartsHistory">Open Orders</a>
                                </div>
                                <div class="panel-body" style="font-size:13px">
                                    <b><a href="{!$site.prefix}/CC_PavilionCarsPartsHistory?actionId=Approved">Approved:</a></b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!approvedOpenOrders }" />
                                    </apex:outputText>
                                    &nbsp;<br/>
                                    <b><a href="{!$site.prefix}/CC_PavilionCarsPartsHistory?actionId=Pending">Pending Approval:</a></b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!pendingApprovalOpenOrders }" />
                                    </apex:outputText>
                                    <br/>
                                    <b><a href="{!$Site.prefix}/CC_PavilionCarsPartsHistory?actionId=FloorPlans">Floorplans:</a></b>
                                    <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                        <apex:param value="{!floorPlansOpenOrders }" />
                                    </apex:outputText>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Select Invoices for Statements</div>
                                <div class="panel-body">
                                    <div id="tableLoading"><img src="{!$Resource.CC_Gear}" />Loading Statement...</div>
                                    <div class="table-responsive" id="stmtpnl" style="display:inline">
                                        <table width="100%" id="invtbl" class="display table" role="grid" style="overflow-x:scroll;overflow-y:scroll;white-space:word-wrap:break-word;"
                                            cellpadding="0" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="font-size: 13px" id="selectAllRecs"><input type="checkbox" name="select_all" value="1" id="example-select-all" onclick="selectAll(this.checked)"/></th>
                                                    <th style="font-size: 13px">Inv. Number</th>
                                                    <th style="font-size: 13px;">PO Number</th>
                                                    <th style="font-size: 13px;">Invoice Date</th>
                                                    <th style="font-size: 13px;">Due Date</th>
                                                    <th style="font-size: 13px;">Amount Due</th>
                                                    <th style="font-size: 13px;">Remit Amount</th>
                                                    <th style="font-size: 13px;">Pay In Full</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                              <tr>
                                                <th colspan="2"></th>
                                                <th colspan="3" style="text-align:right" class="bordering"></th>
                                                <th style="text-align:right" id="amountdueTotal"></th>
                                                <th style="text-align:right" id="remitTotal"></th>
                                                <th></th>
                                              </tr>
                                           </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- PRINT DISPUTE GOES HERE -->
                            <div class="table-responsive">
                                <div id="dialog" style="display:none;" title="Invoice Items">
                                    <table id="invdatapopup" class="display table" role="grid" style="overflow-x: scroll; overflow-y: scroll; max-width: 100%; display: block; white-space: word-wrap: break-word;"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Invoice Number</th>
                                                <th>PO Number</th>
                                                <th>Invoice Date</th>
                                                <th>Due Date</th>
                                                <th>Due Amount</th>
                                                <th>Dispute Code</th>
                                                <th>Dispute</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
            </apex:define>
        </apex:composition>
    </div>
    <!-- PRINTABLE REMITTANCE GOES HERE -->
  <div id="printRemittanceId" align="center">
    <table border="0" width="80%">
        <tr> <td width="100%" colspan="4" align="center"><i>PLEASE RETURN THIS REMITTANCE WITH YOUR PAYMENT</i></td> </tr>
        <tr>
            <td width="34%"> <apex:image url="{!$Resource.CC_ClubCarImg}" width="auto"/></td>
            <td width="33%" colspan="2" align="center"><font size="4"><b><i>REMITTANCE</i></b></font></td>
            <td width="33%" align="right"> <apex:image url="{!$Resource.CC_IRImage}" width="200" height="55"/></td>
        </tr>
        <tr>
          <td width="50%" colspan="2" VALIGN="TOP" style="padding-right: 3px">
            <table border="0" width="100%">
              <tr>
                <td width="100%" align="center" bordercolor="#000000" colspan="2">
                  <table border="1" width="100%" bordercolor="#000000" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="33%" align="center">CUSTOMER</td> 
                      <td width="33%" align="center">DATE</td> 
                    </tr>
                    <tr> 
                      <td width="33%" align="center">{!CustomerNumber}</td> 
                      <td width="33%" align="center">
                        <apex:outputText value="{0, date, MM/dd/yyyy}">
                          <apex:param value="{!TODAY()}"/>
                        </apex:outputText>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table><br/>
            <table width="100%" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr>
                <td width="33%"></td>
                <td align="center" width="33%" style="border-left: solid 1px #000000;border-right: solid 1px #000000;border-top: solid 1px #000000;">TOTAL DUE</td>
              </tr>
              <tr>
                <td id="totAmt" align="center" width="33%">PAY THIS AMOUNT</td>
                
              </tr>
            </table><br/>
            <table width="100%" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr>
                <td id="amtPaid" align="center" width="33%">AMOUNT PAID</td>
                
              </tr>
            </table><br/>
            <table width="100%">
              <tr>
                <td width="33%"><a href="javascript:window.print()"><input type="button" value="Send To Print"/></a></td>
                <td width="33%"></td>
              </tr>
              <tr>
                <td width="33%" align="left">
                  <apex:outputText escape="true" rendered="{!CustomerName==null}" value=""/>
                  <apex:outputText escape="false" rendered="{!CustomerName!=null}" value="{!CustomerName}</br>"/>
                  <apex:outputText escape="true" rendered="{!Address1==null}" value=""/>
                  <apex:outputText escape="false" rendered="{!Address1!=null}" value="{!Address1}</br>"/>
                  <apex:outputText escape="true" rendered="{!customerAddress==null}" value=""/>
                  <apex:outputText escape="false" rendered="{!customerAddress!=null}" value="{!customerAddress}</br>"/>
                  <apex:outputText escape="true" rendered="{!customerAddress3==null}" value=""/>
                  <apex:outputText escape="false" rendered="{!customerAddress3!=null}" value="{!customerAddress3}</br>"/>
                  <apex:outputText escape="true" rendered="{!customerAddress4==null}" value=""/>
                  <apex:outputText escape="false" rendered="{!customerAddress4!=null}" value="{!customerAddress4}</br>"/>
                </td>
                <td width="33%"><b>Remit To:</b><br/>"{!remitAddress}"</td>
              </tr>
            </table><br/><br/><br/>
            <table width="100%">
              <tr>
                <td width="33%"><b>Payment Method:</b></td>
              </tr>
              <tr>
                <td width="33%"><input type="radio" value="1" name="R1"/><b>ACH:</b><br/>
                <p>Please debit my checking account for $_________________ 
                                        on _______________ date in the payment of the indicated invoices.</p>
                                        Signed: _______________________<br/><br/>
                                        <b>Fax to Your Customer Financing Representative at 706-868-3844</b>.
                </td>
              </tr>
              <tr>
                <td width="33%"><br/><input type="radio" value="2" name="R1"/><b>Check by fax:</b><br/>
                <p>I will fax my check to <b>Customer Financing Representative at 706-868-3844</b>.</p>
                </td>
              </tr>
              <tr>
                <td width="33%"><input type="radio" value="3" name="R1"/><b>Check in mail:</b><br/>
                  Check #_________________ sent to the above "Remit To" address.
                </td>
              </tr>
            </table>
          </td>
          <!---PRINT REMITTANCE TABLE HERE-->
          <td width="50%" colspan="2" VALIGN="TOP">
            <table id="printRemitTableId" border="1" width="100%">
              <thead>
                <tr>
                  <th colspan="5">INDICATE INVOICE PAYING &amp; AMOUNT</th>
                </tr>
                <tr>
                  <th>INVOICE</th>
                  <th>DUE DATE</th>
                  <th>INVOICE TOTAL</th>
                  <th>AMOUNT PAID</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              
            </table>
          </td>
        </tr> 
      </table>         
    </div> 
    
    <div id="infoDialog" style="display:none;">
        <div class="alert alert-info">
        </div>
    </div>
    
    <!--PRINT MULTIPLE INVOICE GOES HERE-->
        <div class="col-md-12" id="printInvoiceId">
        </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#printRemittanceId').hide();
            $('#printInvoiceId').hide();
            var table=$('#invtbl').DataTable({
                dom: '<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-tl ui-corner-tr sorting ui-state-default sorting_asc" B fr><t><"bottom fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix "lip>',
                "bProcessing": true,
                "autoWidth": false,
                 buttons: [{
                    text: 'Print Invoice',
                    class: 'btn btn-primary',
                    action: function() {
                        return printInvoice();
                    }
                }, {
                    text: 'Print Remittance',
                    class: 'btn btn-primary',
                    action: function() {
                        return printRemittance();
                    }
                }, {
                    text: 'Dispute',
                    class: 'btn btn-primary',
                    action: function() {
                        return openDispute();    
                }}],
                "columnDefs": [{
                    targets: "_all",
                    defaultContent: ""
                }, {
                    "targets": [2, 3, 4, 5],
                    className: "dt-right"
                }, {
                    "targets": 0,
                    'searchable': false,
                    'orderable': false,
                    className: "dt-center"
                }, {
                    "targets": 6,
                    className: "dt-center"
                }],
                "order": [[1, "asc"]],
                "drawCallback": function(row, data, start, end, display) {
                   var api = this.api(),data;
                   // Remove the formatting to get integer data for summation
                   var intVal = function(i) {
                   return typeof i === 'string' ?
                   i.replace(/[\$,]/g, '') * 1 :
                   typeof i === 'number' ?
                   i : 0;
                   };
                 // Total over all pages
                var total = 0;
                dueAmounttotal = api.column(5).data().reduce(function(a, b) {
                var bval = 0;
                var aval = 0;
                if (b.indexOf(',') != -1) {
                bval = b.replace(/,/g, "");
                total = intVal(a) + intVal(bval)
                } else {
                bval = b
                total = intVal(a) + intVal(bval)
                }
                if (b.indexOf('-') != -1) {
                bval = b.replace(/-/g, "");
                total = intVal(a) - intVal(bval)
                } else {
                bval = b
                total = intVal(a) + intVal(bval)
                }
                return total;
                },0);
        $(api.column(5).footer()).html(currencyFormat(dueAmounttotal));}
        });
            
            $('input[type=checkbox]').attr('checked', false);
            getStatementData();
            $("body").one('mousemove', function(){
            removeSortIcon();
            });
          });
          
        /*****GET STATEMENT DATA THROUGH REMOTE METHOD FROM CONTROLLER (FOR ONLOAD DATA TABLE)**********/
        function getStatementData() {
            CC_Links_StatementController.getStatementData('{!AcctId}', function(
                result, event) {
                if (event.status) {
                    $('#tableLoading').hide();
                    $('#stmtpnl').show();
                    var recs = [];
                    var i = 0;
                    $.each(result, function(r) {
                        var tmp = [];
                        tmp.push('<input type="checkbox" class="checkbox" value="'+result[r].selected+'"/>');
                        var CC_Dispute_Code__c = result[r].CC_Dispute_Code__c;
                        var InvId = result[r].Statement_Key__c;
                        var InvNum = parseInt(result[r].CC_Invoice__c, 10); //@Priyanka Baviskar : 12/24/2018: For Invoice print issue with Invoices with zeros in front. RT 8114518.
                        var InvIdlink = InvId.replace(/^0+/, '');     //@Priyanka Baviskar : 12/24/2018: For Invoice print issue with Invoices with zeros in front. RT 8114518.
                        if (CC_Dispute_Code__c) {
                            tmp.push('<a  target="_blank" id="' +
                                InvNum +
                                '" href="{!$Site.Prefix}/CC_PavilionInvoicedetail?invid=' +
                                InvIdlink + '">' + InvNum  +
                                '</a>' + '' +
                                '<font style="color:red">&nbsp;&nbsp;D</font>'
                            );
                        } else {
                            tmp.push('<a  target="_blank" id="' + InvNum + '" href="{!$Site.Prefix}/CC_PavilionInvoicedetail?invid=' + InvIdlink + '">' + InvNum + '</a>');  //@Priyanka Baviskar : 12/24/2018: For Invoice print issue with Invoices with zeros in front. RT 8114518.
                        }
                        var CC_Po_Number__c = result[r].CC_Po_Number__c;
                        if (CC_Po_Number__c) {
                            tmp.push(result[r].CC_Po_Number__c);
                        } else {
                            tmp.push('');
                        }
                        var CC_Invoice_Date__c = result[r].CC_Invoice_Date__c;
                        if (CC_Invoice_Date__c) {
                            tmp.push(moment(result[r].CC_Invoice_Date__c).utc().format('L'));
                        } else {
                            tmp.push('');
                        }
                        var CC_Due_Date__c = result[r].CC_Due_Date__c;
                        if (CC_Due_Date__c) {
                            tmp.push(moment(result[r].CC_Due_Date__c).utc().format('L'));
                        } else {
                            tmp.push('');
                        }
                        var CC_Balance__c = result[r].CC_Balance__c;
                        if (CC_Balance__c) {
                            tmp.push(currencyFormat(result[r].CC_Balance__c));
                        } else {
                            tmp.push('-');
                        }
                        //calculation of current,30 to 90 days values begins here
                        var CC_Period__c = result[r].CC_Period__c;
                        tmp.push('<input size="7" type="text" style="text-align: right" name="Remitvalue" width="6" value="" contenteditable="true" onkeyup="updateTotal()"/>');
                        tmp.push('<input type="checkbox" value="result[r].CC_Balance__c" onclick="fullIn(this)"/>');
                        recs[i] = tmp;
                        i++;
                    });
                    $('#invtbl').dataTable().fnAddData(recs);
                    $('#invtbl').dataTable().fnDraw();

                } else {
                    alert(event.message + event.where);
                }
            }, {
                escape: false
            });
        }
        
        function ClearValues() {
         $('input[type=checkbox]').attr('checked', false);
        }
        //format the currencies obtained from the input values of remittance amount
        function currencyFormat(num) {
            if (num == 'NaN') {return "$0.00";} 
            else {return "$" + num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g,",");}
        }
        
        function selectAll(ele){
            $(".checkbox").each(function(){
                $(this).prop('checked', ele);
            });
        }
        
        function removeSortIcon(){;
            $("#selectBox").removeClass();
            $("#selectBox").addClass("ui-state-default");
            $("#selectBox").children("div").removeClass();
            $("#selectBox").children("div").children("span").remove();
        }
        //UPDATE VALUE ENTERED IN AMOUNT DUE
       function updateTotal() {
         var Total_Sum=0.00; 
         $("#invtbl").children("tbody").children().each(function(){
         var valueAmount=$(this).children("td:nth-child(7)").children("input").val();
         console.log('valsum is'+valueAmount);
         if(!isNaN(parseInt(valueAmount))) {Total_Sum=Total_Sum+parseFloat(valueAmount);}
         else if( valueAmount.charAt( 0 ) === '-' && !isNaN(parseInt(valueAmount.slice(1)))) {Total_Sum=Total_Sum-parseFloat(valueAmount.slice(1));}
         else if( valueAmount.charAt( 0 ) === '+' && !isNaN(parseInt(valueAmount.slice(1)))) {Total_Sum=Total_Sum+parseFloat(valueAmount.slice(1));}
       });
         totalAmountToBeDisplayedonPDF=Total_Sum;
         prevAmt = Total_Sum;
         var decimalVal=currencyFormat(Total_Sum);
         var footerVal=$("#invtbl").children("tfoot").children().children("th:nth-child(4)").text(decimalVal);
       }
        
         //auto fill values entered in remittance amount
        function fullIn(ths){
           var val=$(ths).parent().prev().children().val(($(ths).parent().prev().prev().text().replace(/[$/,]/g,'')));
           updateTotal();
        }
        function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
        
        var totalvalue = '';
       // var InvoiceValue = '';
        var CPamount = '';
        var disputecode= '';
        
        function appendamt(invAmount){
            invAmount.innerHTML = invAmount.value;           
        }
        
        function appenddisputevalue(disputetext) {
         disputetext.innerHTML = disputetext.value;
        }
        
        function displayTextArea(thisval) {
         var optionSelected = $(thisval).find('option:selected').text();
         if (optionSelected != null || optionSelected != undefined) {
             $(thisval).closest('td').next('td').find('textarea').show();
         } else {
          $(thisval).closest('td').next('td').find('textarea').hide();
         }
         return false;
        }
        
        /***********PRINT REMITTANCE******************/
        function printRemittance() {
          $('#hideWhilePrintStmntId').hide();
          $('#printRemittanceId').show();
          tablebody = '';
          var calcRemitAmt = 0.00;
          var table = $('#invtbl').DataTable();
          table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {       
            var cell1 = $(table.cell({ row: rowIdx, column: 1}).node()).text();
            cell1 = cell1.replace(/\s+/g, '');
            cell1 = cell1.replace(/\D/g,'');    
            tablebody += ''!=cell1 ? '<tr><td align="right">' + cell1 + '</td>' : '<tr><td></td>';
          
            var cell2 = $(table.cell({ row: rowIdx, column: 4}).node()).text();
            tablebody += ''!=cell2 ? '<td align="right">' + cell2 + '</td>' : '<td></td>';
          
            var cell3 = $(table.cell({ row: rowIdx, column: 5}).node()).text();
            tablebody += ''!=cell3 ? '<td align="right">' + cell3 + '</td>' : '<td></td>';
          
            var cell = table.cell({ row: rowIdx, column: 6   }).node();
            var remitAmt = $('input', cell).val();
            console.log('remit amt'+remitAmt);
            if(""!=remitAmt){tablebody +=  '<td align="right">' + currencyFormat(parseFloat(remitAmt)) + '</td></tr>';calcRemitAmt = calcRemitAmt + parseFloat(remitAmt);}
            else{ tablebody += '<td></td></tr>'}
        });
        var payThisAmt = document.getElementById("amountdueTotal").innerHTML;
        $('#totAmt').parent().append('<td align="right" width="33%" style="border-left: solid 1px #000000;border-right: solid 1px #000000;border-top: solid 1px #000000;border-bottom: solid 1px #000000;">' + payThisAmt + '</td>');
        $('#amtPaid').parent().append('<td align="right" width="33%">' + currencyFormat(calcRemitAmt)  + '</td>')
        $('#printRemitTableId tbody').append(tablebody);
      } // END OF PRINTREMITTANCE()
        
        
        
        /*****START OF RAISING DISPUTES***************/
        function openDispute() {
            if ($('input[type=checkbox]:checked').length == 0) {
                alert("Please select at least one invoice");
                return false;
            }
            var invKeyArr = [];
            var table =$('#invtbl').DataTable();
            $(table.rows().nodes()).find('input[type="checkbox"]:checked').each(function() {
              //PREPARE INVKEYS AS LINK WONT BE AVAILABLE ONCE THE DIALOGUE OPENS
              var htmlcontent = $(this).closest("tr").find('td:eq(1)').html();
              var invLink = $(htmlcontent).attr('href');//get ahref tag of the selected invoice number
              var invKey = invLink.split("=")[1];//extract the key val from the tag
              invKeyArr.push(invKey);
              
              //BUILD DISPUTE DATA TO BE DISPLAYED IN THE DIALOGUE PANEL
              var disputeCells = '<tr><td>' + $(table.cells($(this).closest("tr").find('td:eq(1)')).nodes()).text() + '</td>';
              disputeCells += '<td>' + $(table.cells($(this).closest("tr").find('td:eq(2)')).nodes()).text() + '</td>';
              disputeCells += '<td>' + $(table.cells($(this).closest("tr").find('td:eq(3)')).nodes()).text() + '</td>';
              disputeCells += '<td>' + $(table.cells($(this).closest("tr").find('td:eq(4)')).nodes()).text() + '</td>';
              disputeCells +='<td><input type="text" size="5" value="" style="text-align: right" name="disputeAmtValue" value="" contenteditable="true" onchange onblur="appendamt(this)"/></td>';
              disputeCells +='<td><select id="ddlid" name="DisputeCode" size="1" onchange="displayTextArea(this)">';
              disputeCells += '<option value="None">---None---</option>';
              disputeCells += '<option value="Damaged">Damaged Delivery</option>';
              disputeCells += '<option value="Duplicate">Duplicate Shipment</option>';
              disputeCells += '<option value="Doc">Incomplete Documentation</option>';
              disputeCells += '<option value="Mat">Incorrect Material Shipped</option>';
              disputeCells += '<option value="Late deli">Late Delivery</option>';
              disputeCells += '<option value="Incomplete">Proof of Delivery</option>';
              disputeCells += '<option value="Incomplete">Returned Material</option>';
              disputeCells += '<option value="Incomplete">Short Shipment</option>';
              disputeCells += '<option value="Incomplete">Awaiting comissioning / start-up</option>';
              disputeCells += '<option value="Incomplete">Application for payment issue</option>';
              disputeCells += '<option value="Incomplete">Duplicate Billing</option>';
              disputeCells += '<option value="Incomplete">Final Acceptance / Retention</option>';
              disputeCells += '<option value="Incomplete">Freight Charges</option>';
              disputeCells += '<option value="Incomplete">Incorrect Billing</option>';
              disputeCells += '<option value="Incomplete">PO # incorrect</option>';
              disputeCells += '<option value="Incomplete">Price Error</option>';
              disputeCells += '<option value="Incomplete">Trade Discount</option>';
              disputeCells += '<option value="Incomplete">Time and Expense</option>';
              disputeCells += '<option value="Incomplete">Terms of Payment</option>';
              disputeCells += '<option value="Incomplete">Tax</option>';
              disputeCells += '<option value="Incomplete">Wrong Debtor / Account</option>';
              disputeCells += '<option value="Incomplete">Letter of Credit / Documentary Credit</option>';
              disputeCells += '<option value="Incomplete">Customer Backcharges - Contra Charges</option>';
              disputeCells += '<option value="Incomplete">Contract Completion Outstanding</option>';
              disputeCells += '<option value="Incomplete">Equipment not Operating /Technical Problem</option>';
              disputeCells += '<option value="Incomplete">Service Work Unsatisfactory</option>';
              disputeCells += '<option value="Incomplete">Warranty Claim</option>';
              disputeCells += '<option value="Incomplete">Works Incomplete</option>';
              disputeCells += '<option value="Incomplete">Dispute Resolved</option>';
              disputeCells += '<option value="Incomplete">Misc Disputes</option>';
              disputeCells += '<option value="Incomplete">Legal</option>';
              disputeCells += '</select></td>';
              disputeCells +='<td><textarea rows="3" cols="10" style="display:none;" onblur="appenddisputevalue(this)"></textarea></td></tr>';
              $('#invdatapopup tbody').append(disputeCells);
            });
            invKeyArr.join(';');
            
            $("#dialog").dialog({
                autoOpen: true,
                width: 1100,
                height: 640,
                show: {effect: "drop"},
                modal: true,
                buttons: {
                    "Save": function() {
                            return saveDisputeData(invKeyArr);
                            $(this).dialog("close");// Refresh table 
                            },
                    "Cancel": function() {
                              ClearValues();
                              $(this).dialog("close");
                              }
                }
            });
            return false;
        }
        
        /***ON SAVE SEND THE DISPUTEDATA TO REMOTE ACTION AND CREATE,RETURN CASE LIST****/
        function saveDisputeData(invKey){
          var invMatchedKeys =[];
          var count=0;
          var invVal='';
          $('#invdatapopup>tbody>tr>td').each(function() {
            
            var indexofremit = $(this).index();
            var remittancetext = $(this).text();
            
            if(indexofremit == 0) {
            console.log('firdt of fore invkeys'+invVal );
              var InvoiceValue = ($(this).text());
              InvoiceValue = InvoiceValue.replace(/\s+/g, '');
              InvoiceValue = InvoiceValue.replace(/\D/g,'');
              for(i=0;i<invKey.length;i++){
                inv=invKey[i].split('_')[0];
                console.log('trimmed val'+InvoiceValue+'='+inv);
                if(inv == InvoiceValue ){invVal += invKey[i];}
              }
            }
            
            if (indexofremit == 4) {
               var amount = '';
                if ($(this).text() == '') {
                 amount = 'NA';
                 invVal += ':' + amount;
                 if (amount != '') {
                  amount = amount + '.00';
                  invVal += ':' + amount;
    
                 }
                  } else { 
               
                 amount = $(this).text();
                 console.log("amount^^^^"+amount);
                 console.log(amount);
                 invVal += ':' + amount;                 
                }
           }
           if(indexofremit == 5){
             var dc = $(this).find('option:selected').text();
             if(dc.includes('None') || dc == ''){dc = 'NA';invVal += ':' + dc;}
             else{
             invVal += ':' + dc;  
             console.log('dispute code is'+invVal);
             }
           }
             if (indexofremit == 6) {
              var dispute = '';
              var child = $(this).text();
              console.log("child &&&&"+child) 
              if(child == ''){invVal += ':' +'NA'+ ';';}
              else{           
              invVal += ':' + child + ';';   
              console.log("invVal after 6"+invVal)
              }
             }
              console.log('last of for invkeys'+invVal );
          }); 
           
          CC_Links_StatementController.sendInvAndGetCase('{!AcctId}',invVal, function(result, event) {
            if(event.status){
              $("#infoDialog").dialog({
              autoOpen: true,
              width: 450,
              height: 250,
              show: {
               effect: "drop"
              },
              buttons: {
               "Ok": function() {
                location.reload(true);}
              },
              modal: true
              });
             var invoices = '';
             console.log(result);
             var count=0;
             for (key in result){
                if(key == '1'){
                  $.each(result[key], function(r) {
                  invoices += '#'+result[key][r] + ' ';
                  count++;
                  });
                }
             }
             if(count==1){
                $("#infoDialog").text("Case Number " + invoices + " has been created successfully."); 
             }
             else if(count>1){
                $("#infoDialog").text("Case Numbers " + invoices + " has been created successfully.");  
             }
             return false;
            }
            else{
                    alert(event.message + event.where);
            }     
          });
        }
        /******END OF DISPUTE FUNCTIONALITY********/

         
        /******PRINT INVOICES*********************/
        function printInvoice() {
            if($('input[type=checkbox]:checked').length == 0) {
                alert("Please select at least one Invoice to Print");
                return false;
             }
            $('#hideWhilePrintStmntId').hide();
            $('#printInvoiceId').show();
            var invKeyArr = [];
            var table =$('#invtbl').DataTable();
            $(table.rows().nodes()).find('input[type="checkbox"]:checked').each(function() {
              var htmlcontent = $(this).closest("tr").find('td:eq(1)').html();
              var invLink = $(htmlcontent).attr('href');//get ahref tag of the selected invoice number
              var invKey = invLink.split("=")[1];//extract the key val from the tag
              invKeyArr.push(invKey);
            });
            invKeyArr.join(";");
            console.log(invKeyArr);
            //FETCHING INVOICE RECORDS FROM REMOTEACTION BEGINS HERE
            CC_Links_StatementController.getSelectedInvoiceData(invKeyArr, function(
                result, event) {
                if (event.status) {
                    var tableid = 'tableid';
                    var count = 0;
                    $.each(result, function(r) {
                    if(result[r] != undefined){
                      if(result[r].CC_sequence__c == 1){
                        count++;
                        tableid = tableid + count;
                        var invKeyName = result[r].Name;
                        
                        /*********HEADERS FOR INVOICE PRINT*******/
                        var header = '<table id="printInvoiceTable" border="0" width="100%" style="font-family: Verdana, Arial, sans-serif;font-size: 10pt;">';
                        header += '<tr><td align="left" width="33%" style="vertical-align:top"><img src="{!URLFOR($Resource.CC_ClubCarImg)}"/>';
                        header += '<br/><b><font size="1.5px">4125 Washington Road</font></b><br/><b><font size="1.5px">Evans,GA 30809 USA</font></b><br/><b><font size="1.5px">Phone:1-800-227-0739</font></b></td>';
                        header += '<td align="center" style="vertical-align:top"><b><i>INOVICE</i><br/>Important Remit to:</b></td>';
                        header += '<td align="right" width="33%" style="vertical-align:top"><img src="{!URLFOR($Resource.CC_IRImage)}" width="200" height="55"/></td></tr>';
                        
                        header +=  '<tr><td align="left" width="33%"><br/><br/><b>SOLD TO: </b><br/>';
                        var CC_Sold_To__c = result[r].CC_Sold_To__c ? result[r].CC_Sold_To__c : '';
                        header += CC_Sold_To__c + '<br/>';
                        var CC_Sold_To_Address_1__c = result[r].CC_Sold_To_Address_1__c ? result[r].CC_Sold_To_Address_1__c : '';
                        header += CC_Sold_To_Address_1__c + '<br/>';
                        var CC_Sold_To_Address_2__c = result[r].CC_Sold_To_Address_2__c ? result[r].CC_Sold_To_Address_2__c : '';
                        header += CC_Sold_To_Address_2__c + '<br/>';
                        var CC_Sold_To_Address_3__c = result[r].CC_Sold_To_Address_3__c ? result[r].CC_Sold_To_Address_3__c : '';
                        header += CC_Sold_To_Address_3__c + '<br/>';
                        var CC_Sold_To_Address_4__c = result[r].CC_Sold_To_Address_4__c ? result[r].CC_Sold_To_Address_4__c : '';
                        header += CC_Sold_To_Address_4__c + '<br/>';
                        var CC_Sold_To_Address_5__c = result[r].CC_Sold_To_Address_5__c ? result[r].CC_Sold_To_Address_5__c : '';
                        header += CC_Sold_To_Address_5__c + '</td>';
                        
                        header += '<td align="center" style="vertical-align:top"><table border="1"><tr><td style="word-wrap: break-all;">{!remitAddress}</td></tr></table></td>';
                        
                        header +=  '<td align="right" width="33%"><br/><br/><b>SHIP TO: <br/></b>';
                        var CC_Ship_To__c = result[r].CC_Ship_To__c ? result[r].CC_Ship_To__c : '';
                        header += CC_Ship_To__c + '<br/>';
                        var CC_Ship_To_Address_1__c = result[r].CC_Ship_To_Address_1__c ? result[r].CC_Ship_To_Address_1__c : '';
                        header += CC_Ship_To_Address_1__c + '<br/>';
                        var CC_Ship_To_Address_2__c = result[r].CC_Ship_To_Address_2__c ? result[r].CC_Ship_To_Address_2__c : '';
                        header += CC_Ship_To_Address_2__c + '<br/>';
                        var CC_Ship_To_Address_3__c = result[r].CC_Ship_To_Address_3__c ? result[r].CC_Ship_To_Address_3__c : '';
                        header += CC_Ship_To_Address_3__c + '<br/>';
                        var CC_Ship_To_Address_4__c = result[r].CC_Ship_To_Address_4__c ? result[r].CC_Ship_To_Address_4__c : '';
                        header += CC_Ship_To_Address_4__c + '<br/>';
                        var CC_Ship_To_Address_5__c = result[r].CC_Ship_To_Address_5__c ? result[r].CC_Ship_To_Address_5__c : '';
                        header += CC_Ship_To_Address_5__c + '</td></tr></table>';
                        $('#printInvoiceId').append(header);
                        
                        /*****CONSTRUCT INVOICE TABLES*****/
                        var content = '</br><table border="1" width="100%" style="font-family: Verdana, Arial, sans-serif;font-size: 10pt;">';
                        content += '<thead><th align="center">CUSTOMER NUMBER</th>';
                        content += '<th align="center">SHIP VIA</th>';
                        content += '<th align="center">ORDER NO.</th>';
                        content += '<th align="center">SLSMN. NO.</th>';
                        content += '<th align="center">SALES ORDER NO.</th>';
                        content += '<th align="center">P.O.#</th>';
                        content += '<th align="center">TERMS</th></thead>';
                        var Customer_Number__c = result[r].Customer_Number__c;
                        Customer_Number__c ? content += '<tr><td align="center">' + Customer_Number__c +'</td>' : content +='<tr><td></td>';
                        var CC_SHIP_VIA__c = result[r].CC_SHIP_VIA__c;
                        CC_SHIP_VIA__c ? content += '<td align="center">' + CC_SHIP_VIA__c + '</td>' : content +='<td></td>';
                        var CC_Order_Number__c = result[r].CC_Order_Number__c;
                        CC_Order_Number__c ? content += '<td align="center">' + CC_Order_Number__c + '</td>' : content +='<td></td>';
                        var CC_Salesman_Num__c = result[r].CC_Salesman_Num__c;
                        CC_Salesman_Num__c ? content += '<td align="center">' + CC_Salesman_Num__c +'</td>' : content +='<td></td>';
                        var CC_SALESORDER_NO__c = result[r].CC_SALESORDER_NO__c;
                        CC_SALESORDER_NO__c ? content += '<td align="center">' + CC_SALESORDER_NO__c +'</td>' : content +='<td></td>';
                        var CC_PO_Number__c = result[r].CC_PO_Number__c;
                        CC_PO_Number__c ? content += '<td align="center">' + CC_PO_Number__c +'</td>' : content +='<td></td>'; 
                        var CC_Terms__c = result[r].CC_Terms__c;
                        CC_Terms__c ? content += '<td align="center">' + CC_Terms__c +'</td></tr></table></br>' : content +='<td></td></tr></table></br>';
                        /*BODY OF ITEM TABLE*/
                        content += '<table class="table-example-1" id='+tableid+' width="100%">';
                        content += '<thead><th align="center" style="border-top: solid 1px #000000;border-bottom: solid 1px #000000;border-left: solid 1px #000000;">ITEM NUMBER</th>';
                        content += '<th align="center" style="border-top: solid 1px #000000;border-bottom: solid 1px #000000;border-left: solid 1px #000000;">DESCRIPTION</th>';
                        content += '<th align="center" style="border-top: solid 1px #000000;border-bottom: solid 1px #000000;border-left: solid 1px #000000;">UNIT</th>';
                        content += '<th align="center" style="border-top: solid 1px #000000;border-bottom: solid 1px #000000;border-left: solid 1px #000000;">QUANTITY SHIPPED</th>';
                        content += '<th align="center" style="border-top: solid 1px #000000;border-bottom: solid 1px #000000;border-left: solid 1px #000000;">QTY.BACK ORDERED</th>';
                        content += '<th align="center" style="border-top: solid 1px #000000;border-bottom: solid 1px #000000;border-left: solid 1px #000000;">UNIT PRICE</th>';
                        content += '<th align="center" style="border-top: solid 1px #000000;border-bottom: solid 1px #000000;border-left: solid 1px #000000;border-right: solid 1px #000000;">AMOUNT</th></thead>';
                        content += '<tfoot><th style="border-top: solid 1px #000000;"></th>';
                        content += '<th style="border-top: solid 1px #000000;"></th>';
                        content += '<th style="border-top: solid 1px #000000;"></th>';
                        content += '<th style="border-top: solid 1px #000000;"></th>';
                        content += '<th style="border-top: solid 1px #000000;"></th>';
                        content += '<th style="border-top: solid 1px #000000;"></th>';
                        content += '<th style="border-top: solid 1px #000000;"></th></tfoot>';
                        
                        var CC_Item_Number__c = result[r].CC_Item_Number__c;
                        CC_Item_Number__c ? content += '<tbody><tr class="TR1" height="0%"><td align="center" style="border-left: solid 1px #000000;">' + result[r].CC_Item_Number__c + '</td>' : content += '<tr><td style="border-left: solid 1px #000000;"></td>';
                        var CC_Item_Description__c = result[r].CC_Item_Description__c;
                        CC_Item_Description__c ? content += '<td align="left" style="border-left: solid 1px #000000;">' + CC_Item_Description__c  + '</td>' : content += '<td style="border-left: solid 1px #000000;"></td>';
                        var CC_Unit_Measure__c = result[r].CC_Unit_Measure__c ;
                        CC_Unit_Measure__c ? content += '<td align="center" style="border-left: solid 1px #000000;">' + CC_Unit_Measure__c + '</td>' : content += '<td style="border-left: solid 1px #000000;"></td>';
                        var CC_Qty_Shipped__c = result[r].CC_Qty_Shipped__c;
                        CC_Qty_Shipped__c ? content += '<td align="right" style="border-left: solid 1px #000000;">' + CC_Qty_Shipped__c + '</td>' : content += '<td style="border-left: solid 1px #000000;"></td>';
                        var CC_Qty_Back_Ord__c = result[r].CC_Qty_Shipped__c;
                        CC_Qty_Back_Ord__c ? content += '<td align="right" style="border-left: solid 1px #000000;">' + CC_Qty_Back_Ord__c + '</td>' : content += '<td style="border-left: solid 1px #000000;"></td>';
                        var CC_Unit_Price__c = result[r].CC_Unit_Price__c;
                        CC_Unit_Price__c ? content += '<td align="right" style="border-left: solid 1px #000000;">' + currencyFormat(CC_Unit_Price__c) + '</td>' : content += '<td style="border-left: solid 1px #000000;"></td>';
                        var CC_Line_Net_Sale_Amt__c = result[r].CC_Line_Net_Sale_Amt__c ;
                        CC_Line_Net_Sale_Amt__c ? content += '<td align="right" style="border-left: solid 1px #000000;border-right: solid 1px #000000;">' + currencyFormat(CC_Line_Net_Sale_Amt__c) + '</td></tr></tbody>' : content += '<td style="border-left: solid 1px #000000;border-right: solid 1px #000000;"></td></tr></tbody>';
                        $('#printInvoiceId').append(content);
                        
                        
                        /*FOOTER TABLE*/
                        var footerTable = '</br><table border="1" width="100%" align="center" style="font-family: Verdana, Arial, sans-serif;font-size: 10pt;"><thead align="center"><th>NET SALES AMOUNT</th>';
                        footerTable += '<th align="center">TRADE DISCOUNT</th>';
                        footerTable += '<th align="center">MISCELLANEOUS CHARGES</th>';
                        footerTable += '<th align="center">TAXES</th>';
                        footerTable += '<th align="center">TERMS DISCOUNT</th>';
                        footerTable += '<th align="center" bgcolor="#B0C4DE">AMOUNT DUE</th></thead>';
                        footerTable += '<tr><td align="right">' + currencyFormat(result[r].CC_Net_Sale_Amt__c) + '</td>';
                        footerTable += '<td align="right">' + currencyFormat(result[r].CC_Trade_Discount__c) + '</td>';
                        var CC_MISCELLANEOUS_CHARGES__c = CC_MISCELLANEOUS_CHARGES__c ;
                        CC_MISCELLANEOUS_CHARGES__c ? footerTable += '<td align="right">' + CC_MISCELLANEOUS_CHARGES__c + '</td>' : footerTable += '<td></td>';
                        footerTable += '<td align="right">' + currencyFormat(result[r].CC_Taxes__c) + '</td>';
                        footerTable += '<td align="right">' + currencyFormat(result[r].CC_Terms_Discount__c) + '</td>';
                        footerTable += '<td align="right">' + currencyFormat(result[r].CC_Amount_Due__c) + '</td></tr>';
                        $('#printInvoiceId').append(footerTable);
                        /*TEXTS*/
                        var pagetext ='<table align="center" border="0" width="50%">';
                        pagetext += '<tr><td align="center"><i><font color="#717D7E">* - All past due invoices are subject to a 1% per month finance charge</font></i></td></tr></table></br></br>';
                        pagetext += '<table align="center" border="0" width="30%">';
                        pagetext += '<tr><td align="center">--Page'+ count +'--</td></tr>';
                        $('#printInvoiceId').append(pagetext);
                        /****NOT OF SEQUENCE 1 ITEMS*****/
                            $.each(result, function(r) {
                                if(result[r].CC_sequence__c != 1 && result[r].Name == invKeyName){
                                    console.log('inside not sequence 1');
                                    var itemsTable ='';
                                    if(result[r].CC_Item_Number__c)      {itemsTable = '<tr><td align="center" style="border-left: solid 1px #000000;">' + result[r].CC_Item_Number__c + '</td>';}
                                    else{itemsTable += '<tr><td style="border-left: solid 1px #000000;"></td>';}
                                    if(result[r].CC_Item_Description__c ){itemsTable += '<td align="left" style="border-left: solid 1px #000000;">' + result[r].CC_Item_Description__c + '</td>';}
                                    else{itemsTable += '<td style="border-left: solid 1px #000000;"></td>';}
                                    if(result[r].CC_Unit_Measure__c )    {itemsTable += '<td align="center" style="border-left: solid 1px #000000;">' + result[r].CC_Unit_Measure__c + '</td>';}
                                    else{itemsTable += '<td style="border-left: solid 1px #000000;"></td>';}
                                    if(result[r].CC_Qty_Shipped__c)      {itemsTable += '<td align="right" style="border-left: solid 1px #000000;">' + result[r].CC_Qty_Shipped__c + '</td>';}
                                    else{itemsTable += '<td style="border-left: solid 1px #000000;"></td>';}
                                    if(result[r].CC_Qty_Back_Ord__c )    {itemsTable += '<td align="right" style="border-left: solid 1px #000000;">' + result[r].CC_Qty_Back_Ord__c + '</td>';}
                                    else{itemsTable += '<td style="border-left: solid 1px #000000;"></td>';}
                                    if(result[r].CC_Unit_Price__c )      {itemsTable += '<td align="right" style="border-left: solid 1px #000000;">' + result[r].CC_Unit_Price__c + '</td>';}
                                    else{itemsTable += '<td style="border-left: solid 1px #000000;"></td>';}
                                    if(result[r].CC_Line_Net_Sale_Amt__c){itemsTable += '<td align="right" style="border-left: solid 1px #000000;border-right: solid 1px #000000;">' + result[r].CC_Line_Net_Sale_Amt__c + '</td></tr></table>';}
                                    else{itemsTable += '<td style="border-left: solid 1px #000000;border-right: solid 1px #000000;"></td></tr></table>';}
                                    $('#'+tableid+' tbody').append(itemsTable);
                                    
                                }//END OF INNER IF(SEQ)
                            });
                     var theight = $("#"+tableid).height();
                     theight = 600-parseInt(theight);
                     var bigtableht = '<tr class="TR1" height="'+theight+'"><td align="left" style="border-left: solid 1px #000000;" valign="top"></td>';
                     bigtableht += '<td align="left" style="border-left: solid 1px #000000;" valign="top"></td>';
                     bigtableht += '<td align="left" style="border-left: solid 1px #000000;" valign="top"></td>';
                     bigtableht += '<td align="left" style="border-left: solid 1px #000000;" valign="top"></td>';
                     bigtableht += '<td align="left" style="border-left: solid 1px #000000;" valign="top"></td>';
                     bigtableht += '<td align="left" style="border-left: solid 1px #000000;" valign="top"></td>';
                     bigtableht += '<td align="left" style="border-left: solid 1px #000000;border-right: solid 1px #000000;" valign="top"></td></tr>';
                     $('#'+tableid+' tbody').append(bigtableht);
                     } //END OF OUTER IF(SEQ)
                       
                    }
                    });
                   //STYLE THE ITEM TABLE
                }//END OF IF
                else {
                    alert(event.message + event.where);
                } 
                });
        }
        /***********END OF PRINT INVOICES***************/
        
        
    </script>

</apex:page>