<apex:page docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" sidebar="false" controller="CC_PavilionTemplateController" action="{!redirectPartsOrderHistory}" 
           extensions="CC_PartsOrderDetailPageController" standardStylesheets="false" showheader="false">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>Parts Order Detail Page</title>
            <apex:stylesheet value="{!URLFOR($Resource.bootstrap336, '/css/bootstrap.min.css')}"/>
            <style>
          body {padding-top: 50px;}
              .grey_background {background-color: #808080;}
              .shipping_info {padding-top: 20px;}
              .no_border {border: 0px !important;}
              .normal_font {font-weight: normal;}
              
              @media print {
                @page {margin: 0;}  
                body {
                    margin: 0;
                    padding: 0;
                    line-height: 1.4em;
                    word-spacing: 1px;
                    letter-spacing: 0.2px;
                    font: 8px Arial, Helvetica,"Lucida Grande", serif;
                    color: #000;
                    }
                }
            </style>
        </head>
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-xs-4">
                            <apex:image url="{!$Resource.CC_ClubCarImg}" width="auto"/>
                            <div>4125 Washington Road</div>
                            <div>Evans, GA 30809 USA</div>
                            <div>Phone:1-800-227-0739</div>
                        </div>
                        
                        <div class="col-xs-4">
                            <div><b>Order Detail</b></div>
                        </div>
                        <div class="col-xs-4">
                            <apex:image url="{!$Resource.CC_IRImage}" width="200" height="55"/>
                        </div>
                    </div>
                    <div class="row shipping_info">
                        <div class="col-xs-4">
                            <div>Sold To</div>
                            <div>{!order.Bill_To_Addressee__c}</div>
                            <div>{!order.Bill_To_Address_Line_1__c}</div>
                            <div>{!order.Bill_To_Address_Line_2__c}</div>
                            <div>{!order.Bill_To_Address_Line_3__c}</div>
                            <div>{!order.Bill_To_Address_Line_4__c}</div>
                            <div>{!order.Bill_To_Address_Line_5__c}</div>
                            <div>{!order.Bill_To_City__c} {!order.Bill_To_State__c} {!order.Bill_To_Postal_Code__c}</div>
                            <div>{!order.Bill_To_Country__c}</div>
                            <div>{!order.Bill_To_Contact__c}</div>
                            <div>{!order.Bill_To_Fax__c}</div>
                            <div>{!order.Bill_To_Phone__c}</div>
                        </div>
                        <div class="col-xs-4 col-xs-offset-4">
                            <div>Ship To</div>
                            <div>{!order.CC_Addressee_name__c}</div>
                            <div>{!order.CC_Address_line_1__c}</div>
                            <div>{!order.CC_Address_line_2__c}</div>
                            <div>{!order.CC_Address_line_3__c}</div>
                            <div>{!order.Address_line_4__c}</div>
                            <div>{!order.Address_line_5__c}</div>
                            <div>{!order.CC_City__c} {!order.CC_States__c} {!order.CC_Postal_code__c}</div>
                            <div>{!order.CC_Country__c}</div>
                            <div>{!order.CC_Contact_name__c}</div>
                            <div>{!order.CC_Fax_number__c}</div>
                            <div>{!order.CC_Telephone_number__c}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="grey_background">Order No</th>
                                        <th class="grey_background">Slsman</th>
                                        <th class="grey_background">PO#</th>
                                        <th class="grey_background">Ref#</th>
                                        <th class="grey_background">Req Date</th>
                                        <th class="grey_background">Ship Date</th>
                                        <th class="grey_background">Deliv Date</th>
                                        <th class="grey_background">Load</th>
                                        <th class="grey_background">Carrier</th>
                                        <th class="grey_background">Terms</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="normal_font">{!order.Order_Number__c}</th>
                                        <td>{!order.CC_Sales_Person_Number__r.Name}</td>
                                        <td>{!order.PO__c}</td>
                                        <td>{!order.CC_Order_Number_Reference__c}</td>
                                        <td>
                                            <apex:outputText value="{0,date,MM/dd/yyyy}">
                                                <apex:param value="{!order.CC_Request_Date__c}" />
                                            </apex:outputText>
                                        </td>
                                        <td>--</td>
                                        <td>
                                            <apex:outputText value="{0,date,MM/dd/yyyy}">
                                                <apex:param value="{!order.CC_Delivery_Date__c}" />
                                            </apex:outputText>
                                        </td>
                                        <td>{!order.CC_LoadDrop__c}</td>
                                        <td>{!order.CC_Carrier_ID__c}</td>
                                        <td>{!order.CC_Terms__c}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="grey_background">Item</th>
                                        <th class="grey_background">Description</th>
                                        <th class="grey_background text-center">Quantity</th>
                                        <th class="grey_background text-center">Unit Price</th>
                                        <th class="grey_background text-center">Ext Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!order.Order_Item__r}" var="item">
                                        <tr>
                                            <th class="normal_font">{!item.Product__r.ProductCode}</th>
                                            <td>{!item.Product__r.Name}</td>
                                            <td class="text-center">{!item.CC_Quantity__c}</td>
                                            <td class="text-right">${!item.CC_UnitPrice__c}</td>
                                            <td class="text-right">${!item.CC_TotalPrice__c}</td>
                                        </tr>
                                    </apex:repeat>
                                    <tr>
                                        <th class="no_border"></th>
                                        <td class="no_border"></td>
                                        <td class="no_border"></td>
                                        <td class="grey_background no_border">Total</td>
                                        <td class="no_border text-right">${!order.Total_Invoice_Amount__c}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-4">
                            *Total price excludes sales tax and other charges.
                        </div>
                    </div>
                </div>
            </div>
        <!-- vendor JS -->
        <apex:includeScript value="{!URLFOR($Resource.jquery1122)}" />
        <apex:includeScript value="{!URLFOR($Resource.bootstrap336, '/js/bootstrap.min.js')}" />
</apex:page>