<apex:page controller="CC_PavilionTemplateController" action="{!redirectMyCoOpAccount}" extensions="CC_ContractController" standardStylesheets="flase" id="pageId" showHeader="false" sidebar="false">
    <head>
    <meta charset="utf-8"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/30.0/apex.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.jqueryui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.jqueryui.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <style>
      h3 {
        margin-bottom: 20px;
      }
      .para {
        line-height: 24px;
        font-size: 14px;
        text-align: justify;
      }
      select, input {
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
      table.dataTable.no-footer {
        border-bottom: 1px solid #ddd;
      }
      .dataTables_wrapper {
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 20px;
      }
      .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.4em 0.8em;
        margin-bottom: 30px;
      }
      .bottom {
        padding: 8px;
      }
      table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #111;
      }
      .ui-widget-header {
        border: 1px solid #aaaaaa;
        background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
        color: #222222;
      }
      #newTable_info #coopTable_info{
        clear: none;
        padding: 0;
      }
      #newTable_length #coopTable_length{
        top: 40px;
        clear: none;
        margin-right: 20px;
        margin-left: 10px;
      } 
     
    .ui-dialog-titlebar-close {
      visibility: hidden;
    }
    table.dataTable thead th div.DataTables_sort_wrapper span {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: -9px;
      !Important;
    }
    </style>
  </head>   
<apex:composition template="CC_PavilionTemplate">
    <apex:define name="body">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">{!$Label.CC_Pavilion_Side_Bar_Heading}</div>
                    <div class="panel-body">
                        <a href="{!$Site.Prefix}/CC_PavilionCoop">Co-Op Home</a>
                        <br/>
                        <br/>
                        <a href="{!$Site.Prefix}/CC_PavilionCoopClaim">Claim Submission</a>
                        <br/>
                        <br/>
                        <a href="{!$Site.Prefix}/CC_PavilionCoopProgramDocuments">Marketing Program Documents</a>
                        <br/>
                        <br/>
                        <a href="{!$Site.Prefix}/CC_PavilionClaimStatus">Claim Status</a>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">My Co-Op Account Summary</div>
                    <div class="panel-body">
                        <p class="para"></p>
                        <div class="form-group">
                            <div class="row">
                                <div id="tableloading" ><img src="{!$Resource.CC_Gear}" />Loading  ...</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Select Coop Year:</label>
                                <div class="col-sm-2">
                                    <select id="yearId" class="form-control w50" onchange="sendYear(this.value);" >
                                        
                                        <apex:repeat value="{!setYear}" var="strYear" >
                                            <option value="{!strYear}">{!strYear}</option>
                                        </apex:repeat>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                             
                                <label class="col-sm-3 control-label">Select Agreement:</label>
                                <div class="col-sm-9">
                                    <select id="agreementTypeId" class="form-control w50" onchange="sendMAT(this.value);" >
                                        
                                         
                                        <option value="All Agreements">All Agreements</option>
                                        
                                        <apex:repeat value="{!setAgreementType}" var="strType" >
                                            <option value="{!strType}">{!strType}</option>
                                        </apex:repeat><!--
                                        <apex:repeat value="{!setYear}" var="strType" >
                                            <option value="{!aggYearMap[setYear]}">{!aggYearMap[setYear]}</option> 
                                        </apex:repeat>-->
                                    </select>
                                </div>     
                            </div>
                        </div>
                        
                        <div id="optTable">
                            
                            <div id="infoSection"  >
                                    <div id="errorPanel" style="display:none;">
                                        <div style="color:red;">No Record Found..</div>  
                                    </div>
                                    <div style="width:900px">
                                            <div  id="RemoteContactDiv" ></div>
                                    </div>
                                
                            </div>
                            <div id="coOPSection"  >
                                <div id="errorPanelCOOP" style="display:none;">
                                    <div style="color:red;">No Record Found..</div>  
                                </div>
                                <div style="width:900px">
                                        
                                        <div  id="RemoteCoopDiv" ></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    
                    
    <script>
        j$ = jQuery.noConflict();
        window.onload=function (){
             
        }

        j$(document).ready( function () {
         
         
         var contactTable = j$('[id$="newTable"]').DataTable({ 
            dom: '<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-tl ui-corner-tr sorting ui-state-default sorting_asc"fr><t><"bottom fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix "lip>'
         
         
          
         });
          var aggSubType = j$('[id$=agreementTypeId]').val();
          var yearNo =  j$('[id$=yearId]').val();
          refreshTableBasedOnYear(yearNo, aggSubType);
         
        
           
        });
        function tableRefresh(){
          var contactTable = j$('[id$="newTable"]').DataTable({
           dom: '<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-tl ui-corner-tr sorting ui-state-default sorting_asc"fr><t><"bottom fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix "lip>',
          order: [[2, 'asc']]
        });
        }
        function cooptableRefresh(){
          var contactTable = j$('[id$="coopTable"]').DataTable({
           dom: '<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-tl ui-corner-tr sorting ui-state-default sorting_asc"fr><t><"bottom fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix "lip>',
          order: [[2, 'asc']]
        });
        }
        
 
        
        var selectedYearId = 0;
        var selectedMATid = '';
        function sendYear(inputYear){
            selectedYearId = inputYear;
            j$('[id$=agreementTypeId]').val('All Agreements');
            var aggSubType1 = j$('[id$=agreementTypeId]').val();
            if(aggSubType1 != ''){
                refreshTableBasedOnYear(inputYear, aggSubType1 );
            }
        }
        function sendMAT(inputMAT){
            var yearNo1 =  j$('[id$=yearId]').val();
            if(yearNo1 != ''){
              refreshTableBasedOnYear(yearNo1, inputMAT);
            }
        }
        if(typeof jQuery != 'undefined'){
          $j =jQuery.noConflict();
        }
        function refreshTableBasedOnYear(inputYear, inputMAT) {
             
           j$('#tableloading').show();
          $j(function(){
              CC_ContractController.refreshTableBasedOnYear(inputYear, inputMAT, function(result, event){
                 if (event.status){
                     var resultData = result;
                     if(resultData == 'No data found'){ 
                         document.getElementById('infoSection').style.display = 'block';
                         document.getElementById('errorPanel').style.display = 'none';
                         document.getElementById('coOPSection').style.display = 'none';
                         document.getElementById('errorPanelCOOP').style.display = 'none';
                         var html = '<table class="display table table-bordered" id="newTable" style="width:100%">';
                         html += '<thead> <tr><th>Agreement type </th> <th>Co-Op Year</th> <th>Funds Starting Amount</th><th>Incremental Funds</th><th>Available Amount</th><th>Pending Claims</th> </thead><tbody>';
                         html += '</tr></tbody></table>';
                         $('#RemoteContactDiv').html(html);
                         tableRefresh();
                     }else{   
                         var totalRegisterdUnits = '';
                         var totalRegisterdUnitsn = 'NA';

                         var fundStartingAmount = '';
                         var availableAmount = '';
                         
                         var jsonArray = resultData.split('||');
                         
                         if(jsonArray.length == 2 ) {
                             var additionalData = jsonArray[0];
                             var additionalObj = JSON.parse(additionalData);
                             totalRegisterdUnits = additionalObj["totalRegisterdUnits"];
                             fundStartingAmount = additionalObj["fundStartingAmount"];
                             availableAmount = additionalObj["availableAmount"];
                             jsonArray = jsonArray[1];
                         }
                         var jsonObj = JSON.parse(jsonArray); 
                         var html = '<table class="display table table-bordered" id="newTable" style="width:100%">';
                         document.getElementById('infoSection').style.display = 'block';
                         document.getElementById('errorPanel').style.display = 'none';
                         html += '<thead> <tr><th>Agreement type </th> <th>Co-Op Year</th> <th>Funds Starting Amount</th><th>Incremental Funds</th><th>Available Amount</th><th>Pending Claims</th> </thead><tbody>';
                         
                         for( var j = 0; j < jsonObj.length; j++) {
                              var  m = jsonObj[j]["Id"];
                              var aggType = jsonObj[j]["Contract__r"]["CC_Sub_Type__c"];
                              console.log('aggType'+aggType);
                              var t = '<a href ="#" onclick="refreshCOOPTable(\''+m+'\',\''+inputYear+ '\',\''+aggType+'\');">'+ aggType + '</a>';
                              //code contributed by @Priyanka Baviskar for Request 8032091.
                              
                                html += '<tr><td>'+ (aggType != null ?  t : '' )  +'</td><td>';                      
                                html += (jsonObj[j]["CC_Co_Op_Year__c"]  != null ? jsonObj[j]["CC_Co_Op_Year__c"]  : '' ) +'</td><td>';    
                                html += (jsonObj[j]["CC_Initial_Funds__c"] != null ? jsonObj[j]["CC_Initial_Funds__c"] : '' ) +'</td><td>';
                             	html += (jsonObj[j]["CC_Incremental_Funds__c"] != null ? jsonObj[j]["CC_Incremental_Funds__c"] : '' ) +'</td><td>';
                                html += (jsonObj[j]["CC_Available_Funds__c"] != null ? jsonObj[j]["CC_Available_Funds__c"] : '' ) +'</td><td>';                                  
                             	html += (jsonObj[j]["CC_Pending_Claims__c"] != null ? jsonObj[j]["CC_Pending_Claims__c"] : '' ) +'</td></tr>';
                        }
                        
                         html += '</tr></tbody></table>';
                         document.getElementById('infoSection').style.display = 'block';
                         document.getElementById('errorPanel').style.display = 'none';
                         document.getElementById('coOPSection').style.display = 'none';
                         document.getElementById('errorPanelCOOP').style.display = 'none';
                         $('#RemoteContactDiv').html(html);
                         tableRefresh();
                     }
                 }
             },{escape:false});
          });
         j$('#tableloading').hide();
          
         
          
        }

        function refreshCOOPTable(accSummId,selectedYear1,selectedAgg) {
         j$('#tableloading').show();
           
          document.getElementById('coOPSection').style.display = 'none';
          document.getElementById('errorPanelCOOP').style.display = 'none';
          try{
          //$('#RemoteCoopDiv').html('');
          $j(function() {
           var accSummObj ;
           var invMapObj;
           var CoopListObj;
              CC_ContractController.refreshCOOPTable(accSummId,selectedYear1,selectedAgg, function(result, event){
                 if(event.status){
                   console.log('result',+result);
                     var html1 = '<table class="display table table-bordered" id="coopTable" style="width:100%">';
                     html1 += '<thead> <tr><th> Claim ID </th> <th>Submit Date</th> <th>Status</th><th>Rejection Code</th><th>Comments</th><th>Amount To Credit</th><th>Invoice</th><th>Action</th> </thead><tbody>';//PriyaP7NOv 2018 RT 8043665.Added rejection code 
                     var resultData1 = result;
                      
                     if(resultData1 != 'No data found' && resultData1 != undefined){ 
                         var totalRegisterdUnits1 = '';
                         var fundStartingAmount1 = '';
                         var availableAmount1 = '';
                         var jsonArray1 = resultData1.split('||');
                         if(jsonArray1.length > 1 ) {
                             accSummObj = jsonArray1[1];
                         }
                         if(jsonArray1.length > 2 ) {
                             invMapObj =  JSON.parse(jsonArray1[2]) ;                             
                         }
                         if(jsonArray1.length > 3 ) {
                             CoopListObj=  JSON.parse(jsonArray1[3]) ;
                         }
                                                 
                         var jsonObj = JSON.parse(accSummObj); 
                                                
                         for( var j = 0; j < jsonObj.length; j++){
                            var childrenData ;
                            if(jsonObj[j].CC_Coop_Claims__r != undefined) {
                              childrenData = jsonObj[j].CC_Coop_Claims__r.records;
                            }
                           var claimName = '';
                           var submitDate = '';
                           var status = '';
                           var creditAmount = ''; 
                           var comment = '';
                           var tmpclaimName = '';
                           var CoopComment = '';
                           var CoopFinalComment = '';
                           var RejectionCode = '';//PriyaP7NOv 2018 RT 8043665.Added rejection code
                          
                            
                            if(childrenData != undefined) {
                               for(var pk= 0;pk < childrenData.length ; pk++ ) {
                                            claimName = childrenData[pk].Name;
                                            if(claimName.indexOf('INT-')  < 0)
                                                tmpclaimName  = 'INT-'+claimName;
                                            
                                            
                                            submitDate = childrenData[pk].CC_Submit_Date__c;
                                            status = childrenData[pk].CC_Status__c;
                                            creditAmount = childrenData[pk].New_Claim_Amount__c;
                                            RejectionCode =childrenData[pk].Rejection_Code__c;//PriyaP7NOv 2018 RT 8043665.Added rejection code
                                          //  comment  = childrenData[pk].Comment__c; //Mattawar:16Oct2018 RT 7360762, Removed coop comment and displaying Process Step Comment.
                                            
                                            /*for(var l =0;l< invMapObj.length;l ++){
                                                if(invMapObj[l].CC_PO_Number__c == claimName)
                                                invNum = invMapObj[l].CC_Invoice_Number__c;
                                            }*/
                                            var t1 = '';
                                            var invNum = '';
                                            var invKey = '';
                                            
                                            for(var l =0;l< invMapObj.length;l ++) {
                                                if(invMapObj[l].Order__r.PO__c == tmpclaimName) {
                                                    invNum = invMapObj[l].Invoice_Number__c;
                                                    invKey = invMapObj[l].CC_Invoice_Key__c;
                                                    t1 = '<a  target="_blank" href ="{!$Site.Prefix}/cc_pavilioninvoicedetail?invid='+invKey+' " >'+invNum+'</a>'
                                                } 
                                                //console.log('claimName =',claimName,'invNum =',invNum);
                                            } 
                                            
                                           var coopObject = jsonObj[j]["CC_Coop_Claims__c"]; 
                                          
                               html1 += '<tr><td><a target="_blank" href="{!$Site.Prefix}/CC_Links_ClaimDetailPage?Id='+childrenData[pk].Id+'">'+(claimName != null ? claimName : '' ) +'</td><td>';     <!-- MMattawar: 9-Oct-2018: Added link for the Claim Details  -->
                               html1 += ( submitDate != null ? submitDate : '' ) +'</td><td>';
                               html1 += (status != null ? status : '' ) +'</td><td>';
                              
                               
                             //  html1 += (comment != null ? comment : '' ) +'</td><td>'; //Mattawar:16Oct2018 RT 7360762
                             
                             
                             //Mattawar:16Oct2018 RT 7360762 following for loop.
                             
                               for(var co =0; co < CoopListObj.length;co++) {
                               if(childrenData[pk].Id == CoopListObj[co].Id)
                               {
                                  if(CoopListObj[co]["ProcessSteps"] != undefined && CoopListObj[co]["ProcessSteps"]["records"] != null)
                                  {                                 
                                  var commentsupr = CoopListObj[co].ProcessSteps.records;
                                   if(commentsupr != undefined) {
                                   for(var ppk= 0; ppk < commentsupr.length ; ppk++ ) 
                                   {       
                                            CoopComment = commentsupr[ppk].Comments;
                                            if(CoopComment != undefined || CoopComment != null)
                                            {CoopFinalComment = CoopComment;}
                                            else if (status == 'Submitted' )
                                            {CoopFinalComment = 'Submitting request for Approval';}
                                    } } 
                                  }
                                 
                                 }
                                }
                             html1 += ( RejectionCode != null ? RejectionCode : '' ) +'</td><td>';//PriyaP7NOv 2018 RT 8043665.
                             html1 +=  (CoopFinalComment != null ? CoopFinalComment : '' ) +'</td><td>';  //Mattawar:16Oct2018 RT 7360762
                             CoopFinalComment = '';
                             html1 += ( creditAmount != null ? creditAmount : '' ) +'</td><td>';//PriyaP7NOv 2018 RT 8043665. To change the location of credit amount after comments
                               html1 +=  (t1 != null ? t1 : '' ) +'</td><td>';
                               
                               //code contributed by @Priyanka Baviskar for Request 7360762.
                               var removeLink = '<a href="{!$Site.Prefix}/CC_PavilionClaimStatus?Id='+childrenData[pk].Id +'" > Edit </a>';
                               console.log('childrenData[pk].Id'+childrenData[pk].Id);
                               html1 += ((status == 'Rejected' || status  == 'Pending' ) ? removeLink  : '' )  +'</td></tr>';
                               }
                           }
                           
                            document.getElementById('coOPSection').style.display = 'block';
                            document.getElementById('errorPanelCOOP').style.display = 'none';
                            document.getElementById('infoSection').style.display = 'block';
                            document.getElementById('errorPanel').style.display = 'none';
                       }
                     }
                   html1 += '</tbody></table>';
                   //console.log('table 123 = '+html1);
                         $('#RemoteCoopDiv').html(html1);
                       cooptableRefresh();
                       $('#RemoteCoopDiv').show();
                 }
             },{escape:false});
          });
          }catch(e){
            j$('#tableloading').hide();
          }
           
         j$('#tableloading').hide();
      
        }
        
        
                
        
    </script>
    </apex:define>
    </apex:composition>
</apex:page>