<apex:page controller="CC_PavilionTemplateController" action="{!redirectTechWarrantyHome}" extensions="CC_PavilionTechWarrantyController" standardStylesheets="flase" showHeader="false" sidebar="false">
  <head>
    <style>
      .tilebg {background-color: #fff;background-position: center center;background-repeat: no-repeat;height: 150px;
               background-size: contain;.align-middle;}
      .homePic {margin-bottom: 20px;background-color: #fff;}
      .align-middle {margin-top: 33%;margin-bottom: 33%;}
    </style>
  </head> 
  <apex:composition template="CC_PavilionTemplate">
    <apex:define name="body"> 
      <div class="row">
        <div class="col-md-2">
          <!-- <div class="homePic tilebg">-->
           <a href="{!$Site.Prefix}/CC_PavilionTechWarranty"><apex:image alt="Tech/Warranty" url="{!URLFOR($Resource.TechWarranty, '/TechWarranty.svg')}" width="140" height="120"/></a>
           </div>
        <!--</div>-->

        <div class="col-md-10">
          <h4>Tech/Warranty Home</h4>
          <div>
          <p><apex:outputText value="{!HomePageText.CC_Body_1__c}"></apex:outputText></p>
          <apex:outputPanel rendered="{!accessTechnicalPublications}" layout="none">
                    <div>
                        <a href="{!$Site.Prefix}/CC_PavilionTechPubs"> Technical Publications </a>provides you with Illustrated Parts Lists.
                        <br/>
                        <br/>
                    </div>
                </apex:outputpanel>
                <apex:outputPanel rendered="{!accessTavant}" layout="none">
                    <div>
                        <a href="{!$Site.Prefix}/CC_PavilionWarranty">Tavant</a> is our warranty administration system.  You file warranty claims in Tavant.
                        <br/>
                        <br/>
                    </div>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!accessCustomerComplaint}" layout="none">
                    <div>
                        <a href="{!$Site.Prefix}/CC_PavilionCustomerComplaint">Customer Complaint</a> provides you the opportunity to give Club Car feedback on the performance of our vehicles.  Club Car uses this information to improve the quality of our current and future vehicle designs.
                        <br/>
                        <br/>
                    </div>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!accessMSDSDocuments}" layout="none">
                    <div >
                        <a href="{!$Site.Prefix}/CC_PavilionMSDS">SDS Documents</a> provides a quick method of finding Safety Data Sheets.
                        <br/>
                        <br/>
                    </div>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!accessBulletinHome}" layout="none">
                    <div >
                        <a href="{!$Site.Prefix}/CC_PavilionBulletinsServiceWarranty">Service and Quality Bulletins</a> are our primary method of communicating important business and technical updates to our channel partners.
                        <br/>
                        <br/>
                    </div>
                </apex:outputPanel>
          <p><apex:outputText value="{!HomePageText.CC_Body_2__c}"></apex:outputText></p><br/><br/>
        </div></div></div>
         <div class="row">
      <apex:outputPanel rendered="{!accessTechnicalPublications}" layout="none">
        <div class="col-md-2">
        <a href="{!$Site.Prefix}/CC_PavilionTechPubs"><apex:image alt="Customer Complaint" url="{!URLFOR($Resource.TechWarranty, '/TechWarranty_TechPubs.svg')}" width="140" height="140"/></a><!--provides you with Illustrated Parts Lists.<br/><br/>-->
        </div>
        </apex:outputpanel>
        <apex:outputPanel rendered="{!accessTavant}" layout="none"> 
        <div class="col-md-2">
         <a href="{!$Site.Prefix}/CC_PavilionWarranty"><apex:image alt="Customer Complaint" url="{!URLFOR($Resource.TechWarranty, '/TechWarranty_Tavant.svg')}" width="140" height="140"/></a> <!--is our warranty administration system.  You file warranty claims in Tavant.<br/><br/>-->
        </div>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!accessCustomerComplaint}" layout="none"> 
        <div class="col-md-2">
         <a href="{!$Site.Prefix}/CC_pavilionCustomerComplaint"><apex:image alt="Customer Complaint" url="{!URLFOR($Resource.TechWarranty, '/TechWarranty_CustomerComplaint.svg')}" width="140" height="140"/></a> <!--provides you the opportunity to give Club Car feedback on the performance of our vehicles.  Club Car uses this information to improve the quality of our current and future vehicle designs.<br/><br/>-->  
        </div> 
        </apex:outputPanel>
        <apex:outputPanel rendered="{!accessMSDSDocuments}" layout="none">
        <div class="col-md-2">
          <a href="{!$Site.Prefix}/CC_PavilionMSDS"><apex:image alt="Customer Complaint" url="{!URLFOR($Resource.TechWarranty, '/TechWarranty_MSDSDocuments.svg')}" width="140" height="140"/></a><!-- provides a quick method of finding Safety Data Sheets.<br/><br/> -->
        </div>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!accessBulletinHome}" layout="none"> 
       <div class="col-md-2">
         <a href="{!$Site.Prefix}/CC_PavilionBulletinsServiceWarranty"><apex:image alt="Customer Complaint" url="{!URLFOR($Resource.TechWarranty, '/TechWarranty_ServiceAndQualityBulletins.svg')}" width="140" height="140"/></a><!-- are our primary method of communicating important business and technical updates to our channel partners.<br/><br/>  --> 
        </div>
        </apex:outputPanel>
      
 
               </div>
    </apex:define>
  </apex:composition>
</apex:page>