<apex:page controller="CC_PavilionTemplateController" action="{!redirectSysAdmin}" extensions="CC_PavlionUserInfoCont" 
           standardStylesheets="false" showHeader="false" sidebar="false">
    <head>
        <style>
            .false {
            display: none;
            }
          
       #divLoading
            {
                display : none;
            }
       #divLoading.show
            {
                display : block;
                position : fixed;
                z-index: 100;
                background-image : url('/img/loading32.gif');
                background-color:#666;
                opacity : 0.8;
                background-repeat : no-repeat;
                background-position : center;
                left : 0;
                bottom : 0;
                right : 0;
                top : 0;
            }
        #loadinggif.show
            {
                left : 50%;
                top : 50%;
                position : absolute;
                z-index : 101;
                width : 32px;
                height : 32px;
                margin-left : -16px;
                margin-top : -16px;
            }
            </style>
    </head>
     <apex:composition template="CC_PavilionTemplate">
     <apex:define name="body"> 
     <apex:outputPanel id="mailPanel">
       <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">What Can I Do?</div>
                    <div class="panel-body">                
                       <a href= "{!$site.prefix}/CC_PavilionSysAdmin">System Admin Home</a><br/><br/>
                       <a href= "{!$site.prefix}/CC_PavilionSysAdminSelectContact">Create New User</a><br/><br/>
                       <a href="{!$Site.Prefix}/CC_LinksUserAudit">Compliance Audit</a><br/>
                    </div>
                </div>
                <!--   <div class="panel panel-default"> -->
                    <div class="panel-body">
                       <b>Password Reset - Call 1-800-872-6381 and select option 3.</b>
                  <!--  </div>  -->
                   </div>
            </div>
        <apex:outputPanel id="userPanel" layout="block" rendered="{!revviewperm}" >
          <div class="col-md-10" id="adminInfo">
            <div class="panel panel-default">
              <div class="panel-heading">Club Car Links Users</div>
              <div class="panel-body">
            <apex:form id="form1">
                    <apex:actionFunction name="displayPermDivAf" action="{!getuserperms}" >
                        <apex:param name="email5" value=""  assignTo="{!email1}" />
                    </apex:actionFunction>
                      <!--<apex:actionFunction name="hold" action="{!closeUser}" >
                      </apex:actionFunction>-->

                    <apex:inputhidden value="{!email1}" id="emailfield"/>
                    <table id="userTable" class="display" max-width="100%"  >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Job Title</th>
                                <th>Profile</th>
                                <th>Customer VIEW</th>
                                <th>SFA</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!wrapList}" var="user">
                                <tr class="userline" onclick="" id="{!user.UserListW.Email}" >                                
                                <td>
                                 <apex:commandLink onclick="javascript:id1 = '{!user.UserListW.Id}';custView = {!SelectedSingleUser.CC_CustomerVIEW__c}; displayPermDiv();"  value="{!user.UserListW.FirstName}  {!user.UserListW.LastName}"  rerender="viewperm,form1"/>                                
                                </td> 
                                    <td>{!user.UserListW.FederationIdentifier}</td>
                                    <td class="mailer" style="max-width: 250px;text-overflow: ellipsis;overflow: hidden;">{!user.UserListW.Email}</td>
                                    <td>{!user.UserListW.Title}</td>
                                    <td>{!user.pavilionDisplayName}</td>
                                    <td><center>{!IF(user.UserListW.CC_CustomerVIEW__c == true,'Yes','No')}</center></td>
                                    <td><center>{!IF(user.UserListW.CC_Sales__c,'Yes','No')}</center></td>
                                    <td>{!user.UserListW.UserRole.PortalRole}</td>
                                </tr>
                                
                                
                            </apex:repeat>
                            
                        </tbody>
                        
                    </table>
                    
                    </apex:form>
                     <div  style="color:blue" value="{!comments}" id="errorMessage" />   
                </div>
            </div>
         </div>
         </apex:outputPanel>
        <div class="col-md-2">
        </div>
        <div class="col-md-10"  >
            <apex:outputPanel layout="block" rendered="{!viewperm}" id="selectedUserId">
                <div class="panel panel-default">
                <div class="panel-heading">User Permissions For : {!SelectedSingleUser.name}  /  <span id="personEmail">{!SelectedSingleUser.Email}</span> </div>
                    <div class="panel-body">
                    <apex:form id="form2">
                    <apex:actionFunction name="hold" action="{!upsertdata}" >
                      </apex:actionFunction>
                    
                       <!-- <apex:outputPanel id="errMessage" rendered="{!hasError}">
                            {!pagemessage}
                        </apex:outputPanel>-->
                        <table id="permset" class="display" width="150%" >
                            <tr> 
                                <th>Select</th>
                                <th>Permission</th>
                            </tr>
                            <tr><td><label class="labelReq" for="frstName">First Name:</label></td><td><apex:outputtext value="{!SelectedSingleUser.firstname}" id="frfdfstName" />  <span id="validationErrorFirstName" style="display:none;color:Blue;">First Name Data is not valid.</span></td></tr>
                            <tr><td><label class="labelReq" for="lastName">Last Name:</label></td><td><apex:outputText value="{!SelectedSingleUser.lastname}"  id="lastName"/>  <span id="validationErrorLastName" style="display:none;color:Blue;">Last Name should not contain numbers.</span></td> </tr>
                            <tr><td><label class="labelReq" for="lastName">Email Address:</label></td><td><apex:inputtext value="{!SelectedSingleUser.email}" id="txtemailid" styleclass="form-control" required="true"  /></td></tr>
                            <tr>    <td><label for="yes2">Active User</label></td>
                                   <!-- <td>
                                    <input type="radio" name="EnableUserid" id="inActiveUser" value="no"/> No<br/>
                                    <input type="radio" name="EnableUserid" id="activeUser" checked="checked" value="yes"/> Yes</td> -->
                                    <td>       
                                        <apex:selectRadio value="{!selectedUserActive}">
                                            <apex:selectOption itemLabel="Yes" itemValue="Yes"/>
                                            <apex:selectOption itemLabel="No" itemValue="No"/>
                                        </apex:selectRadio>
                                    </td>                                          
                            </tr>
                            <tr ><td><apex:inputcheckbox value="{!SelectedSingleUser.CC_View_Parts_Bulletins__c}" /></td><td>View Parts Bulletins</td></tr>                           
                            <tr ><td><apex:inputcheckbox value="{!SelectedSingleUser.CC_View_Sales_Bulletins__c}" /></td><td>View Sales Bulletins</td></tr> 
                            <tr><td><apex:inputcheckbox value="{!SelectedSingleUser.CC_View_Service_Bulletins__c}" /></td><td>View Service Bulletins</td></tr>
                            <tr style="{!IF(accessPricing, '', 'display:none;')}"><td><apex:inputcheckbox value="{!SelectedSingleUser.CC_View_Sales_Pricing__c}" /></td><td>View Sales Pricing Bulletins</td></tr>
                            <tr style="{!IF(accessPricing, '', 'display:none;')}"><td><apex:inputcheckbox value="{!SelectedSingleUser.CC_View_Parts_Pricing__c}" /></td><td>View Parts Pricing Bulletins</td></tr>
                            <tr style="{!IF(accessPricing, '', 'display:none;')}"><td><apex:inputcheckbox value="{!SelectedSingleUser.CC_View_Parts_Order_Invoice_Pricing__c}" /></td><td>View Parts/Order/Invoice Pricing</td></tr>
                            <tr><td><apex:inputcheckbox value="{!SelectedSingleUser.CC_Part_Cart__c}" /></td><td>View Part Cart</td></tr>
                            <tr><td><apex:inputcheckbox value="{!SelectedSingleUser.Warranty_Tavant__c}" /></td><td>View Warranty/Tavant</td></tr> 
                             
                            <!--
                            <tr >
                              <td><apex:inputcheckbox value="{!SelectedSingleUser.CC_Sales__c}" /></td><td>View SFA</td>
                            </tr>
                            -->
                            <tr>
                                 <td> <apex:outputField id="cvId" value="{!SelectedSingleUser.CC_CustomerVIEW__c}"  /> </td>
                                <td>
                                    <a href="#"  data-toggle="modal" data-target="#myModal" onclick="openCV('{!JSENCODE(SelectedSingleUser.Person_Type__c)}');">SFA/CustomerVIEW</a>
                                    <span>   (Click to edit SFA/CustomerVIEW settings)</span>
                                </td>
                            </tr>                             
                            <tr><td> 
                                <label for="pwd">Job Title:</label></td><td> 
                                <apex:inputtext id="jobtitleid" value="{!SelectedSingleUser.Title}" styleclass="form-control" /></td></tr>
                                 <tr><td>
                                <label  for="pwd">Business Number:</label></td><td> 
                                <apex:inputtext id="txtphoneid" value="{!SelectedSingleUser.Phone}" styleclass="form-control" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);"/>
                                </td></tr>
                                <tr><td>
                                <label  for="pwd">Mobile Number:</label></td><td> 
                                <apex:inputtext id="txtMobilephoneid"  value="{!SelectedSingleUser.MobilePhone}" styleclass="form-control" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);"/>
                                </td>
                            </tr>
                            <tr><td>
                                <label  for="pwd">Department:</label></td><td> 
                                <apex:inputtext id="txtdesigid"  value="{!SelectedSingleUser.Department}" styleclass="form-control" />
                                </td></tr>
                            <tr>
                                <td><b>Select Profile:</b></td>
                                <td>
                                    <apex:selectList id="ProfileId"  value="{!SelectedSingleUser.CC_Pavilion_Navigation_Profile__c}" styleClass="form-control w50" onchange="changeProfile(this.value);" size="1"  >
                                        <apex:selectOptions value="{!NavProfiles}"></apex:selectOptions>
                                    </apex:selectList>
                                </td>
                            </tr>
                            <tr>
                              <td><b>Select Role:</b></td>
                              <td>
                                <apex:selectList value="{!SelectedRoleUser.UserRoleId}" styleClass="form-control w50"  size="1"  >
                                  <apex:selectOptions value="{!roles}"></apex:selectOptions>
                                </apex:selectList>
                              </td>
                            </tr>
                            <tr>
                              <td><b>Select Time Zone:</b></td>
                              <td>
                                <apex:selectList value="{!SelectedSingleUser.TimeZoneSidKey}" styleClass="form-control w50"  size="1"  >
                                  <apex:selectOptions value="{!timezones}"></apex:selectOptions>
                                </apex:selectList>
                              </td>
                            </tr>
                            
                            <tr></tr>
                            
                            <tr> 
                                <td>
                             
                                <apex:commandButton id="saveperm" action="{!upsertdata}" value="Save" styleClass="btn btn-primary"/>  <span width="2px"/>
                                 <apex:commandButton id="cancelPrm"  value="Cancel" action="{!closeUser}"  styleClass="btn btn-primary"/>
                               
                                 </td> <!-- onclick="exitPage();" -->
                                
                            <td>    <!-- <span id="profileField1"></span>   --></td>
                           </tr> 
                        </table> 
                    </apex:form> 
                    </div>
                </div>
            </apex:outputPanel>
        </div>
        </div>
       
     <!-- Dialog popup-->              
        <div class="modal fade" id="myModal" role="dialog" >
            <script type="text/javascript">
            </script>
        <div class="modal-dialog">     
        <apex:form >
          <!-- Modal content-->
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SFA/CustomerVIEW Access Request</h4>
                </div>  
                <div class="modal-body">
                  
                    <table cellpadding="0" cellspacing="02" border="0">
                        <tbody>
                            <tr>
                                <td><label>SFA/CustomerVIEW<span style="color:red" >*</span>:</label></td>
                                <td>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" onclick="isModifiedOnlyFalse()"/> Grant 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="isModifiedOnlyFalse()"/> Revoked 
                                    </label>
                                </td>
                            </tr>
                            <tr><td><label >User Details:</label ></td></tr>
                            <tr> 
                                <td rowspan="6" valign="top">
                                    <label >Person Type<span style="color:red" >*</span>:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br/>
                                   <span id="personType"><apex:inputField id="personTypeValId" value="{!SelectedSingleUser.Person_Type__c}" required="true"  onchange="updatepersontype(j$(this).val());"/></span>
                                    <br />
                                    <br />
                                    <label >Pricing:</label><br /> <!-- <span style="color:red" >*</span>-->
                                    <apex:inputcheckbox value="{!selectedContact.CC_CustomerVIEW_Pricing__c}" id="pricingvalId" />
                                    <br />
                                    <br />
                                    <div id="CCInsightChkBxId">
                                        <label >CCInsight:</label><br />
                                        <apex:inputcheckbox value="{!selectedContact.CC_CustomerVIEW_CCInsight__c}" id="ccInsightCheckbox"  onclick="insite(j$(this).prop('checked') );" />
                                    </div>
                                </td>
                                <td colspan="2" ><label >Full Name:</label><br />
                                     <apex:inputtext id="txtAddFullName" styleclass="form-control" value="{!selectedContact.Name}" html-readonly="true" />
                                </td>
                            </tr>
                            <tr>                                
                                <td><label >Phone Number:</label><br />
                                    <apex:inputtext id="txtAddPhoneNbr" onchange="javascript:backspacerDOWN(this,event);" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" styleclass="form-control " style="width:180px;" value="{!SelectedSingleUser.Phone}" html-readonly="true"/>
                                </td>
                                 &nbsp;&nbsp;&nbsp;&nbsp; 
                                <td><label >Mobile number :</label><br />
                                <apex:inputtext id="txtAddCellNbr" styleclass="form-control "  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" value="{!SelectedSingleUser.MobilePhone}" html-readonly="true" />
                                </td><br/>
                            </tr>
                            <tr>
                                <td colspan="2" ><label >Email Address:</label><br />
                                <apex:inputtext id="txtAddEmail" styleclass="form-control " value="{!selectedContact.Email}" html-readonly="true"/>
                                </td>
                            </tr>
                            
                           <div id="divLoading"> 
                            </div>
                            
                        </tbody>
                          
                    </table>
                    <div id="ccinsiteId">
                        <table>
                             <tbody>
                                <tr>
                                    <td colspan="2" style="width:180px;"><label >Opportunity:</label><br />
                                    <apex:inputcheckbox styleclass="insite" id="optyId"   value="{!selectedContact.CC_CustomerVIEW_Opportunity__c}" />
                                    </td>
                                    <td colspan="2"  style="width:180px;"><label >Sales:      </label><br />
                                    <apex:inputcheckbox styleclass="insite" id="SalesId"   value="{!selectedContact.CC_CustomerVIEW_Sales__c}" />
                                    </td>
                                    <td colspan="2"  style="width:180px;"><label >Warranty:  </label><br />
                                    <apex:inputcheckbox styleclass="insite" id="wrtyId"   value="{!selectedContact.CC_CustomerVIEW_Warranty__c}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr/>
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="2" >
                                    <div id="managerId" >
                                        <label >Manager:</label> <br />
                                          <apex:selectList id="theManager" styleclass="form-control" value="{!selectedContact.CC_CustomerVIEW_Manager__c}" size="1"> 
                                            <apex:selectOptions value="{!allContacts}"/>
                                        </apex:selectList><p/>
                                    </div>
                                    <div id="subOrdId" >
                                        <label >Subordinates :</label><br />
                                        <apex:inputTextArea rows="2" id="subOrdInateHiddenId" readonly="true" value="{!selectedContact.CC_CustomerVIEW_Sub_Ordinates__c}" styleclass="form-control"  /> 
                                    <br/>
                                     Use Ctrl to select <br/>
                                    <apex:selectList value="{!selectedContact.CC_CustomerVIEW_Sub_Ordinates__c}" styleclass="form-control" multiselect="true" size="4" onchange="getSubordinates(event)">
                                        <apex:selectOptions value="{!allContacts}"  />
                                    </apex:selectList><p/>
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="SRTerritoryId">
                                        Sales Rep Territory<br/>
                                        <label >Country:</label><br /> 
                                        <input class="form-control" id="CC_Country"  value="{!selectedContact.CC_Country__c}"  ></input>
                                        <label >State:</label><br />
                                        <input class="form-control" id="CC_State" value="{!selectedContact.CC_State__c}"  ></input> 
                                        <label >County:</label><br />
                                        <input class="form-control" id="CC_County" value="{!selectedContact.CC_County__c}"   ></input> 
                                        <label >Zipcode:</label><br />
                                        <input class="form-control" id="CC_Zipcode" value="{!selectedContact.CC_Zipcode__c}"  ></input>
                                    </div>
                                </td> 
                            </tr>
                            <tr>
                                <td colspan="2" ><label >Comments:</label><br />
                                <apex:inputTextarea id="newDesc"  styleClass="form-control disabledInput" style="width:400px;height:100px;" />
                                </td>
                            </tr>
                            <tr>
                                <td><em><strong >Note:</strong> To request that<br/>
                                this user replace a<br />
                                current SFA/CustomerVIEW user,<br />
                                choose a name from<br />
                                the list to the right.</em>
                                </td>
                                <td><label >User to Replace:</label> <span onclick="javascript:j$('[id$=editReplaceId]').show();j$('[id$=textReplaceId]').hide();" style="color:blue" id="editLinkId"><a href="#">Edit</a></span><br /> 
                                <input type="text" value="{!selectedContact.CC_UserReplaced__c}" id="textReplaceId" class="form-control" readonly="true" /> 
                                <div id="editReplaceId" style="display:none">
                                    <apex:selectlist id="replaceUserId" styleclass="form-control"   size="1" style="width:200px;">
                                         <apex:selectOptions value="{!pavilionUsers}" />
                                    </apex:selectlist>
                                 </div>    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div id="errorDivId"/>
                                 <br/>
                                    <br/>
                                    <input type="button"   styleClass="btn btn-primary" value="Save" id="saveCVId" onclick="validateCVForm()"/>
                                    <input type="button"   styleClass="btn btn-primary" value="Close" id="CloseCVId" onclick="closeModel()"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </div>
                
            </div>  
            
        </apex:form>
        </div>
        </div>
          <!-- Dialog popup End--> 
        </apex:outputPanel>
<script>
            var custView = false;
            var persontype='';
                var id1="Hi";
                if(typeof jQuery != 'undefined'){j$ =jQuery.noConflict();}
                j$(document).ready( function () 
                {
                  console.log('**hold**');
                   
                   console.log('#after');
                    var userTable = j$('[id$="userTable"]').DataTable({
                    });
                    //userTable.columns.adjust().draw();
                    var permset = j$('[id$="permset"]').DataTable({
                    });
                    
                    j$('tr.userline').click(function()
                    { 
                        var id1 = j$(this).attr('id');
                    });
                    j$('[id$=ccInsightCheckbox]').click(function(){
                        if(j$('[id$=ccInsightCheckbox]').val() == false){
                            j$('[id$=SalesId]').attr('checked', false);
                            j$('[id$=optyId]').attr('checked', false);
                            j$('[id$=wrtyId]').attr('checked', false);
                            j$('[id$=ccinsiteId]').hide();
                        }else{
                             j$('[id$=ccinsiteId]').show();
                        }
                    });
                });
            
            function updatepersontype(pt){
                persontype = pt;
                //console.log(persontype);
                if(persontype != ''){
                    if(persontype == 'Support' || persontype == 'SalesRep'){
                        if(persontype == 'SalesRep')
                        j$('#SRTerritoryId').show();
                        else j$('#SRTerritoryId').hide();  
                        j$('#subOrdId').hide();
                        j$('#managerId').show();
                    }
                    if(persontype == 'Principal' || persontype == 'Manager'){
                        j$('#SRTerritoryId').hide();  
                        j$('#subOrdId').show();
                        j$('#managerId').hide();
                    }
                }else{
                    j$('#SRTerritoryId').hide();  
                    j$('#subOrdId').hide();
                    j$('#managerId').hide();
                }
                
            }
            function vinay()
            {
              hold();
             }
            
            function openCV(realPT){
                persontype = realPT;
                j$("[id*=personTypeValId]").val(persontype);
                var ccinsiteVal = Boolean('{!JSENCODE(IF(selectedContact.CC_CustomerVIEW_CCInsight__c,"true", "false"))}');
                var ccInsightVal = Boolean('{!JSENCODE(IF(selectedContact.CC_CustomerVIEW_CCInsight__c,"true", "false"))}');
                if(!ccInsightVal || ccInsightVal === 'false'){//!ccinsiteVal &&
                    console.log('yo');
                    j$('[id$=SalesId]').attr('checked', false);
                    j$('[id$=optyId]').attr('checked', false);
                    j$('[id$=wrtyId]').attr('checked', false);
                     j$('#ccinsiteId').hide();
                    
                }else{
                    j$('#ccinsiteId').show();
                }
                j$('[id$=myModal]').on('show.bs.modal', function () {
                    var itemVal = j$("[id*=personTypeValId]").val();
                });
                if(persontype != ''){
                    if(persontype == 'Support' || persontype == 'SalesRep'){
                        if(persontype == 'SalesRep') {
                            j$('#SRTerritoryId').show();
                        } else {
                            j$('#SRTerritoryId').hide();
                        } 
                        j$('#subOrdId').hide();
                        j$('#managerId').show();
                    }
                    if(persontype == 'Principal' || persontype == 'Manager'){
                        j$('#SRTerritoryId').hide();  
                        j$('#subOrdId').show();
                        j$('#managerId').hide();
                    }
                }else{
                    j$('#SRTerritoryId').hide();  
                    j$('#subOrdId').hide();
                    j$('#managerId').hide();
                }
                    var accountType = '{!JSENCODE(thisAccount.Type)}' ;
                    var accountGlobalRegion = '{!JSENCODE(thisAccount.CC_Global_Region__c)}';
                      
                    if(accountType == 'Distributor' && (accountGlobalRegion == 'United States' || accountGlobalRegion == 'Canada')){    
                        j$('[id$=CCInsightChkBxId]').show();
                    }
                    else {
                        j$('[id$=CCInsightChkBxId]').hide();
                        j$('[id$=ccinsiteId]').hide();
                    } 
                
            }
            j$('[id$=myModal]').ready(function(){
                    insite(j$('[id$=ccInsightCheckbox]').prop('checked'));
                    custViewCheckBoxClickHandler();
            });
            j$('[id$=myModal]').on('show.bs.modal', function () {});
            j$('[id$=myModal]').on('shown.bs.modal', function () {});
            function displayPermDiv(e){
                j$('[id$=emailfield]').val(id1);
                displayPermDivAf(id1);
                j$('false').hide();
                document.getElementById('{!$Component.form1}').style.display='none';
            }
            window.onload=function(){   
            try{
                var sc = {!viewperm};
                var cmt = '{!comments}';
                j$('[id$=errorMessage]').innerHTML = '';
                j$('[id$=errorMessage]').innerHTML = cmt;
                var defaultProfile= j$('[id$=opt]').innerHTML;
                j$('[id$=profileField]').val(defaultProfile);
                }catch(err){}
            }
            function changeProfile(prof){
                j$('[id$=profileField]').val(prof);
                 j$("#profileField1").text(prof);
            }
            var isModifiedOnly = true;
            function isModifiedOnlyFalse() {
                isModifiedOnly = false;
            }
            function closeForm(){
            window.location = '{!$Site.Prefix}'+'/CC_PavilionSysAdmin';
            }
            
        
            function validateCVForm(){
                
                var isValid = true;
                j$("[id*=errorDivId]").html('');
                
                var isSwitching = false;
                var grantPermission = false;
                var revokePermission = false;                
                
                var grant = j$("[id*=inlineRadio1]").is(':checked');
                //console.log('grant ', grant);
                
                if(grant) {
                    isSwitching = true;
                    grantPermission = true;
                }
                
                var revoke = j$("[id*=inlineRadio2]").is(':checked');
                
                if(revoke) {
                    isSwitching = true;
                    revokePermission = true;
                }

                var personTypeNew = j$("[id*=personTypeValId]").val();
                var pricingNew = j$("[id*=pricingvalId]").prop("checked");
                
                if(personTypeNew =='' || !personTypeNew || (grantPermission == false && revokePermission == false) ){ //|| !pricingNew 
                    j$("[id*=errorDivId]").html('<br/><span style="color:red" >All mandatory fields (*) are required</span><br/>');
                    j$("[id*=errorDivId]").show();
                    isValid = false;
                }
                if(isValid){
                var selectedSubOrdinates = j$("[id*=subOrdInateHiddenId]").text();
                var selectedEmail = j$("[id*=txtAddEmail]").val();
                console.log('selectedEmail ', selectedEmail);
                var selectedName = j$("[id*=txtAddFullName]").val();
                // territory info
                var CC_Country = j$("[id*=CC_Country]").val();
                var CC_State = j$("[id*=CC_State]").val();
                var CC_County = j$("[id*=CC_County]").val();
                var CC_Zipcode = j$("[id*=CC_Zipcode]").val();
                var comments = j$("[id*=newDesc]").val();
                var manager = j$("[id*=theManager]").val();
                // swtich customerView permission

                console.log('isModifiedOnly ', isModifiedOnly);
                
                var selectedPersonType = j$("[id*=personTypeValId]").val();
                
                var ccInsightSelected = j$("[id*=ccInsightCheckbox]").prop("checked");
                console.log('ccInsightSelected ', ccInsightSelected);
                
                // optyId
                var showOpportunityData = j$("[id*=optyId]").prop("checked");
                console.log('showOpportunityData ', showOpportunityData);
                
                // SalesId
                var showSalesData = j$("[id*=SalesId]").prop("checked");
                console.log('showSalesData ', showSalesData);
                
                // wrtyId
                var showWarrentyData = j$("[id*=wrtyId]").prop("checked");
                console.log('showWarrentyData ', showWarrentyData);
                
                //Comments
                var comments1 = j$("[id*=newDesc]").val();
                console.log('showWarrentyData ', comments1);
                
                //User To Replace
                var UserToReplace1 = j$("[id*=replaceUserId]").val();
                console.log('showWarrentyData ', UserToReplace1);
                
                // selected Contact Id
                var selContactId = '{!JSENCODE(selectedContact.Id)}'; 
                
                // User Phone
                var usrPhone = j$("[id*=txtAddPhoneNbr]").val();
                
                // User Mobile Phone
                var usrMobilePhone = j$("[id*=txtAddCellNbr]").val();
                 
                j$("div#divLoading").addClass('show');
                CC_PavlionUserInfoCont.saveCVF(
                    pricingNew,
                    selectedSubOrdinates, 
                    selectedEmail, 
                    selectedName, 
                    CC_Country, 
                    CC_State, 
                    CC_County, 
                    CC_Zipcode, 
                    isSwitching, 
                    grantPermission, 
                    revokePermission, 
                    isModifiedOnly, 
                    selectedPersonType,
                    comments,
                    manager,
                    ccInsightSelected,
                    showOpportunityData,
                    showSalesData,
                    showWarrentyData,
                    comments1,
                    UserToReplace1,
                    selContactId ,
                    usrPhone,
                    usrMobilePhone,
                    function(result,event) {
                        console.log('result ', result);
                        if(result == 'success') {
                            j$('#myModal').modal('hide');
                            isModifiedOnly = true;
                            window.location = '{!$Site.Prefix}'+'/CC_PavilionUserInfo';
                        }
                    }
                );
                }
            }
        
            function insite(k){
                if(k == true) {
                    j$('input.insite').removeAttr('disabled');
                    j$('#ccinsiteId').show();
                } else if (k != true){
                    j$('input.insite').attr('checked', false);
                    j$('input.insite').attr('disabled', true);
                    j$('#ccinsiteId').hide();
                 }
            }
            
            /** Modified by Sangram **/ 
            function getCustomerVIEWUserInfo(){
                var selectedEmail = j$("[id*=txtAddEmail]").val();
                var selectedName = j$("[id*=txtAddFullName]").val();
                CC_PavlionUserInfoCont.getSelectedUserInfo(
                    selectedEmail, selectedName,
                    function(result,event) {
                        var isCustomerView = result.CC_CustomerVIEW__c;        
                    }
                );
            }
        
            function custViewCheckBoxClickHandler() { 
                try{
                  var selVals = "{!JSENCODE(selectedContact.CC_CustomerVIEW_Sub_Ordinates__c)}";
                  var selArray = selVals.split(',');       
                  j$('[id$=subOrdInateId]').multiselect({
                        includeSelectAllOption: true,
                        selectedText: function(numChecked, numTotal, checkedItems){
                          return numChecked + ' of ' + numTotal + ' checked';
                       }
                    });
                    var selVals = "{!JSENCODE(selectedContact.CC_CustomerVIEW_Sub_Ordinates__c)}";
                    var selArray = selVals.split(',');
                    j$('[id$=checkboxes1] input').each(function() {
                        var tt = selVals.indexOf(j$(this).val());
                        if(selVals.indexOf(j$(this).val()) > 0){
                            j$(this).hide();
                        }
                    });
                }catch(e){}
                 j$('[id$=ccinsiteId]').toggle();
            }
            function exitPage(){
            console.log('exitPage = true');
                closePage();
                console.log('exitPage = true');
            }
            function ccinsitrChanged(){
                      j$("ccinsiteId").toggle();
                       
            }
            function closeModel(){
                j$('#myModal').modal('hide');
            }
        
            //getSubordinates
            function getSubordinates(e) {
                var selectedSubordinates = j$(e.target).val();
                j$("[id*=subOrdInateHiddenId]").text("");
                var subOrdData = '['
                j$.each(selectedSubordinates, function(index, value) {
                    if(index != selectedSubordinates.length - 1) {
                        subOrdData += value+',';
                    } else {
                        subOrdData += value;
                    }
                });
                
                subOrdData += ']';
                j$("[id*=subOrdInateHiddenId]").text(subOrdData);
            }
             
        </script>
        </apex:define>
        
  </apex:composition> 
</apex:page>