<apex:page controller="CC_PavilionTemplateController" action="{!redirectPromotionsForms}" standardStylesheets="flase" showHeader="false" sidebar="false">
    
    <script>
        window.onload=function (){
    
        
       }
    </script>
    
  <apex:composition template="CC_PavilionTemplate">
    <apex:define name="body"> 
      <div class="row">
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">Available Forms</div>
            <div class="panel-body">
              <a href="{!$Site.prefix}/CC_PavilionGolfCarForm">Golf Car Credit Certification Form</a><br/><br/>
              <a href="{!$Site.prefix}/CC_PavilionLSVForm">LSV Credit Certification Form</a><br/><br/>
              <a href="{!$Site.prefix}/CC_PavilionXRTForm">XRT Credit Certification Form</a><br/><br/>
              <a href="{!$Site.prefix}/CC_PavilionCommercialForm">Commercial Certification Form</a><br/>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">Promotion Forms</div>
            
            <div class="panel-body">  
            Here you will find the rebate forms required for current running sales promotions. Depending on the promotion running, not all forms will be active at all times. Submitting your form within the timeframe stated on the promotion will be essential.    
                          
                    
            <!--
              <div class="col-md-5">
                 <img clas="img-responsive" src="{!$site.prefix}/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&versionId={!$Label.PavilionPromotionsForms_image}" alt=""/>
                <!-- <br/><h6><b>
                 The XRT950 Series Utility Vehicle. The professional-grade features you’ve come to expect from XRT – all squeezed into the finest mid-sized utility vehicle on the market.
               </b></h6> 
              </div>
            -->
         
             
             </div>
            </div>
             
            </div>
       </div>
    </apex:define>
  </apex:composition>
</apex:page>