<apex:page controller="CC_PavilionTemplateController" action="{!redirectBoothRental}" standardStylesheets="false" showHeader="false" sidebar="false">
  <apex:composition template="CC_PavilionTemplate">
    <apex:define name="body"> 
      <div class="row">
      <!--  <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">Do Stuff</div>
            <div class="panel-body">
              <a href="http://www.google.com" target="_blank">Other</a><br/>
              <a href="http://www.google.com" target="_blank">Links</a><br/>
              <a href="http://www.google.com" target="_blank">go</a><br/>
              <a href="http://www.google.com" target="_blank">here</a><br/>
            </div>
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Booth Rental</div>
            <div class="panel-body">
              <iframe src="http://clubcar.ehshopping.com/" height="800" width="1100" scrolling="false" frameborder="false"></iframe>
            </div>
          </div>
        </div>
      </div>
    </apex:define>
  </apex:composition>
</apex:page>