<apex:page standardStylesheets="flase" showHeader="false" sidebar="false" controller="CC_PavilionTemplateController" action="{!redirectiStore}" extensions="cc_pavilionistore">
    
  <apex:composition template="CC_PavilionTemplate">
    <apex:define name="body"> 
      <div class="row">
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">Useful Links</div>
            <div class="panel-body">
              <a class="btn btn-primary" href="http://www.irpartner.net/ir_html/IRPartner.jsp" target="_blank">iStore</a>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">iStore</div>
            <div class="panel-body">
            <p>As an Ingersoll Rand Partner, iStore offers you a number of excellent features.   A state of the art internet portal provides a single point of access that is easy to use.   Direct order entry and inquiry allows you to reduce paperwork and administrative costs and ensure you order the right product every time using the Ingersoll Rand configurator.   You can also log in to check prices, availability, order status and shipping details.</p>
            </div>
          </div>
        </div>
      </div>
    </apex:define>
  </apex:composition>
</apex:page>