<apex:page controller="CC_PavilionTemplateController" action="{!redirectMarketingIdeas}" extensions="CC_PavilionMarketingIdeasCnt" standardStylesheets="flase" showHeader="false" sidebar="false">
    <meta charset="utf-8"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/30.0/apex.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.jqueryui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.jqueryui.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <style>

table.dataTable thead th, table.dataTable thead td{
border-bottom: 1px solid #111;
}

.ui-widget-header{
border: 1px solid #aaaaaa;
background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
color: #222222;
}

.bottom {
padding: 8px;
}

 #example_info
         {
           clear: none;
           padding:0;       
         }
         #example_length
         {
            top: 40px;
            clear:none;
            margin-right:20px;
            margin-left:10px;
         } 

</style>
        <script>
        <!--javascript function for datatable -->
        if(typeof jQuery != 'undefined'){$j =jQuery.noConflict();}
        
        window.onload=function (){
    
        
       }
       
       
    $j(document).ready(function() {$j('#example').DataTable({
     dom: '<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-tl ui-corner-tr sorting ui-state-default sorting_asc"fr><t><"bottom fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix "lip>'
    });} );
    function enableMarketingIdeas(){    
        document.getElementById('marketingId').style.display="inLine";                
        return false;
    }
    </script>
    <apex:composition template="CC_PavilionTemplate">
        <apex:define name="body"> 
            <div class="row">
              <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Useful Links</div>
                        <div class="panel-body">
                            <a href= "{!$site.prefix}/CC_PavilionResourceLibImageLib">Image Library</a><br/><br/>
                            <a href= "http://www.clubcar.com/us/en/resources/brochures-and-videos.html">Download Literature</a><br/><br/>
                            <a href= "{!$site.prefix}/CC_PavilionOrderLiterature">Order Literature</a><br/><br/>
                            <a href= "{!$site.prefix}/CC_PavilionPromotionsForms">Promotion Forms</a><br/><br/>
                            <a href= "{!$site.prefix}/CC_PavilionMarketingvideos">Marketing Videos</a><br/><br/>
                        </div>
                    </div>
                </div>
              <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">Marketing Ideas</div>
                        <div class="panel-body">
                            <h3>Find Ideas. Be Inspired.</h3>
                            <p>If you’re looking for marketing ideas or inspiration to help you with your next campaign, 
                                you’ve come to the right place. The <i>Marketing Ideas</i> section on Club Car Links is a repository 
                                of marketing collateral we’ve gathered from dealers and distributors.</p>
                            <p>If you have a radio script or sample ad you’d like to share, please email it to 
                                <a href="mailto:coopclaims@clubcar.com">coopclaims@clubcar.com</a>.</p>
                        </div>
                    </div>
                </div>
               <div class="col-md-2"></div>
                <div class="col-md-10" id="marketingId" style="float:right;">
                    <div class="panel panel-default">
                        <div class="panel-heading"> Shared Ideas </div>
                        <div class="panel-body">
                            <div class="table-responsive"> 
                                <table id="example" class="display" cellspacing="0" width="100%">
                                    <thead><tr><th>Ad Description</th><th>File Type</th><th>Content Size</th></tr></thead>
                                    <tbody>
                                        <apex:repeat value="{!contentList}" var="cnt" id="ins2">
                                            <tr>
                                                <td>
                                                    <a href="{!$Site.Prefix}/sfc/servlet.shepherd/version/download/{!cnt.Id}" 
                                                       download="{!$Site.Prefix}/sfc/servlet.shepherd/version/download/{!cnt.Id}">
                                                        {!cnt.Description}
                                                    </a>
                                                </td>
                                                <td>{!cnt.FileType}</td>
                                                <td>{!cnt.ContentSize}</td>
                                            </tr>
                                        </apex:repeat> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </apex:define>
    </apex:composition>
</apex:page>