<!--
 -
 - $Revision: 1.0 $
 - $Date:  $
 - $Author: $

 -->
<apex:page controller="CC_PavilionTemplateController" action="{!redirectResourceLibrary}" extensions="CC_PavilionResourceLibImageLibcont" standardStylesheets="flase" showHeader="false" sidebar="false">
   <head>
       <meta charset="utf-8"/>
       <script src="{!URLFOR($Resource.datatables11011, '/js/jquery.dataTables.min.js')}" type="text/javascript"></script>
       <script src="{!URLFOR($Resource.datatables11011, '/js/dataTables.jqueryui.min.js')}" type="text/javascript"></script>
       <link rel="stylesheet" href="{!URLFOR($Resource.datatables11011, '/css/dataTables.jqueryui.min.css')}"/>
   </head>
       <style>
       .linkcss {
           background:none!important;
           border:none; 
           padding:0!important;
           font-family:arial,sans-serif;
           color:#069;
           text-decoration:underline;
           cursor:pointer;
       }
       table.dataTable thead th div.DataTables_sort_wrapper span {
           position: absolute;
           top: 50%;
           margin-top: 1px;!important;
           right: -16px;!important;
       }
       .DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n {

           height: 0px;!important;
       }
       .ui-icon {
           width: 16px; !important;
           height: 0px;!important;
       }


       .centering{
           position: relative;
           margin-left:-215px;
           top: 7px;
           text-align: left;
           }
           .bottom {
           padding: 8px;
           }
           .ui-widget-header{
           border: 1px solid #aaaaaa;
           background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
           color: #222222;
           }

         #contenttable_info
         {
          clear: none;
          padding:0;

         }
         
         
         #contenttable_length
         {
         top: 40px;
         clear:none;
         margin-right:20px;
         margin-left:10px;
         }

     .ui-widget-header {
     border: 1px solid #aaaaaa;
     background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
     color: #222222;
   }

   .bottom {
     padding: 8px;
   }

   #example_info {
     clear: none;
     padding: 0;
   }

   #example_length {
     top: 40px;
     clear: none;
     margin-right: 20px;
     margin-left: 10px;
   } 
   
     </style>

        <script>
        
          
       if (typeof jQuery != 'undefined') {
           $j = jQuery.noConflict();
       }
       
       var Resource;
       var lastentryid = '';
       var j = 0;
       
       function hideAll(ele){
           console.log(ele);
         // $j("#theCategoryList").hide();
        // $j("#thefilterMarkettingTypesList").hide();
         // $j("#theMarkettingSubTypes").hide(); 
       }
       $j(document).ready(function() {
            $j(document).click(function() {
                console.log($j(this));
                $j("#theCategoryList").hide();
                $j("#thefilterMarkettingTypesList").hide();
                $j("#theMarkettingSubTypes").hide();
            });
           remotedatamethod();
           <!--javascript function for datatable -->
            
            Resource = $j('#example').DataTable({

               dom: '<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-tl ui-corner-tr sorting ui-state-default sorting_asc"fr><t><"bottom fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix "lip > ',
               "columns": [

                   {
                     "defaultContent": ""
                   },
                   {
                     "defaultContent": ""
                   },
                   {
                     "defaultContent": ""
                   },
                   {
                     "defaultContent": ""
                   },
                   {
                     "defaultContent": ""
                   },
                   {
                     "defaultContent": ""
                   }





                   ],
               initComplete: function () 
               {
                   this.api().columns().every( function () {
                       if(this.index() == 2 ) {
                                var column = this;

                                var htmlstring = 
                                   '<div  align="right" style="width:15px;left: 0px;float:right;top: -17px;" id="CategoryList" class="dropdown" >'
                                       +'<button class="linkcss  dropdown-toggle" type="button" data-toggle="dropdown" onclick="stopPropagate(this)">'
                                           +'<span class="glyphicon glyphicon-filter"></span>'
                                       +'</button>'
                                       +'<ul class="dropdown-menu" id="theCategoryList" style="max-height: 300px; overflow-y: auto">'
                                           +'<li>'
                                               +'<a onclick="filterMarkettingCategories(this,event);" href="#"><input type="checkbox">All</a>'
                                           +'</li>';
                                CC_PavilionResourceLibImageLibcont.getMarkettingCategories(function(result,evebt) {
                                   for(key in result) {
                                       if(key != 'remove')
                                       htmlstring = htmlstring +'<li><a onclick="filterMarkettingCategories(this,event);" href="#"><input type="checkbox">'+result[key]+'</a></li>';
                                   }
                                   htmlstring =htmlstring +'</ul></div><div style="clear:both;"/>';
                                   var select = $j(htmlstring )
                                       .appendTo( $j(column.header()) )
                               });

                           } 

                       if(this.index() == 3) {
                           var column = this;
                               var htmlstring = 
                                   '<div  align="right" style="width:90px;left: 0px;float:right;top: -17px;" id="filterMarkettingTypesList" class="dropdown" >'
                                       +'<button class="linkcss  dropdown-toggle" type="button" data-toggle="dropdown" onclick="stopPropagate(this)">'
                                           +'<span class="glyphicon glyphicon-filter"></span>'
                                       +'</button>'
                                       +'<ul class="dropdown-menu" id="thefilterMarkettingTypesList" style="max-height: 300px; overflow-y: auto">'
                                           +'<li><a onclick="filterMarkettingTypes(this,event);" href="#"><input type="checkbox">All</a>'
                                           +'</li>';

                               CC_PavilionResourceLibImageLibcont.getMarkettingTypes(function(result,evebt) {
                                   for(key in result) {
                                       if(key != 'remove')
                                       htmlstring = htmlstring +'<li><a onclick="filterMarkettingTypes(this,event);" href="#"><input type="checkbox">'+result[key]+'</a></li>';
                                   }
                                   htmlstring =htmlstring +'</ul></div><div style="clear:both;"/>';
                                   var select = $j(htmlstring )
                                       .appendTo( $j(column.header()) )
                               });
                       }
                       if(this.index() == 4) {
                          var column = this;
                               var htmlstring = 
                                   '<div  align="right" style="width:90px;left: 0px;float:right;top: -17px;" id="MarkettingSubTypes" class="dropdown" >'
                                       +'<button class="linkcss  dropdown-toggle" type="button" data-toggle="dropdown" onclick="stopPropagate(this)">'
                                           +'<span class="glyphicon glyphicon-filter"></span>'
                                       +'</button>'
                                       +'<ul class="dropdown-menu" id="theMarkettingSubTypes" style="max-height: 300px; overflow-y: auto" >'
                                           +'<li><a onclick="filterMarkettingSubTypes(this,event);" href="#"><input type="checkbox">All</a>'
                                           +'</li>';

                               CC_PavilionResourceLibImageLibcont.getMarkettingSubTypes(function(result,evebt) {
                                   for(key in result) {
                                       if(key != 'remove')
                                       htmlstring = htmlstring +'<li><a onclick="filterMarkettingSubTypes(this,event);" href="#"><input type="checkbox">'+result[key]+'</a></li>';
                                   }
                                   htmlstring =htmlstring +'</ul></div><div style="clear:both;"/>';
                                   var select = $j(htmlstring )
                                       .appendTo( $j(column.header()) )
                               });
                       }


                   });
               

               }

           });
           $j("#example_wrapper").children("div:first-child").append('<div class="col-md-1"><span style="float:right;margin-top:10px;"><b>Market:</b></span></div>');
           $j("#example_wrapper").children("div:first-child").append(document.getElementById('marketingoptions').innerHTML);
           
           
         });  

       function filterMarkettingCategories(selectedContent,event) {

           var items = $j("#theCategoryList > li");
           var colIndex = 2;
           customFilterUtil(selectedContent, items, colIndex);
       }
       function filterMarkettingTypes(selectedContent,event) {

           var items = $j("#thefilterMarkettingTypesList > li");
           var colIndex =3 ;
           customFilterUtil(selectedContent, items, colIndex);
       }
       function filterMarkettingSubTypes(selectedContent,event) {

           var items = $j("#theMarkettingSubTypes > li");
           var colIndex = 4;
           customFilterUtil(selectedContent, items, colIndex);
           //$j("#the"+this.id).toggle();
       }
        function stopPropagate(ele){
           //console.log($j(ele).parent());
           $j("#theCategoryList").hide();
           $j("#thefilterMarkettingTypesList").hide();
           $j("#theMarkettingSubTypes").hide();
           $j(ele).parent().click(function(e){
               console.log("Here");
              e.stopPropagation();
              //e.preventDefault();
             $j("#the"+this.id).show();
              //e.preventDefault();
              //console.log($j(ele).parent().parent());
           });
           console.log("There");


       }


       function customFilterUtil(selectedContent, items, colIndex) {
           var text = $j(selectedContent).text();

           if(text === 'All') {
               if($j(selectedContent).find('input').is(':checked')) {
                   Resource.column(colIndex)
                   .search('')
                   .draw();

                   //uncheck every other item

                   //get all the checked vals
                   var items = items;
                   //console.log('items ', items);

                   $j(items).each(function( index ) {
                       var currentText = $j(this).text();

                       if($j(this).find('input').is(':checked') === true && currentText !== 'All' || currentText.trim() === '') {
                           console.log('uncheck all');
                           $j(this).find('input').prop( "checked", false );
                       }
                   });

                   return;   
               }
           } else {
               //uncheck the one which selects all
               //get all the checked vals
               var items = items;
               //console.log('items ', items);

               $j(items).each(function( index ) {
                   var currentText = $j(this).text();

                   if($j(this).find('input').is(':checked') === true && currentText === 'All') {
                       $j(this).find('input').prop( "checked", false );
                   }
               });

               //get all the checked vals
               var items = items;
               //console.log('items ', items);

               var str = '';

               $j(items).each(function( index ) {
                   if($j( this).find('input').is(':checked') === true) {
                       var tempStr = $j( this).text();

                       if(tempStr.indexOf(' ') >= 0) {
                           tempStr = tempStr.split(' ');

                           for(var i = 0; i < tempStr.length; i++) {
                               str += tempStr[i];

                               if(i != tempStr.length -1) {
                                   str += '\\s';
                                   continue;
                               }

                               str += '|';   
                           }
                       } else {
                           str += tempStr;
                           str += '|';
                       }
                   }
               });

               //remove char '|' at the end
               if(str.length != 0)
                   str = str.slice(0, str.length - 1);

               if(str) {
                   Resource.column(colIndex)
                       .search(str, true)
                       .draw();   
               }   
           }
       }


       function hidePanel(ele){
               $j('#'+ele).hide();
               //$('#UlDrop'+ele).hide();
               //$('#UlDropDivCategoryCategory').hide();
           }
       <!--javascript function to push data into table-->
       function remotedatamethod() {
       
           CC_PavilionResourceLibImageLibcont.getMarketingImages(function(result, event) {
               if (event.type == 'exception') {
                   alert('Error ' + event.message);
               } else {
                   recs = [];
                   var i = 0;
                   console.log(result);
                   if (result != '') {
                  
                       $j.each(result, function(r) {
                           var tmp = [];
                           if (result[r].Content_Title__c != undefined) {
                               if(result[r].FileType=="ZIP" && result[r].FileExtension=="zip")
                                   tmp.push('<img height="100" width="100" src="{!$Site.Prefix}/{!zipLogoURL}"></img>');
                               else
                                   tmp.push('<img height="90" width="120" src="{!$Site.Prefix}/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&versionId=' + result[r].Id + '"></img>');
                               tmp.push(result[r].Content_Title__c);
                               tmp.push(result[r].Marketing_Image_Category__c);
                               tmp.push(result[r].Marketing_Image_Type__c);
                               tmp.push(result[r].Marketing_Image_Sub_Type__c);
                               tmp.push('<a href="{!$Site.Prefix}/sfc/servlet.shepherd/version/download/' + result[r].Id + '" download="{!$Site.Prefix}/sfc/servlet.shepherd/version/download/' + result[r].Id + '">Download</a>');
                               recs[i] = tmp;
                               lastentryid = result[r].Id;
                               i += 1;
                           }
                       });
                       $j('#tableloading').hide();
                        $j('#tablepnl').show();
                       $j('#example').dataTable().fnAddData(recs); // Add to the Datatable
                       $j('#example').dataTable().fnDraw();
                       if (result == '') {
                           $j('#tableloading').hide();
                            $j('#tablepnl').show();
                           $j('#example').hide();
                           
                       }
                       j++;
                   }
               }
           }, {
               buffer: false
           });
       }

     /*javascript function to filter selectedvehicle*/
       function filtercategory(selectedcat) {
            var val = $j.fn.dataTable.util.escapeRegex(
                   $j(selectedcat).text()
               );

               var text;
               text = $j(selectedcat).text();
               if(text == ''){
                   text = currenttypeparamter[1];

               }

               Resource
                    .search( '' )
                    .columns().search( '' )
                    .draw();

               Resource.column(2)
                   .search( text )
                   .draw();
               if($j(selectedcat).text() == 'All') {
                   Resource.column(2)
                   .search( '' )
                   .draw();
               }
           return false;
        }
        function filterTypes(selectedtype) {
            var val = $j.fn.dataTable.util.escapeRegex(
                   $j(selectedtype).text()
               );

               var text;
               text = $j(selectedtype).text();
               if(text == ''){
                   text = currenttypeparamter[1];

               }

               Resource
                    .search( '' )
                    .columns().search( '' )
                    .draw();

               Resource.column(3)
                   .search( text )
                   .draw();
               if($j(selectedtype).text() == 'All') {
                   Resource.column(3)
                   .search( '' )
                   .draw();
               }
           return false;
        }
        function filterSubTypes(selectedSubtype) {
            var val = $j.fn.dataTable.util.escapeRegex(
                   $j(selectedSubtype).text()
               );

               var text;
               text = $j(selectedSubtype).text();
               if(text == ''){
                   text = currenttypeparamter[1];

               }

               Resource
                    .search( '' )
                    .columns().search( '' )
                    .draw();

               Resource.column(4)
                   .search( text )
                   .draw();
               if($j(selectedSubtype).text() == 'All') {
                   Resource.column(4)
                   .search( '' )
                   .draw();
               }
           return false;
        }

    function resetTechPubsTable() {
              $j('#example').dataTable().fnDestroy();
             
             }


    function changeType(market) {
    Resource.column(0)
     .search('')
     .draw();
    $j('#example').dataTable().fnClearTable();
    CC_PavilionResourceLibImageLibcont.getfiletredMarketingImages(market, function(result, event) {
    console.log('entered getfiletredorderItems');

     if (event.type == 'exception') {

     } else {


      recs = [];
      var i = 0;

      if (result != '') {
      
       $j.each(result, function(r) {


        var tmp = [];
           console.log(result[r].Content_Title__c);
                               if(result[r].FileType=="ZIP" && result[r].FileExtension=="zip")
                                   tmp.push('<img height="100" width="100" src="{!$Site.Prefix}/{!zipLogoURL}"></img>');
                               else
                                   tmp.push('<img height="75" width="120" src="{!$Site.Prefix}/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&versionId=' + result[r].Id + '"></img>');
                               tmp.push(result[r].Content_Title__c);
                               tmp.push(result[r].Marketing_Image_Category__c);
                               tmp.push(result[r].Marketing_Image_Type__c);
                               tmp.push(result[r].Marketing_Image_Sub_Type__c);
                               tmp.push('<a href="{!$Site.Prefix}/sfc/servlet.shepherd/version/download/' + result[r].Id + '" download="{!$Site.Prefix}/sfc/servlet.shepherd/version/download/' + result[r].Id + '">Download</a>');
        recs[i] = tmp;

        lastentryid = result[r].Id;
        i += 1;

       });
       $j('#example').dataTable().fnAddData(recs); // Add to the Datatable
       $j('#example').dataTable().fnDraw();
       if (result == '') {
        $j('#example').hide();
        
       }
       j++;

      }
     }


    }, {
     buffer: false
    });
   }


       //add margin to the right and reset clear
       $j(".dataTables_length").css('clear', 'none');
       $j(".dataTables_length").css('margin-right', '20px');

       //reset clear and padding
       $j(".dataTables_info").css('clear', 'none');
       $j(".dataTables_info").css('padding', '0');
   </script>
   <apex:composition template="CC_PavilionTemplate">
       <apex:define name="body">
           <div class="row">
               <div class="col-md-2">
                   <div class="panel panel-default">
                       <div class="panel-heading">Useful Links</div>
                       <div class="panel-body">
                           <a href="{!$Site.prefix}/CC_PavilionResourceLibrary">Search the library</a>
                           <br/>
                           <br/>
                           <a href="{!$Site.prefix}/CC_PavilionResourceLibAboutImages">About Images</a>
                           <br/>
                           <br/>
                           <a href="{!$Site.prefix}/CC_PavilionMarketingHome">Marketing Home</a>
                           <br/>
                           <br/>
                           <a href="{!$Site.prefix}/CC_PavilionMarketingContactList">Marketing Contacts</a>
                           <br/>
                       </div>
                   </div>
               </div>
               <div class="col-md-10" style="float:right;">
                   <div class="panel panel-default">
                    

                       <div class="panel-heading">Resources</div>
                      
                       <div class="panel-body">
                        <div id="tableloading" ><img src="{!$Resource.CC_Gear}" />Loading Image Library...</div>
                           <div class="table-responsive" id="tablepnl" style="display:none;">
                          
                               <apex:outputPanel >
                                
                               <table id="example" class="display table" cellspacing="0" width="100%">
                                
                                   <thead>
                                   
                                       <tr>
                                           <th>Thumbnail Image</th>
                                           <th>Document Title</th>
                                           <th>Documents</th>
                                           <th>Resource Type</th>
                                           <th>Product Category</th>
                                           <th>Download Links</th>
                                       </tr>
                                       
                                   </thead>
                                   <tbody>

                                   </tbody>
                               </table>
                               </apex:outputPanel>
                           </div>
                           <div id="marketingoptions" style="display:none;">
                               <div class="col-md-3" style="margin-left:-27px;">
                                   <select id="typeId" class="form-control w50" onchange="changeType(this.value);" >
                                       <option value="">All</option>
                                           <apex:repeat value="{!ImageDataFilter}" var="marketing">
                                               <option value="{!marketing}">{!marketing}</option>
                                           </apex:repeat>
                                   </select>
                                    
                               </div>
                               <div class="col-md-3">
                                    <p><button class="btn btn-primary" onclick="window.location='{!$Site.prefix}/CC_PavilionResourceLibImageLib'">Filter Reset</button></p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           </apex:define>
       </apex:composition>
   </apex:page>