<!--
  -
  - $Revision: 1.0 $
  - $Date:  $
  - $Author: $

  -->
<apex:page standardStylesheets="flase" showHeader="false" sidebar="false" controller="CC_PavilionPromotionsFormsController">
    <head>
        <script src="//code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
        <script src="/soap/ajax/30.0/apex.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/1.10.10/js/dataTables.jqueryui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.jqueryui.min.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css"/>
            <style type="text/css">
          hr {
      margin-top: 0 !important;
      border-top: 2px solid #888 !important;
    }
    
    h3.form-heading {
      font-size: 18px;
      font-weight: 600;
      color: #666;
      margin-bottom: 3px;
    }
    
    .help-block {
      font-style: italic;
    }
         </style>
    </head>
        <script>
     var maxStringSize = 6000000; //Maximum String size is 6,000,000 characters
     var maxFileSize = 4350000; //After Base64 Encoding, this is the max file size
     var attachmentName;
     var attachmentBody;
     var isAttachementEroor = false;
     var billAttachmentName = '';
     var billAttachmentBody = '';
     var warrantyAttachmentName = '';
     var warrantyAttachmentBody = '';
    
     //Method to prepare attachement file 
     function uploadFile(fileInputId) {
      attachmentName = '';
      attachmentBody = '';
      isAttachementEroor = false;
      if (document.getElementById(fileInputId) != null) {
       var file = document.getElementById(fileInputId).files[0];
       if (file != undefined) {
        if (file.size <= maxFileSize) {
         attachmentName = file.name;
         var fileReader = new FileReader();
         fileReader.onloadend = function(e) {
          attachmentBody = window.btoa(this.result); //Base 64 encode the file before sending '+ 
          if (fileInputId == 'WarrantyAttachement') {
           warrantyAttachmentName = attachmentName;
           warrantyAttachmentBody = attachmentBody;
          } else {
           billAttachmentName = attachmentName;
           billAttachmentBody = attachmentBody;
          }
          var fileSize = attachmentBody.length;
          if (fileSize > maxStringSize) {
           isAttachementEroor = true;
           alert("Base 64 Encoded file is too large.  Maximum size is " + maxStringSize + " your file is " + fileSize + ".");
          }
         }
         fileReader.onerror = function(e) {
          isAttachementEroor = true;
          alert("There was an error reading the file.  Please try again.");
         }
         fileReader.onabort = function(e) {
          isAttachementEroor = true;
          alert("There was an error reading the file.  Please try again.");
         }
         fileReader.readAsBinaryString(file); //Read the body of the file
        } else {
         isAttachementEroor = true;
         alert("File must be under 4.3 MB in size.  Your file is too large.  Please try again.");
        }
       }
      }
      return isAttachementEroor;
     }
    
     function validatePhone(YourPhone) {
    
      if (document.getElementById('Phone').value == "" || document.getElementById('Phone').value.trim() == "") {
       return false;
      }
    
      return true;
     }
    
     function validateFirstName(YourFirstName) {
    
      if (document.getElementById('FirstName').value == "" || document.getElementById('FirstName').value.trim() == "") {
       return false;
      }
    
      return true;
     }
    
     function validateLastName(YourLastName) {
    
      if (document.getElementById('LastName').value == "" || document.getElementById('LastName').value.trim() == "") {
       return false;
      }
    
      return true;
     }
     //added by tapas to validate the serial number
     function validateSerialNumber(serialNumber) {
      var reg = /[A-Z]{2}\d{10}/;
      if (serialNumber.length == 12) {
       if (reg.test(serialNumber))
        return true;
       else
        return false;
      } else {
       return false;
      }
    
     }
    
     function validateEmail(emailId) {
      if (emailId.length == 0) return false;
      var atpos = emailId.indexOf("@");
      var dotpos = emailId.lastIndexOf(".");
      if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= emailId.length) {
       return false;
      }
      return true;
     }
     //function to submit the Form 
     function submitFormData() {
      var FirstName = document.getElementById('FirstName').value;
      var LastName = document.getElementById('LastName').value;
      var Phone = document.getElementById('Phone').value;
      var Email = document.getElementById('Email').value;
      var BuyerFirstName = document.getElementById('BuyerFirstName').value;
      var BuyerLastName = document.getElementById('BuyerLastName').value;
      var Address = document.getElementById('Address').value;
      var City = document.getElementById('City').value;
      var State = document.getElementById('State').value;
      var Zip = document.getElementById('Zip').value;
      var BuyerPhone = document.getElementById('BuyerPhone').value;
      var BuyerEmail = document.getElementById('BuyerEmail').value;
      var DateOfSale = document.getElementById('DateOfSale').value;
      var DealerName = document.getElementById('DealerName').value;
      var VehicleModel = document.getElementById('VehicleModel').value;
      var SerialNumber = document.getElementById('SerialNumber').value;
      var ModelYear = document.getElementById('ModelYear').value;
      var Make = document.getElementById('Make').value;
      var Amount = document.getElementById('Amount').value;
    
      document.getElementById('EmailInfo').style.display = 'none';
    
      document.getElementById('BuyerEmailInfo').style.display = 'none';
      document.getElementById('FirstNameInfo').style.display = 'none';
      document.getElementById('LastNameInfo').style.display = 'none';
      document.getElementById('PhoneInfo').style.display = 'none';
      document.getElementById('SerialNumberInfo').style.display = 'none';
    
      if (validateEmail(Email) == false) {
       document.getElementById('EmailInfo').style.display = 'block';
       document.getElementById('Email').focus();
       return false;
      }
      if (validateEmail(BuyerEmail) == false) {
       document.getElementById('BuyerEmailInfo').style.display = 'block';
       document.getElementById('BuyerEmail').focus();
       return false;
      }
      if (validateFirstName(FirstName) == false) {
       document.getElementById('FirstNameInfo').style.display = 'block';
       document.getElementById('FirstNameInfo').focus();
       return false;
      }
      if (validateLastName(LastName) == false) {
       document.getElementById('LastNameInfo').style.display = 'block';
       document.getElementById('LastNameInfo').focus();
       return false;
      }
      if (validatePhone(Phone) == false) {
       document.getElementById('PhoneInfo').style.display = 'block';
       document.getElementById('PhoneInfo').focus();
       return false;
      }
      if (validateSerialNumber(SerialNumber) == false) {
       document.getElementById('SerialNumberInfo').style.display = 'block';
       document.getElementById('SerialNumberInfo').focus();
       return false;
      }
    
      CC_PavilionPromotionsFormsController.submitGolfCarFormData(FirstName, LastName, Phone, Email, BuyerFirstName,
       BuyerLastName, Address, City, State, Zip, BuyerPhone,
       BuyerEmail, DateOfSale, DealerName, VehicleModel,
       SerialNumber, ModelYear, Make, Amount, billAttachmentName, billAttachmentBody, warrantyAttachmentName, warrantyAttachmentBody,
       function(result, event) {
        if (event.status) {
         var resultData = result;
         if (resultData == 'Failure') {
          alert('Error during sumit your request');
         } 
         formSaved();
        }
       }, {
        escape: false
       });
     }
    
    
function formSaved() {
 document.getElementById('alertmsg').innerHTML = 'Your form has been submitted successfully';

 $("#submitdialog").dialog({
  autoOpen: true,
  width: 450,
  height: 250,
  closeOnEscape: false,
  show: {
   effect: "drop"
  },

  modal: true,
  buttons: {

   "Ok": function() {
    $(this).dialog("close");
    
     window.open('{!$Site.Prefix}/CC_PavilionPromotionsForms', '_self');
   
   }
  }

 });
}
     </script>
      <div id="submitdialog" style="display:none;">
                <div  id="myModal" >
                    <div id="alertmsg" class="alert alert-info"></div>
                </div>
            </div>
            <apex:composition template="CC_PavilionTemplate">
                <apex:define name="body">
                    <apex:form >
                        <div class="row">
                            <div class="col-md-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Forms</div>
                                    <div class="panel-body">
                                        <a href="{!$Site.prefix}/CC_PavilionGolfCarForm">Golf Car Credit Certification Form</a>
                                        <br/>
                                        <br/>
                                        <a href="{!$Site.prefix}/CC_PavilionLSVForm">LSV Credit Certification Form</a>
                                        <br/>
                                        <br/>
                                        <a href="{!$Site.prefix}/CC_PavilionXRTForm">XRT Credit Certification Form</a>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Golf Car Credit Certification Form </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <h3 class="col-sm-12 form-heading">About You</h3>
                                        </div>
                                        <hr />
                                        <div class="row form-group">
                                            <div class="col-sm-6">
                                                <span class="before" style="color:red;">*</span>
                                                <label class="control-label">Your First Name :</label>
                                                <input type="text" id="FirstName" required = "required" class="form-control" autocomplete="on"/>
                                                <span class="help-block" id="FirstNameInfo" style="color:red;display:none;">Please enter First Name</span>
                                            </div>
                                            <div class="col-sm-6">
                                                <span class="before" style="color:red;">*</span>
                                                <label class="control-label">Your Last Name :</label>
                                                <input type="text" id="LastName"  class="form-control" autocomplete="on"/>
                                                <span class="help-block" id="LastNameInfo" style="color:red;display:none;">Please enter Last Name</span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-6">
                                                <span class="before" style="color:red;">*</span>
                                                <label class="control-label">Your Email :</label>
                                                <input type="text" id="Email" required = "required" class="form-control" autocomplete="on"/>
                                                <span class="help-block" id="EmailInfo" style="color:red;display:none;">Please enter valid email</span>
                                            </div>
                                            <div class="col-sm-6">
                                                <span class="before" style="color:red;">*</span>
                                                <label class="control-label">Your Phone Number :</label>
                                                <input type="text" id="Phone" required = "required" class="form-control" autocomplete="on"/>
                                                <span class="help-block" id="PhoneInfo" style="color:red;display:none;">Please enter valid Phone Number</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h3 class="col-sm-12 form-heading">About the Buyer and the Sale</h3>
                                        </div>
                                        <hr />
                                        <div class="row form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">First Name :</label>
                                                <input type="text" id="BuyerFirstName" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">Last Name :</label>
                                                <input type="text" id="BuyerLastName" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-8">
                                                <label class="control-label">Address:</label>
                                                <input type="text" id="Address" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">City :</label>
                                                <input type="text" id="City" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">State:</label>
                                                <input type="text" id="State" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Zip Code :</label>
                                                <input type="text" id="Zip" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-3">
                                                <label class="control-label">Phone:</label>
                                                <input type="text" id="BuyerPhone" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">Email :</label>
                                                <input type="text" id="BuyerEmail" required = "required" class="form-control" autocomplete="off"/>
                                                <span class="help-block" id="BuyerEmailInfo" style="color:red;display:none;">Please enter valid email</span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">Date of Sale:</label>
                                                <input type="text" id="DateOfSale" required = "required" class="form-control datepicker" autocomplete="off"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Dealer Name :</label>
                                                <input type="text" id="DealerName" required = "required" class="form-control" autocomplete="off"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Vehicle Model:</label>
                                                <select id="VehicleModel" class="form-control">
                                                    <option value="Precedent i2">Precedent i2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">Serial Number:</label>
                                                <input type="text" id="SerialNumber" required = "required" class="form-control" placeholder="EX:AB1234567890" autocomplete="off"/>
                                                <span class="help-block" id="SerialNumberInfo" style="color:red;display:none;">Please enter valid serial number.</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Model Year:</label>
                                                <select id="ModelYear" class="form-control" autocomplete="off">
                                                    <option value="2016">2016</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Make:</label>
                                                <select id="Make" class="form-control" autocomplete="off">
                                                    <option value="Electric">Electric</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h3 class="col-sm-6 form-heading">Supporting Document</h3>
                                        </div>
                                        <hr />
                                        <div class="row form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">Bill of Sale:</label>
                                                <input id="BillAttachement" type="file" onchange="uploadFile(this.id)"></input>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">Warranty Registration:</label>
                                                <input id="WarrantyAttachement" type="file" onchange="uploadFile(this.id)"></input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h3 class="col-sm-6 form-heading">Bonus Cash</h3>
                                        </div>
                                        <hr style="margin-bottom: 2px" />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="help-block">Please Select the amount</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-12 control-label">Amount (if any):</label>
                                            <div class="col-sm-2">
                                                <select id="Amount" class="form-control" autocomplete="off">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-center" id="modifySubmit">
                                                <button type="button"  class="btn btn-primary" onClick="submitFormData()">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                         <script>
                  j$ = jQuery.noConflict();
                 j$(document).ready(function() {
                  $('.datepicker').datepicker({
                   format: 'yyyy-mm-dd',
                  });
                  //added by tapas  to disable the following fields if is not a amarketting manager
                     var isMarketingMan='{!enableMarkettingManager}';
                     if(isMarketingMan=='false'){
                         j$('#VehicleModel').prop('disabled',true);
                         j$('#ModelYear').prop('disabled',true);
                         
                     }
                 }); </script>
                    </apex:form>
                </apex:define>
            </apex:composition>
        </apex:page>