<apex:page renderAs="pdf" docType="html-5.0" standardController="CC_Master_Lease__c" applyBodyTag="false" lightningStylesheets="false" 
           sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false">

    <head>

        <style type="text/css" media="print">
            @page {

                size: portrait;

                @bottom-center {
                    content: "Page " counter(page) " of " counter(pages);
                }

                div.header 
                {
                    position: running(header);
                }                
            }
        </style>
                  
    </head>        
    
    <body>        

        <c:CC_STL_Master_Lease_Agreement />

    </body>

</apex:page>