<apex:page showHeader="false" controller="exportContentVersionHistoryController" contentType="application/vnd.ms-excel#ContentVersionHistory.xls" cache="true">
    <apex:pageBlock title="Export Results" >
        <apex:pageBlockTable value="{!cvhList}" var="content">
            <apex:column value="{!content.ContentVersionId}"/>
            <apex:column value="{!content.Field}"/>
            <apex:column value="{!content.NewValue}"/>
            <apex:column value="{!content.OldValue}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>