<apex:page controller="GBLite.GridWizardController" showHeader="{!showHeader}" title="{!lang.GW3Title}" action="{!init}" sidebar="false" tabStyle="Grid_Wizard__tab">
	<!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GBLite__gb_resources, 'ie8-styles.css')}" />
    <![endif]-->
	<div class="gbAppPage gbwPage gb{!lang.langCode} gw3{!IF(lightningStylesEnabled, ' gbLightning', '')} {!if(showHeader, '', 'inGrid')}">
		<c:GridFilterErrorComponent errors="{!errors}"/>
		
		<c:EmptyComponent rendered="{!errors.showInfoMessages}">
			<div class="msgBox infoMsg gbwMsg">
                <div class="gbIconCheckmark"></div>
                
				<apex:repeat value="{!errors.apexInfoMessages}" var="infoMsg">
				    <div class="msgDetail"><apex:outputText value="{!infoMsg.summary}" escape="true"/></div>
				</apex:repeat>
			</div>
		</c:EmptyComponent>
	
		<div class="msgBox warningMsg" id="vldWarning">
			<div class="closeX">{!lang.CloseWarningBoxLbl}&nbsp;&nbsp;<b>X</b></div>
			<div class="msgBody"></div>
		</div>

		<c:GridFilterComponent loadUserFilter="{!loadUserFilter}" launchGridURL="{!launchGridURL}"
			gridHasValidObjects="{!gridHasValidObjects}" saveAndRefreshPage3="{!saveAndRefreshPage3}" saveAndBackPage3="{!saveAndBackPage3}" 
			saveAndRefreshUDFPage="{!saveAndRefreshUDFPage}" resetForm="{!resetForm}" deleteFilter="{!deleteAdminFilter}" 
			goToPage1="{!goToPage1}" goToPage2="{!goToPage2}" lang="{!lang}" wrapper="{!wrapper}" ownershipOptions="{!ownershipOptions}" 
			operators="{!operators}" orderByOptions="{!orderByOptions}" filterParentByChildOptions="{!filterParentByChildOptions}" 
			adminFilterOptions="{!adminFilterOptions}" adminFilteringEnabled="{!adminFilteringEnabled}" 
			isDefaultFilterLoaded="{!isDefaultFilterLoadedForAdmin}" cloneFilter="{!cloneAdminFilter}" 
			isCreatingNewFilter="{!isCreatingNewAdminFilter}" enableFilterClone="{!enableAdminFilterClone}" 
			selectedAdminFilterPicklistVal="{!selectedAdminFilterPicklistVal}" lightningStylesEnabled="{!lightningStylesEnabled}"/>
			
		<c:LangJSComponent lang="{!lang}"/>
		<!--  do not use includeScript for the jquery include, as this will add the javascript to the <head> tag and slow down the page load -->
		<c:FileComponent JSFileNames="{!JSFileNames}" CSSFileNames="{!CSSFileNames}"/>
	    
		<c:ServiceCloudConsoleComponent inServiceCloudConsole="{!inConsole}"/>
		
		<script type="text/javascript">
			var currentLocale = '{!localeForDate}',
			    loadUserFilter = {!loadUserFilter},
			    filterNameParam = '{!filterNameParam}',
            	gridWizardCloneParam = '{!gridWizardCloneParam}',
            	// TODO move to all the variable below to GridFilterComopnent, and remove them from here
            	isDefaultFilterLoadedForAdmin = {!isDefaultFilterLoadedForAdmin}
            	gridName = '{!wrapper.gridConfig.name}',
            	gridNameParam = '{!gridNameParam}',
            	baseRelativeURLForVFManaged = '{!baseRelativeURLForVFManaged}',
            	lookupAjaxResponderPageURL = '{!lookupAjaxResponderPageURL}',
            	launchGridURL = '{!URLFOR(launchGridURL)}',
             orgId = '{!$Organization.Id}',
            	isTrackingDisabled = {!isTrackingDisabled},
            gridBuddyVersion = '{!gridBuddyVersion}',
            abbreviatedUserType = '{!abbreviatedUserType}',
            mpToken = '{!mpToken}',
            uiTheme = '{!$User.UITheme}',
            userId = '{!$User.Id}',
            userLanguage = '{!userLanguage}',
            gbEdition = '{!gridBuddyEditionName}',
            lightningStylesEnabled = {!lightningStylesEnabled};
		</script>
		<div class="gbCopyright">{!lang.CopyrightTxt}</div>
	</div>
</apex:page>