<apex:page controller="GBLite.FolderController" showHeader="{!showHeader}" title="{!lang.ManageFoldersLbl}" sidebar="false" action="{!init}" tabStyle="Grid_Wizard__tab">
    <c:FileComponent CSSFileNames="{!CSSFileNames}" />
    <c:FileComponent JSFileNames="{!JSFileNames}" />
	<!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GBLite__gb_resources, 'ie8-styles.css')}" />
    <![endif]-->
	<div class="gbAppPage gbfPage {!if(showHeader, '', 'inGrid')}{!IF(lightningStylesEnabled, ' gbLightning', '')}">
		<c:EmptyComponent rendered="{!isErrors}">
			<div class="msgBox warningMsg folderMsg">	
                <div class="gbIconAlert"></div>
                		
                <div class="rMessages">
					<apex:repeat value="{!ApexWarningMessages}" var="error">
					    <div>{!error.summary}</div>
					</apex:repeat>
                </div>
			</div>
		</c:EmptyComponent>	
		<c:EmptyComponent rendered="{!isSuccess}">
			<div class="msgBox infoMsg folderMsg">			
                <div class="gbIconCheckmark"></div>
                
				<apex:repeat value="{!ApexInfoMessages}" var="success">
					<div class="msgDetail">{!success.summary}</div>
				</apex:repeat>
			</div>
		</c:EmptyComponent>	
		<c:EmptyComponent rendered="{!showUpgradeMessage}">
			<div class="upgradeMsg">
				<span class="checkmark">&nbsp;</span>
				Upgrade to <span class="upgradeApp">GridBuddy Unlimited</span> to use the powerful Mass Update, Delete All, User-Defined Filtering and Foldering features, and to create unlimited grids. 
				<a href="{!baseRelativeURLForVFManaged}UpgradeGridBuddy" target="_blank">Learn more &raquo;</a>
			</div><br/>
		</c:EmptyComponent>
		<c:EmptyComponent rendered="{!isFolderingEnabled}">
			<apex:form styleClass="folderForm">
				<apex:pageblock title="{!lang.ManageFoldersLbl}">
					<apex:pageBlockButtons >
						<!-- do not change buttons to be on separate lines - this is done to avoid extra space between the buttons -->
						<input type="button" class="addFolderBtn gbBtn none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.addButtonLbl}" /><input 
						type="button" class="gbBtnDisabled addFolderDisabled none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.addButtonLbl}" disabled="disabled" />
						<apex:commandButton action="{!save}" value="{!lang.SaveBtnLbl}" styleClass="saveBtn gbBtn none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" immediate="false" /><input 
						type="button" class="gbBtnDisabled none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.SaveBtnLbl}" disabled="disabled" />
						<apex:commandButton action="{!deleteFolder}" value="{!lang.DeleteBtnLbl}" styleClass="delBtn gbBtn none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" immediate="false"/><input 
						type="button" class="gbBtnDisabled none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.DeleteBtnLbl}" disabled="disabled" />
						<apex:commandButton action="{!refresh}" value="{!lang.RefreshBtnLbl}" styleClass="refreshBtn gbBtn none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" immediate="true"/><input 
						type="button" class="gbBtnDisabled none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.RefreshBtnLbl}" disabled="disabled" />
						<apex:commandButton action="{!goToGW1Page}" value="{!lang.ManageGridsLbl}" styleClass="gbBtn none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" immediate="true"/><input 
						type="button" class="gbBtnDisabled none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.ManageGridsLbl}" disabled="disabled" />
					</apex:pageBlockButtons>
					<div class="instr">
						<apex:outputText value="{!lang.FolderInstr1}" escape="false"/><br/>
						<apex:outputText value="{!lang.FolderInstr2}" escape="false"/><br/>
						<apex:outputText value="{!lang.FolderInstr3}" escape="false"/><br/>
						<apex:outputText value="{!lang.FolderInstr4}" escape="false"/><br/>
						<apex:outputText value="{!lang.SeeUserGuide}" escape="false"/>
					</div>
					<table>
						<tr>
							<td class="folderBox" valign="top">					
								<div class="folder-title gradientHeader">
									<input  id="selectAllFol" type="checkbox"/><span>{!lang.FoldersLbl}</span>
								</div>
								<div class="content-wrap">
									<div class="folderList">
										<apex:repeat value="{!FolderObjectList}" var="folder">
											<div class="folder">
												<input id="{!folder.folderId}" type="checkbox"/><span><a href="#">{!folder.folderName}</a></span>
											</div>
										</apex:repeat>
									</div>
									<div class="create-folder">
									</div>
								</div>
							</td>
							<td class="folderBox" valign="top">
								<div class="gridProfile-title gradientHeader">{!lang.AssignedProfsGridsLbl}</div>
								<div id="defaultMessage">{!lang.ClickFolderMFLbl}</div>
								<input id="updateFolder"  maxlength="50" type="text"/>
								<span id="displayFolder"></span>
								<table id="gridsAndProfiles" cellspacing="5">
									<tr>
										<td class="content" valign="top">
											<div class="profileHeader">
												<input id="selectAllProf" type="checkbox"/> <strong>{!lang.ProfilesLbl}</strong>
											</div>
											<div class="content-wrap">
												<div class="profileList">
													<apex:repeat value="{!Profiles}" var="profile">
														<div>
															<input id="{!profile.Id}" type="checkbox"/>
															<span>{!profile.Name}</span>
														</div>
													</apex:repeat>
												</div>
											</div>
										</td>
										<td class="content" valign="top">
											<div class="gridHeader">
												<input id="selectAllGrids" type="checkbox"/> <strong>{!lang.GridsLbl}</strong>
											</div>
											<div class="content-wrap">
												<div class="gridList">
													<apex:repeat value="{!AllGridNames}" var="grid">
														<div>
															<input type="checkbox"/>
															<span>{!grid}</span>
														</div>
													</apex:repeat>
												</div>
											</div>
										</td>
									</tr>
								</table>						
							</td>
						</tr>
					</table>
					<apex:inputHidden id="modData" value="{!modData}"/>
		            <apex:inputHidden id="newData" value="{!newData}"/>
		            <apex:inputHidden id="delData" value="{!delData}"/>
		            <script type="text/javascript">
						var folderData=new Array();
						<apex:repeat value="{!FolderObjectList}" var="folder">
						    folderData.push({fId:"{!folder.folderId}",fName:"{!folder.folderName}", pIds:"{!folder.value}", grids:"{!folder.grids}"});
						</apex:repeat>
						var newDataField=document.getElementById('{!$Component.newData}');
						var modDataField=document.getElementById('{!$Component.modData}');
						var delDataField=document.getElementById('{!$Component.delData}');
					</script>
				</apex:pageblock>
			</apex:form>
		</c:EmptyComponent>	
		<c:LangJSComponent lang="{!lang}"/>
		<div class="gbCopyright">{!lang.CopyrightTxt}</div>
	</div>
</apex:page>