<apex:page controller="KNEssentials.DashboardKNController" id="pgId" title="Console" showHeader="false" sidebar="false">

  <!--  <apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </apex:includescript>
    <apex:includescript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.js"></apex:includescript>
    <apex:stylesheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/cupertino/jquery-ui.css"></apex:stylesheet> -->
    
     <apex:includeScript value="{!URLFOR($Resource.KNEssentials__Jquery,'Jquery/jquery.min.js')}"/> 
     <apex:includeScript value="{!URLFOR($Resource.KNEssentials__Jquery,'Jquery/jquery-ui.js')}"/>
     <apex:stylesheet value="{!URLFOR($Resource.KNEssentials__Jquery,'Jquery/jquery-ui.css')}"/>
    
     <style>        
        tr.dataRow {
           background-color:white;
           border-left:0px;
           border-right:0px;
        }
        tr.dataRow:hover {
           background-color: #e3f3ff;
        };
        
        tr.widthCls {
            width:33%;
        } 
      <!--  a:link {
            text-decoration: none;
        }  -->
        <!-- PAGE BLOCK COLOR CHANGE  -->
        .accountTab .secondaryPalette, .individualPalette .accountBlock .secondaryPalette {
            border-color: #933;
        } 
        .draggable{
        
            background-color: #e3f3ff;
            background: rgba( 255, 255, 255, .8 ) 
                        url('{!URLFOR($Resource.Images, 'Images/LoadImage.jpg')}') 
                        50% 50% 
                        no-repeat;
        }
      
    </style>
    
    <apex:form id="formId">
        <apex:outputPanel id="errId">
            <apex:pagemessages ></apex:pagemessages>
        </apex:outputPanel>
            
          <apex:pageBlock tabStyle="Account" id="pgblkId">
            
                <section style="height:30px;">                   
                   <div style="padding-top:7px;">
                           <h3 style="font-size: 1.083em;font-size:bold;">
                               General
                           </h3>
                       <span style="float: right;display: inline-block;margin-right: 10px;">
                        </span>
                    </div>                                                                              
                </section> 
                
                <div style="height:20px;"/>
                
                <apex:outputLink value="" onclick="newTab();"> Add New KnowledgeNow Tab</apex:outputLink> 
                <div style="height:10px;"/>
                <apex:outputLink value="" onclick="newVideo();"> Add New Video</apex:outputLink> 
            </apex:pageBlock>  
            
            <apex:repeat value="{!tabIdAndCorrespondingCoachMap}" var="key">
            <apex:pageBlock tabStyle="Account" id="pgblkId">
              <section style="height:30px;">                   
                   <div style="padding-top:7px;">
                     <!--  <h3>
                           <apex:outputText value="&nbsp;&nbsp;{!tabIdAndTabNameMap[key]}&nbsp;&nbsp;" escape="false"></apex:outputText>
                           <apex:outputLink onclick="existTab('{!key}');">(Edit)</apex:outputLink>
                       </h3>  -->
                       <h3 style="font-size: 1.083em;font-size:bold;">
                           {!tabIdAndTabNameMap[key]}&nbsp;&nbsp;
                       </h3>
                       <apex:outputLink onclick="existTab('{!key}');">(Edit)</apex:outputLink>
                       
                       <span style="float: right;display: inline-block;margin-right: 10px;">
                           <apex:image url="{!URLFOR($Resource.KNEssentials__Images, 'Images/add.png')}" onclick="Expand('{!key}')"  styleClass="add{!key}" style="display:none;"/>  
                            <apex:image url="{!URLFOR($Resource.KNEssentials__Images, 'Images/forbidden.png')}" onclick="collapse('{!key}')"  styleClass="cancel{!key}"/> 
                        </span>
                    </div>                                                                              
                </section>                              

                <table id="sortablevideo" class="list" border="0px" cellpadding="0" cellspacing="0" width="100%">
                    <thead>    
                        <tr class="headerRow">
                            <td width="40%"> CloudCoach</td>
                            <td width="40%">
                            Autoplay<br/>(none)<br/>
                            <input type="radio" name="{!key}autoPlay" value="{!checkbox}"/> 
                            </td>
                            <td width="10%"> 
                                Flag
                                  
                            </td>  
                            <td width="10%"> Actions</td>                            
                        </tr>                       
                    </thead> 
                    <tbody id="{!key}">
                       <apex:repeat value="{!tabIdAndCorrespondingCoachMap[key]}" var="inn">
                           <apex:outputPanel rendered="{!inn.coach.Id != NULL}">
                               <tr class="dataRow{!key}{!inn.position} dataRow" id = "tr{!key}">
                                    <td> 
                                      <!--  <apex:outputLink value="/apex/CreateCoach?Id={!inn.coach.Id}" target="_blank">{!inn.coach.Name}</apex:outputLink>  -->
                                     <!--   <a href="" onclick="existingCoach('{!inn.coach.Id}')">{!inn.coach.Name}</a>  -->
                                        
                                        <apex:outputLink onclick="existingCoach('{!inn.coach.Id}')">{!inn.coach.Name}</apex:outputLink>
                                    </td>
                                    <td> 
                                        <input type="radio" value="{!inn.coach.Id}" name="{!key}autoPlay" class="radio{!key}" id="{!inn.coach.Id}"/> 
                                        <input type="radio" value="{!inn.coach.Auto_play__c}" style="display:none;" name="{!inn.coach.Id}" class="radiocls"/>                                                                 
                                    </td>
                                    <td> 
                                        <apex:inputCheckbox value="{!inn.coach.Recent_Flag__c}" />
                                    </td>
                                    <td>
                                        <apex:image url="{!URLFOR($Resource.KNEssentials__Images, 'Images/delete.png')}" onclick="deleteNew('{!key}','{!inn.position}');"/>
                                        <apex:inputText value="{!inn.isDelete}" styleclass="isDelete{!key}{!inn.position}" style="display:none;"/>
                                       <apex:inputText id="priorityId" value="{!inn.position}" style="display:none;"/> 
                                    </td>
                                </tr>
                            </apex:outputPanel>                                                                                                
                       </apex:repeat>
                   </tbody>                  
                </table>
                <div style="height:20px;"/>
                <apex:commandButton value="Save Layout" onclick="passRadioValue('{!key}')" oncomplete="parent.location.reload();"/> 
                                                       
               <div style="height:20px;"/>
               <apex:outputLink value="}" onclick="newCoach('{!key}');"> Add New CloudCoach</apex:outputLink> 
               <div style="height:20px;"/>    
               </apex:pageBlock>           
            </apex:repeat>
            
            <apex:actionFunction name="passVideoId" action="{!save}" reRender="null">
                   <!-- key is a tab id -->                   
                   <apex:param value="" name="key"/>
                   <apex:param value="" name="videoId"/>
            </apex:actionFunction>
               
        
    </apex:form>
    
    <script type="text/javascript">
        function deleteNew(tabIdKey, position) {
      
            var clasId = '.dataRow'+tabIdKey+position;
            var deleteValue = '.isDelete'+tabIdKey+position;
            var booleanVal = true;
            
            var x = confirm("Are you sure you want to remove this coach from the tab?");
            if (x) {
                $(clasId).hide();
                $(deleteValue).val(booleanVal);
                
            }else {            
                return false;
            }
        }
         // video sort code Initial code..so tow times
         var idfg = "#sortablevideo tbody";
         
        $(idfg).sortable({ 
           
            start: function(event, ui) {
                
                /*var idValue = '#tr'+$(this).attr("id");
                $(ui.item).addClass("draggable");*/
                
            },                   
            stop: function(event, ui) {
                
                /*var idValue = '#tr'+$(this).attr("id");                             
                $(idfg).find(idValue).each(function () {
                   $(this).removeClass("draggable");
                });*/
                setPriorityOrderForVideo();
            }          
        });
                
        
        function setPriorityOrderForVideo() {            
            
            form = document.getElementById('pgId:formId');
            var j = 0; 
            var k = 1;                               
            for (var i=0; i < form.elements.length; i++) {                              
               var field = form.elements[i];  
                if(endsWith(field.id, ':priorityId')){ 
                        
                    document.getElementById(field.id).value = j;                                     
                    j++;
                }              
            } 
        } 
        
        function endsWith(originalString, searchString){
        
            if ( originalString != undefined && originalString != null){
                return( originalString.lastIndexOf(searchString) == ((originalString.length).valueOf()-(searchString.length).valueOf()) )
            } else {
                return false;
            }        
        }
        
        function passRadioValue(keyId) {
             
             // SELECTABLE RADIO BUTTON WILL BE TRUE NA WE WILL PASS VIDEOID OTHERWISE EMPTY
             var videoId = '';
             
             var className = '.radio'+keyId;
             $(className).each(function(){
                 if($(this).prop('checked')) { 
                     videoId = this.value; 
                 }
             });
             passVideoId(keyId,videoId);
        }
        
        // ITERATING ALL RADIO BUTTONS AND SET SELECT DEFAULT TRUE
        $( document ).ready(function() {
        
            $('.radiocls').each(function(){            
                var booleanvalues = this.value;
                if (booleanvalues == 'true' || booleanvalues == true) {
                    var idForRadio = '#'+this.name;
                    $(idForRadio).prop("checked", true);
                }            
            });
        
        });
        
        function Expand(KeyId) {
        
            var fg = '#'+KeyId;
            $(fg).show(); 
            
            var addClsName = '.add'+KeyId;
            var CancelClsName = '.cancel'+KeyId;
            
            
             $(addClsName).hide();
            $(CancelClsName).show()      
        }
        
        function collapse(KeyId) {
        
            var fg = '#'+KeyId;
            $(fg).hide(); 
            
            var addClsName = '.add'+KeyId;
            var CancelClsName = '.cancel'+KeyId;
            
            $(addClsName).show();
            $(CancelClsName).hide()
        }
        
        function newTab() {
             //alert('{!knPrefixId}');
             parent.parent.location.href = '/apex/KNEssentials__Createtab?prefixId='+'{!knPrefixId}'+'&param=KNEssentials__Console&sfdctabName='+'{!urlTabId}';
        }
        function newVideo() {
        
             parent.parent.location.href = '/apex/KNEssentials__CreateVideo?prefixId='+'{!videoLibPrefixId}'+'&param=KNEssentials__Console&sfdctabName='+'{!urlTabId}';
        }
        function newCoach(key) {
            parent.parent.location.href = '/apex/KNEssentials__CreateCoach?prefixId='+'{!coachPrefixId}'+'&tabId='+key+'&sfdctabName='+'{!urlTabId}';
        }  
        
        function existingCoach(recId) {
            parent.parent.location.href = '/apex/KNEssentials__CreateCoach?prefixId='+'{!coachPrefixId}'+'&Id='+recId+'&sfdctabName='+'{!urlTabId}';
        } 
        
        function existTab(recId) {
            parent.parent.location.href = '/apex/KNEssentials__Createtab?prefixId='+'{!knPrefixId}'+'&param=KNEssentials__Console&Id='+recId+'&sfdctabName='+'{!urlTabId}';
        } 
    </script>
    
    
</apex:page>