<apex:page controller="smagicinteract.SMHomeController" tabStyle="SM_Home__tab" action="{!chkOpenSetupWizard}">
    
<apex:includeScript value="/soap/ajax/15.0/connection.js"/>
<apex:includeScript value="/soap/ajax/15.0/apex.js"/>
<apex:includeScript value="{!$Resource.smagicinteract__BulkSMSJS}"/>
<apex:includeScript value="{!$Resource.smagicinteract__jquery}" />
<script>

   $(document).ready(function(){    
   updatemeter();
   });
       
    function updatemeter() { 

     var stepComplete = document.getElementById('{!$Component.stepcomplete}').innerHTML;              
     if( stepComplete == 6 ) { 
       document.getElementById('progressbar-container').style.visibility = "hidden" ; 
     }  
     else {                                   
       document.getElementById('stepinfotext').innerHTML = stepComplete ;
       var complete = (stepComplete/6)*150 ;
       document.getElementById('iprogressbar').style.width = complete + 'px'  ;                
     }              
    }
                  
</script>

<style type="text/css">
        .custPopup{
            background-color: white;
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            z-index: 9999;
            padding:10px;
            position: absolute;
            width: 350px;
            left:40%;
            top:250px;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

        #progressbar {
            background-color: #fff; 
            border: solid 1px grey;
            padding: 0px;
            width:150px;    
        }
        
        #iprogressbar {
            background-color: #2AABAB ;
            width: 00px; /* Adjust with JavaScript */
            height: 15px;   
        }    

</style>
<c:Expired_Message_Component isPanelVisible="{!showExpiredMessage}"/>

<c:subscriptionChangeMessage showPanel="{!showSubscriptionChangeMessage}" />
<apex:outputPanel rendered="{!isVisible}" >
 
<apex:outputtext value="{!stepComplete}" id="stepcomplete"   style="display:none"   /> 
    
<apex:sectionHeader title="{!$Label.smagicinteract__SMHOME_PAGE_SECTION_TITLE} - {!$User.FirstName} {!$User.LastName}" subtitle="{!$Label.smagicinteract__SMHOME_PAGE_SECTION_SUBTITLE}"/>
       		<div id="progressbar-container" >
       			<a href="/apex/SetupWizard">
        			<div id="progressbar" style="float:right;width:150px">
            			<div id="iprogressbar"></div>
        			</div>
        			<span style="float:right;margin-right:20px;vertical-align:middle;"> {!$Label.SETP_WIZRD_STEPS_COMPLTN_MSG} <span id="stepinfotext"></span> {!$Label.SETP_WIZRD_STEPS_COMPLTN_MSG1}</span>&nbsp;&nbsp; 
        			<div style="clear:both;"></div>
       		 	</a>
       		</div>
       <br/>
<apex:form >
<apex:pageBlock title="{!$Label.smagicinteract__SMHOME_PAGE_SECTION_TITLE}"  helpTitle="{!$Label.smagicinteract__PAGE_HELP_TITLE}" helpUrl="{!helpLink}">
<apex:pageMessages id="pgMsg" escape="false"/>

<apex:outputPanel styleClass="popupBackground"  rendered="{!isConfigurationDone}"/>
<apex:outputPanel styleClass="custPopup" layout="block" rendered="{!isConfigurationDone}"  >
<div id="popupMessageHeader" style="width:100%; height:10%; background-color:#8BBEC1;">
       <div title="" style="color:white; text-align:left; font-family:sans-serif; font-weight:bold; vertical-align: middle; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;"> {!$Label.PENDING_CONFIGURATION_MSG_HEADER}  </div> 
</div>
       <br /><br />
       <apex:outputPanel style="font-size:15px;">
{!$Label.smagicinteract__PENDING_CONFIGURATION_MSG_BODY} <br/><br/><br/><br/>
       </apex:outputPanel>
       <apex:outputPanel >
       <table width ="100%">
       <tr>
       <td align="center">
                <apex:commandButton title="{!$Label.smagicinteract__PENDING_CONFIGURATION_MSG_OK_BUTTON}" value="  {!$Label.smagicinteract__PENDING_CONFIGURATION_MSG_OK_BUTTON}  " action="{!openSetUpWizard}"/>
       </td>
       </tr>
       </table>
       </apex:outputPanel>
</apex:outputPanel>

<apex:pageBlockButtons location="top" rendered="{!isRegistered}">
<apex:commandButton value="{!$Label.smagicinteract__NEW_SMS_BUTTON}" rendered="{!isRegistered}" onclick="redirectTo('/apex/NewSMS','/apex/SMHome');return false;" title="{!$Label.smagicinteract__NEW_SMS_BUTTON}" />
<apex:commandButton value="{!$Label.smagicinteract__NEW_SMS_TEMPLATE_BUTTON}"  rendered="{!isRegistered}" onclick="redirectTo('/apex/NewSMSTemplate','/apex/SMHome');return false;" title="{!$Label.smagicinteract__NEW_SMS_TEMPLATE_BUTTON}" />
</apex:pageBlockButtons>

<apex:pageBlockSection title="" columns="2" rendered="{!showRegistration}">
<apex:facet name="header"> {!$Label.smagicinteract__SMHOME_REGISTRATION_SECTION_TITLE} </apex:facet>
<apex:outputText value="{!$Label.smagicinteract__SMHOME_REGISTRATION_HEADER}" />
<apex:actionFunction name="executeWS" action="{!executeWS}"></apex:actionFunction>
<apex:commandButton action="{!manualRegister}" value="{!$Label.smagicinteract__SMHOME_REGISTER_BUTTON}" onComplete="executeWS();"/>
</apex:pageBlockSection>

<apex:pageBlockSection title="" columns="1" rendered="{!showApiKeyConfiguration}">
<apex:facet name="header"> {!$Label.smagicinteract__SMHOME_API_KEY_TITLE} </apex:facet>
<apex:outputLabel value="{!$Label.smagicinteract__SETUP_STEP_2_API_KEY_LABEL}" for="apiKey"/>
<apex:inputText value="{!apiKey}" id="apiKey" maxlength="256"/>
<apex:commandButton value="{!$Label.smagicinteract__SAVE_BUTTON}" action="{!saveApiKey}"/>
</apex:pageBlockSection>

<apex:pageBlockSection title="" columns="2">
<apex:facet name="header"> {!$Label.smagicinteract__SMS_MAGIC_INFO_TITLE} </apex:facet>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.smagicinteract__ACCOUNTID_LABEL}" for="accountId"/>
<apex:outputText value="{!accountId}"  id="accountId"/>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!IF(usingThirdPartyPipe, false, true)}">
<apex:outputLabel value="{!$Label.smagicinteract__REMAINING_CREDITS_LABEL}" for="availableCredits"   />
<apex:outputText value=""  id="availableCredits">
{!availableCredits}   
&nbsp;&nbsp;&nbsp;<apex:outputLink target="_blank" value="https://sms-magic.in/pricing/topup" style="color:red;">{!$Label.smagicinteract__CREDITS_BUY_LINK}
</apex:outputLink>
</apex:outputText>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.smagicinteract__PACKAGE_TYPE_LABEL}" for="pkgType"   />
<apex:outputText value=""  id="pkgType">
{!pkgType}   
</apex:outputText>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
</apex:pageBlockSectionItem>


</apex:pageBlockSection>


<apex:pageBlockSection title="" columns="1"  rendered="{!isRegistered}">
<apex:facet name="header"> {!$Label.smagicinteract__RECENT_SMS_SECTION_TITLE} </apex:facet>
    <apex:pageBlockTable value="{!recentSMS}" var="sms" columnsWidth="25%,25%,25%,25%" width="100%">
        <apex:column value="{!sms.smagicinteract__Name__c}" headerValue="{!$Label.smagicinteract__SMS_TABEL_NAME_COLUMN}" width="20%" title="{!sms.smagicinteract__Name__c}"/>
        <apex:column value="{!sms.smagicinteract__PhoneNumber__c}" headerValue="{!$Label.smagicinteract__SMS_TABEL_MOBILE_COLUMN}" width="20%" title="{!sms.smagicinteract__PhoneNumber__c}"/>
        <apex:column value="{!sms.smagicinteract__SMSText__c}" headerValue="{!$Label.smagicinteract__SMS_TABEL_TEXT_COLUMN}" width="40%" style="max-width:250px; overflow:hidden;" title="{!sms.smagicinteract__SMSText__c}"/>
        <apex:column value="{!sms.CreatedDate}" headerValue="{!$Label.smagicinteract__SMS_TABEL_CREATEDON_COLUMN}" width="20%" title="{!sms.CreatedDate}"/>
    </apex:pageBlockTable>
</apex:pageBlockSection>


<apex:pageBlockSection title="" columns="1"  rendered="{!isRegistered}">
<apex:facet name="header"> {!$Label.smagicinteract__RECENT_INBOUND_SMS_SECTION_TITLE} </apex:facet>
    <apex:pageBlockTable value="{!recentInboundSMS}" var="sms" columnsWidth="25%,25%,25%,25%" width="100%">
        <apex:column value="{!sms.smagicinteract__Inbound_Number__c}" headerValue="{!$Label.smagicinteract__RECENT_INBOUND_SMS_TABEL_INBOUND_NUMBER_COLUMN}" width="20%" title="{!sms.smagicinteract__Inbound_Number__c}"/>        
        <apex:column value="{!sms.smagicinteract__Mobile_Number__c}" headerValue="{!$Label.smagicinteract__SMS_TABEL_MOBILE_COLUMN}" width="20%" title="{!sms.smagicinteract__Mobile_Number__c}"/>
        <apex:column value="{!sms.smagicinteract__SMS_Text__c}" headerValue="{!$Label.smagicinteract__SMS_TABEL_TEXT_COLUMN}" width="40%" style="max-width:250px; overflow:hidden;" title="{!sms.smagicinteract__SMS_Text__c}"/>
        <apex:column value="{!sms.CreatedDate}" headerValue="{!$Label.smagicinteract__SMS_TABEL_CREATEDON_COLUMN}" width="20%" title="{!sms.CreatedDate}"/>
    </apex:pageBlockTable>
</apex:pageBlockSection>


</apex:pageBlock>
</apex:form>
</apex:outputPanel>
</apex:page>