<apex:page id="TwoWayMessages" standardController="Lead" extensions="TwilioSF.StandardControllerExt" lightningStylesheets="true" sidebar="false">
    <c:TwoWay standardController="{!standardController}"/>
</apex:page>