<apex:page controller="webider_ltcfree.FeatureConsoleController" showHeader="true" standardStylesheets="false" sidebar="true"  applyBodyTag="false" docType="html-5.0">
    <apex:form >
        <apex:actionFunction action="{!save}" name="changeSetting"/>
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
            <head>
                <meta charset="utf-8" />
                <meta http-equiv="x-ua-compatible" content="ie=edge" />
                <title>Activity Lightning Components Pro Setup</title>
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <!-- Import the Design System style sheet -->
                <apex:slds />
            </head>
            <style>
                .c-padding-tl{
                padding-top: 0.5rem;
                padding-left: 0.5rem;
                }
                .social_footer li{
                
                margin-top:15px;
                }
                .slds-scope .slds-card__header-link {
                color: #334d6f;
                font-weight: 700;
                }
                .custom-warning{
                background-color: rgb(255, 183, 93) !important;
                color: rgb(8, 7, 7);
                text-align: center;
                }
                .custom-success{                
                color: rgb(255, 255, 255);
                background-color: rgb(4, 132, 75)  !important;
                text-align: center;
                }
                
                .custom-success a {
                color: yellow;
                text-decoration: underline;
                transition: color .1s linear;
                }
                .custom-success a:hover , .custom-success a:active{
                color: #FFF;
                
                }
            </style>
            <body>
                
                <!-- REQUIRED SLDS WRAPPER -->
                <div class="slds-scope">                    
                    <!-- Setup header -->     
                    <div class="slds-page-header ">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span  title="Description of icon when needed">
                                    <img src="{!$Resource.webiderResources + '/img/small_logo_pro.png'}" alt="myFavorites" width="52" class="slds-icon_container"   />
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <p class="slds-text-body_small slds-m-top_xxx-small" style="color: rgb(0, 109, 204);">Setup</p>
                                <h1 class="slds-page-header__title slds-truncate slds-align-middle slds-m-top_xxx-small" title="Activity Lightning Components Pro Setup">Activity Lightning Components Pro</h1>
                            </div>
                        </div>
                    </div>                    
                    <!--  end hearder --> 
                    <div class="slds-m-top_medium slds-m-bottom_large">                        
                        <center>                            
                            <a href="https://webider.com/activitypro" data-href="javascript:void(0)" >
                                <img src="{!$Resource.webiderResources + '/img/activity_ltc_pro_final_logo_web.png'}"  title="Activity Lightning Components Pro" />
                            </a>
                        </center>
                    </div>
                    <!-- PRIMARY CONTENT WRAPPER -->
                    <div class="myapp slds-p-horizontal_medium">  
                        <apex:outputPanel rendered="{!isSandbox}">  
                            <!---Alert Box org not license box Panel Start---->
                            <article class="slds-card custom-success slds-m-bottom_large">                                
                                <div class="slds-card__body slds-card__body_inner">   
                                    <h2 class="slds-text-color_inverse"> <span class="slds-icon_container slds-icon-utility-success slds-m-right_x-small" >
                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true" style="fill: rgb(250, 250, 249)">
                                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#success"></use>
                                        </svg>
                                        </span>Activity Pro is licensed. You can enable or disable Activity Pro features using the following button. 
                                        <br/><i>Note: For production orgs, you can request an upgrade to <a title="Webider" href="https://www.webider.com/activitypro"  target="_blank" >Activity Pro (myTasks and myEvents)</a> version.</i>
                                    </h2>
                                </div>                                
                            </article>
                            <!---Alert Box org not license box Panel End---->
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!AND(!isActProEnable,checkTrial)}">  
                            <!---Alert Box org not license box Panel Start---->
                            <article class="slds-card custom-warning slds-m-bottom_large">  
                                
                                <div class="slds-card__body slds-card__body_inner">   
                                    <h2> <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" >
                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true" style="fill: rgb(22, 50, 92);">
                                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#warning"></use>
                                        </svg>
                                        </span>
                                        Activity Pro Trial will expire on <b><apex:outputText value="{0, date, Long}">
                                        <apex:param value="{!TrialDate}" /> 
                                        </apex:outputText>.</b> Want to Upgrade to Activity Pro Version <a title="Webider" href="https://www.webider.com/activitypro"  target="_blank" >Click Here</a>. You can enable or disable Activity Pro features using the following button.   </h2>
                                </div>                                
                            </article>
                            <!---Alert Box org not license box Panel End---->
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!OR(isActProEnable,checkTrial)}"> 
                            
                            <apex:outputPanel rendered="{!AND(isActProEnable,!isSandbox)}"> 
                                <article class="slds-card custom-success slds-m-bottom_large">                                    
                                    <div class="slds-card__body slds-card__body_inner">   
                                        <h2 >                  
                                            <span class="slds-icon_container slds-icon-utility-user slds-m-right_x-small" >
                                            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#success"></use>
                                            </svg>
                                            </span>{!ACTProPlanMsg}. You can enable or disable Activity Pro features using the following button.
                                        </h2>                                        
                                    </div>                                    
                                </article>                                
                            </apex:outputPanel>
                            
                            <article class="slds-card slds-p-left_medium">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media slds-media_center slds-has-flexi-truncate">                                        
                                        <div class="slds-media__body">
                                            <h2 class="slds-card__header-title">
                                                <P class="slds-card__header-link" title="Enable Activity Lightning Components Pro Version">
                                                    <span class="slds-text-heading_small">Enable Activity Lightning Components Pro Version </span>
                                                </P>
                                            </h2>
                                        </div>
                                        
                                        <div class="slds-no-flex">
                                            <div class="demo-only slds-size_1-of-2">
                                                <div class="slds-form-element">
                                                    <label class="slds-checkbox_toggle slds-grid">                                                        
                                                        <apex:inputCheckbox value="{!features[0].enabled}" onchange="changeSetting()"/>
                                                        <span id="checkbox-toggle-2" class="slds-checkbox_faux_container" aria-live="assertive">
                                                            <span class="slds-checkbox_faux"></span>
                                                            <span class="slds-checkbox_on"></span>
                                                            <span class="slds-checkbox_off"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <div class="slds-card__body slds-card__body_inner">This will activate the Pro Version of Activity (myTasks and myEvents) Components in your org. The Pro version offers the premium additional features and custom components configurations to help you improve Sales Activities Management via faster Tasks Completion and Stay on top of the events.</div>
                            </article>
                        </apex:outputPanel>                      
                        
                        
                        
                        
                        <apex:outputPanel rendered="{!AND(!isActProEnable,!checkTrial)}">  
                            <!---Alert Box org not license box Panel Start---->
                            <article class="slds-card custom-warning">                                
                                <div class="slds-card__body slds-card__body_inner">   
                                    <h2> <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" >
                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true" style="fill: rgb(22, 50, 92);">
                                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#warning"></use>
                                        </svg>
                                        </span>
                                        Your org is not licensed for Activity Pro version. Please contact your Salesforce Administrator or reach out to Webider Corp at <a href="mailto:contact@webider.com" title="contact@webider.com" class="slds-m-left_xx-small">contact@webider.com</a> </h2>
                                </div>                                
                            </article>
                            <!---Alert Box org not license box Panel End---->
                        </apex:outputPanel>
                        
                        
                        
                        
                        <!---What You Get in Pro Version Panel Start---->
                        <article class="slds-card slds-p-left_medium slds-m-top_medium">
                            <div class="slds-card__header slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">                                    
                                    <div class="slds-media__body">
                                        <h2 class="slds-card__header-title">
                                            <P class="slds-card__header-link" title="About Activity  Pro Features:">
                                                <span class="slds-text-heading_small">About Activity Pro Features: </span>
                                            </P>
                                        </h2>
                                    </div>                                    
                                </header>
                            </div>
                            <div class="slds-card__body slds-card__body_inner">  
                                <p>The Activity Pro version adds tons of additional features to improve your productivity for tasks and events completion. In addition, the Activity Pro version makes Sales activities management super easy using one-click actions. You can manage your tasks or events with up to 50% fewer clicks. The key Pro features include the following: 
</p>
                                <ul class="slds-list_dotted slds-m-top_medium slds-p-bottom--medium slds-has-block-links_space">
                                  
                                    <li> Access to your custom list views   </li>
  <li> More Inline Actions within the component e.g. Clone, Follow up, etc.  </li>
  <li> New Mass Action bar  </li>
  <li> Mass Update Actions to update multiple Tasks or Events  </li>
  <li> Multi-Add Tasks or Events right from the component  </li>
  <li> Date picker to filter Tasks or Events list  </li>
  <li> Additional Component Level configurations for the Salesforce Admin i.e </li>
                                    <ul class="slds-list_dotted slds-p-bottom--medium slds-has-block-links_space">
                                        <li> Configure Filter Boxes</li>
 <li>Lock Filter Picklist </li>
 <li>Default Filter Picklist </li>
 <li>Hide New and Multi Record Add Button</li>
 <li>Hide Filter Boxes </li>
 <li>Hide Email/Phone Icon</li>
 <li>Control Hyperlink open behaviors </li>
 <li>and more …</li>

                                    </ul>

                                </ul>
                                <h3 style="font-weight: bold; color:brown;" class="slds-m-bottom--medium"> 
                                <a title="Webider" href="https://www.webider.com/activitypro"  target="_blank" >Click Here</a> to  learn more about Activity (myTasks and myEvents) Components Pro Version.
                                </h3>
                            </div>                            
                        </article>
                        <!---What You Get in Pro Version Panel End---->                        
                        <apex:outputPanel rendered="{!OR((!isActProEnable),isSandbox)}">  
                            <!---Upgrade to Pro Panel Start---->
                            <article class="slds-card slds-p-left_medium slds-m-top_medium">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media slds-media_center slds-has-flexi-truncate">                                    
                                        <div class="slds-media__body">
                                            <h2 class="slds-card__header-title">
                                                <P class="slds-card__header-link " title="How to Upgrade to the Activity Pro Version?">
                                                    <span class="slds-text-heading_small">How to Upgrade to the Activity Pro Version?</span>
                                                </P>
                                            </h2>
                                        </div>                                    
                                    </header>
                                </div>
                                <div class="slds-card__body slds-card__body_inner">                                     
                                    You can upgrade to Activity Components Pro Version at any time and get all the additional features and productivity gains.  We have multiple pricing editions based on your org size. Please reach out to us via one of the following methods and we will be happy to assist with your needs.  <br/>
                                    <h3 style="font-weight: bold; color:brown;" class="slds-m-top_small">Submit <a title="Webider"  target="_blank" href="https://www.webider.com/activitypro" > Request to Upgrade/FREE Trial form</a> online OR contact us via <a title="Webider" href="mailto:contact@webider.com?subject='Activity Pro Request - '" target="_blank">contact@webider.com</a> to learn more about <a title="Webider" href="https://activitycomponents.com/"  target="_blank" >Activity (myTasks and myEvents) Components</a> Pro Version.
                                    </h3>
                                    
                                </div>                                
                            </article>
                            <!---Upgrade to Pro Panel End---->
                        </apex:outputPanel>                     
                        
                        <!---learning Resource Panel Start---->
                        <article class="slds-card slds-p-left_medium slds-m-top_medium">
                            <div class="slds-card__header slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">                                    
                                    <div class="slds-media__body">
                                        <h2 class="slds-card__header-title">
                                            <P class="slds-card__header-link" title="Learning Resources:">
                                                <span class="slds-text-heading_small">Learning Resources: </span>
                                            </P>
                                        </h2>
                                    </div>                                    
                                </header>
                                
                            </div>
                            <div class="slds-card__body slds-card__body_inner"> 
                                <p>Following are the list of resources to help you learn more about Activity Pro (myTasks and myEvents) components features:</p>
                                <ul class="slds-list_dotted slds-m-top_medium slds-p-bottom--medium slds-has-block-links_space">
                                    <li><a href="https://www.webider.com/actoverviewyoutube" target="_blank" data-href="javascript:void(0)">Activity Components Video Overview</a></li>
                                    <li><a href="https://www.webider.com/actpropertiesguide" target="_blank" data-href="javascript:void(0)"  >Components Properties Admin Guide</a></li>
                                    <li><a href="https://www.webider.com/actrelnotes" target="_blank" data-href="javascript:void(0)" >Release Notes</a></li>
                                    <li><a href="https://www.webider.com/actfreevsprobro" target="_blank" data-href="javascript:void(0)"  >Free vs Pro Version Brochure </a></li>
                                    <li><a href="https://www.webider.com/actfreevsprosheet" target="_blank" data-href="javascript:void(0)" >Free vs Pro Version Data Sheet</a></li>
                                    <li><a href="https://www.webider.com/actfaq" target="_blank" data-href="javascript:void(0)"  >FAQ</a></li>                                    
                                    <li><a href="https://activitycomponents.com/" target="_blank" data-href="javascript:void(0)"  >More info on Activity Components Website</a></li>  
                                    
                                </ul>                         
                            </div>                            
                        </article>
                        <!---learning Resource Panel End---->
                        <!---Contact Us  Panel Start---->
                        <article class="slds-card slds-p-left_medium slds-m-top_medium">
                            <div class="slds-card__header slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">                                    
                                    <div class="slds-media__body">
                                        <h2 class="slds-card__header-title">
                                            <b> <P class="slds-card__header-link" title="Contact Us">
                                                <span class="slds-text-heading_small">Contact Us</span>
                                                </P></b>
                                        </h2>
                                    </div>                                    
                                </header>
                            </div>
                            <div class="slds-card__body slds-card__body_inner">  
                                <h3 style="font-weight: bold; color:brown;" class="slds-m-top_small"> 
                                 If you need any assistance, Please feel free to reach out to us via the below channels:
                                </h3>
                                <ul class="social_footer">
                                    <li>Email: <a href="mailto:contact@webider.com" target="_blank" >contact@webider.com</a></li>                                   
                                    <li>Website: <a href="https://activitycomponents.com/" target="_blank" >https://activitycomponents.com</a> </li>
                                    <li>Twitter: <a href="https://www.twitter.com/Webider" target="_blank">@Webider</a>  </li>
                                    <li>Facebook: <a href="https://www.facebook.com/webider/" target="_blank">https://facebook.com/webider/</a>  </li>
                                </ul>
                            </div>                            
                        </article>
                        <!---Contact Us Panel End---->                        
                        <div class="demo-only slds-m-top_small slds-text-color_weak slds-m-top_xx-large slds-text-body_small" >
                            <i><b>Disclaimer:</b> By enabling the Pro-version you (The Customer) agree to share the total number of active users in your org with Webider Corp to match the appropriate license tier for Activities Lightning Components Package to your org. Please reach out to <a href="mailto:support@webider.com" title="support@webider.com" >support@webider.com</a> for any questions or concerns.
                            </i>
                        </div>
                    </div>
                    <!-- / PRIMARY CONTENT WRAPPER -->
                    <!-- FOOTER -->
                    <!-- / FOOTER -->
                </div>                
                <!-- / REQUIRED SLDS WRAPPER -->
                <!-- JAVASCRIPT -->
                <!-- / JAVASCRIPT -->
            </body>
        </html>
    </apex:form>
</apex:page>