<template>
    <lightning-spinner alternative-text="Loading" variant="brand" size="medium" if:true={showSpinner}>
    </lightning-spinner>
    <template if:true={isDatavisible}>
        <lightning-card>
            <h3 slot="title">
                <lightning-icon icon-name="standard:account" size="small"></lightning-icon> Update Contact On Case.
            </h3>
            <p class="slds-p-horizontal_small">
                <lightning-input type="search" class="slds-m-bottom_small" label="Search Contact Name"
                    onchange={searchContactAction} value={contactName}></lightning-input>

                <lightning-button variant="brand" label="Update" title="Update" onclick={handleUpdateButtonClick}
                    class="slds-m-left_x-small"></lightning-button>
            </p>
            <br><br>

            <table border="1" bordercolor="#ddd" cellpadding="5" cellspacing="0" style="border-collapse:collapse;"
                class="lwsTablePad">
                <tr>
                    <th>Select </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Account Name</th>
                    <th>Contact Record Type</th><!--Added on 28th June 2022-->
                </tr>
                <template for:each={contactList} for:item="conObj" for:index="index">
                    <tr class="slds-hint-parent" key={conObj.Id}>
                        <td><input type="radio" class="slds-hint-parent-conRadioInput" name="conRadioInput"
                                value={conObj.Id} onchange={radioChnage} /></td>
                        <td>{conObj.name}</td>
                        <td>{conObj.email}</td>
                        <td>{conObj.accountName}</td>
                        <td>{conObj.conRecordTypeName}</td> <!--Added on 28th June 2022-->
                    </tr>
                </template>
            </table>
        </lightning-card>
    </template>



    <template if:true={isConvisible}>
        <template if:true={isSingle}>

            <div class="slds-modal__header">
                <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Confirmation</h1>
            </div>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <p>Are You sure to update the records?</p>
            </div>
            <div class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" aria-label="Cancel and close"
                    onclick={closeClick}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={updateCurrectCase}>Yes</button>
            </div>

        </template>
    </template>


    <!--mutiple-->
    <template if:true={isMultipleContact}>
        <div class="slds-modal__header">
            <h1 id="modal-heading-011" class="slds-modal__title slds-hyphenate">Confirmation</h1>
        </div>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-11">
            <p>Would you like to update the other Cases associated with the same selected contact?</p>
        </div>
        <div class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" aria-label="Cancel and close"
                onclick={updateCurrectCase}>Single Record</button>
            <button class="slds-button slds-button_brand" onclick={updateAllContact}>Yes,All</button>
        </div>

    </template>
</template>