.THIS .slds-box {
    border: 0.5px solid rgb(181, 179, 179);
    background-color: #fbfafa;
}
.THIS .style-box{
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
}