<template>
    
    <template if:true={asset.data}>

        <template if:true={showMessage}>

            <div class="slds-p-around_small">

                <span class="slds-p-right_x-small">
                    <c-font-awesome-icon icon-name="Info" icon-size-override="2x"></c-font-awesome-icon>
                </span>

                <template if:true={showNotCompatibleMessage}>
                    {notCompatibleMessage}
                </template>

                <template if:true={showCompatibleMessage}>
                    {compatibleMessage}
                </template>   
                
            </div>
            
        </template>

    </template>

</template>