.THIS {
}

.THIS .tableBorder{
/*    border-collapse: separate;
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218);
    background-color: rgb(255, 255, 255);
    font-size: inherit;
    border-spacing: 0;
    border-color: grey;*/
/*    background-color: rgb(250, 250, 249);
	color: rgb(81, 79, 77);*/
	border: 1px solid #e0d9d9;

}

.THIS .tableHeader{
	/*background-color: rgb(250, 250, 249);*/
    background:rgb(207, 235, 254);
	/*color: rgb(81, 79, 77);	*/
    color: rgb(0, 57, 107);
    
}
.THIS .mr-10{
	margin-top: 2rem;
}

.THIS table {
    width: 40%;
}