.THIS .slds-text-heading_small{
    display: flex !important;
}

.THIS .combo-box-no-label label{
    display: none;
}

.THIS .combo-box-no-label .slds-form-element__control{
    max-width: none;
    padding-right: 10px;
}

.THIS .slds-modal__container{
    max-width: fit-content;
}

.THIS .new-user-modal{
    border-top: none;
}

.THIS .new-user-modal .slds-form-element{
    line-height: 30px;
}

.THIS .new-user-modal .slds-form-element__control{
    padding-left: 15% !important;
    max-width: 90%;
}

.THIS .new-user-modal .dual-list-box .slds-form-element__control{
    padding-left: 14% !important;
    max-width: none;
}

.THIS .new-user-modal .slds-form-element__label{
    padding-left: 5% !important;
}

.THIS .new-user-modal .uiInputCheckbox{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-flex;
}

.THIS .new-user-modal .input-description{
    padding-left: 15%!important;
}

.THIS .new-user-modal .slds-checkbox_faux{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-flex;
}

.THIS .new-user-modal .slds-listbox__item {
    line-height: initial;
}

.THIS .new-user-modal .slds-dueling-list__options{
    max-height: 150px;
}

.THIS .new-user-modal .slds-dueling-list__column .slds-form-element__label{
    padding-left: 0px !important;
}

.THIS .new-user-modal .slds-dueling-list__options .slds-media__body span{
    max-width: none;
}

.THIS .slds-dueling-list__column lightning-button-icon:first-of-type {
    margin-top: 40px;
}