.THIS {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.THIS .slds-form-element{
    padding-top: 0.25rem !important;
    padding-right: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.THIS .slds-form-element__control{
    max-width: none;
}

.THIS .full-width-input-control{
    padding-left: 0px !important;
}

.THIS .full-width-input{
    padding-left: 0px !important;
}