/*LS matching style to standard Article Detail page */
.THIS body{
    margin-top: 30px;
}

.THIS .title {
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
}

.THIS .gen {
    font-size:.75rem;
}

.THIS .bold {
    font-weight:bold;
}

.THIS .type {
    font-size:14px;
    font-weight:bold;
    color:red;
}



.THIS .field-name {
    font-family: Lato;
    font-weight: 600;
    font-size: 1rem;
}

.THIS .field-value {
    font-family: Lato;
    font-size: 1.15em;
}

.THIS .field-section {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}