.THIS .table-title-container{
    margin-top: 10px;
    background-color: deepskyblue;
    border-width: thin;
    border-style: groove;
    text-align: center;
    font-family: "Salesforce Sans";
    font-size: 13px;
    font-weight: 700;
    height: 22px;
}

.THIS .data-table{
    min-height: 50px; 
    max-height: 175px;
    overflow: auto;
}

.THIS .table-container{
    display: initial;
}

.THIS .slds-form{
    width: 50%;
    height: 50px;
}

.THIS .slds-form__item{
    min-width: auto;
    max-width: 200px;
}

.THIS .slds-form-element__label{
    min-width: 75px;
}

.THIS .slds-form-element__control{
    padding-left: 12px;
    max-width: 200px;
}

.THIS .view-modes .slds-form-element__control{
    display: flex;
}

/* Hide the override action menu if the approval is assigned to the current user */
.THIS tr[data-row-key-value*="me-true"] td[data-label="Actions"] > *{
    visibility: hidden;
}

/* Hide the override action menu if the approval is assigned to the current user's delegate */
.THIS tr[data-row-key-value*="delegate-true"] td[data-label="Actions"] > *{
    visibility: hidden;
}

.THIS .footer-left{
    float: left;
    text-align: left;
    width: 100px;
}

.THIS .footer-center{
    float: left;
    text-align: center;
    width: 80%;
}

.THIS .slds-card__footer{
    height: 50px;
    line-height: 30px;
}

.THIS .modal-container{
    padding: 1rem;
}

.THIS .slds-button-group.approval-buttons{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.THIS .slds-button-group.approval-buttons .slds-button{
    margin: 4px;
}

.THIS .uiInputTextArea{
    padding-left: 20%;
    padding-right: 20%;
}

.THIS .slds-modal__container{
    width: 300px;
}