<template>

    <div class="slds-m-top_medium">

        <lightning-layout horizontal-align="spread" pull-to-boundary="true">     
            
            <lightning-layout-item>

                <h3 class="inline">{recordsInDisplay}</h3>

                <lightning-button-menu menu-alignment="auto" value={pageSize} onclick={onPageSizeClick}>
                    <template for:each={pageSizeOptions} for:item="menuItem">
                        <lightning-menu-item
                            key={menuItem.id}
                            value={menuItem.value}
                            label={menuItem.label}
                            checked={menuItem.checked}>
                        </lightning-menu-item>
                    </template>                    
                </lightning-button-menu>

            </lightning-layout-item>

            <template if:true={showPaginatorButtons}>

                <lightning-layout-item>

                    <template if:true={showFirstPageButton}>
        
                        <template if:true={hasPrevious}>
                            <lightning-button label="First Page" icon-name="utility:chevronleft" onclick={firstPage}></lightning-button>
                        </template>

                        <template if:false={hasPrevious}>
                            <lightning-button label="First Page" icon-name="utility:chevronleft" onclick={firstPage} disabled></lightning-button>
                        </template>
            
                    </template>                    

                    <template if:true={hasPrevious}>              
                        <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={previous}></lightning-button>
                    </template>

                    <template if:false={hasPrevious}>         
                        <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={previous} disabled></lightning-button>
                    </template>                       

                    <template if:true={hasNext}>
                        <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right" onclick={next}></lightning-button>
                    </template>

                    <template if:false={hasNext}>
                        <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right" onclick={next} disabled></lightning-button>
                    </template>   

                    <template if:true={showLastPageButton}>
        
                        <template if:true={hasNext}>
                            <lightning-button label="Last Page" icon-name="utility:chevronright" icon-position="right" onclick={lastPage}></lightning-button>
                        </template>

                        <template if:false={hasNext}>
                            <lightning-button label="Last Page" icon-name="utility:chevronright" icon-position="right" onclick={lastPage} disabled></lightning-button>
                        </template>
        
                    </template>                    

                </lightning-layout-item> 

            </template>
            
            <lightning-layout-item><h3 class="footer-right">Page {page} of {totalPages}</h3></lightning-layout-item>

        </lightning-layout>        

    </div>

</template>